.list__item-label {
  margin-inline-end: var(--s-6);
  font-weight: bold;
  text-transform: capitalize;
}

.list--none .list__container {
  list-style: none;
}

.list--none .list__item,
.grid .list__item {
  margin-left: 0;
}
