input,
textarea,
select {
  /*border: 1px solid var(--color-base-light-x);*/
  border: 1px solid var(--color-black);
  padding: var(--s-1);
  font-size: var(--s0);
  line-height: var(--s0);
  display: block;
  width: 100%;
}

.cluster input,
.cluster textarea,
.cluster select {
  width: auto;
}

.select-element-wrapper{
  border: 1px solid var(--color-black);
  position: relative;
}
.select-element-wrapper:after {
  content: '\2304';
  font-size: 30px;
  line-height: 23px;
  position: absolute;
  right: 10px;
  top: 3px;
  color: var(--color-accent-warm);
}

select {
  border: 0;
  -webkit-appearance: none;
  appearance: none;
}

label {
  font-size: var(--s0);
  line-height: var(--s0);
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item + .form-item {
  margin-block-start: var(--s5);
}

.form-item > * + * {
  margin-block-start: var(--s0);
}

.form-item .description {
  font-size: var(--s-1);
  line-height: var(--s0);
}

fieldset {
  border: 1px solid var(--color-base-light-x);
  padding: var(--s0);
}

.fieldset-wrapper > * + * {
  margin-block-start: var(--s0);
}
