.half-stack {
    width: 48%;
    --align-items: left;
}

input[type='text'], textarea{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    border:0 none;
    box-sizing:inherit;
    display:block;
    margin:0;
    background:#FFFFFF;
    padding:6px 10px;
    font-size:13px;
    position:relative;
    -webkit-transition:box-shadow 200ms ease-out,opacity 200ms ease-out;
    transition:box-shadow 200ms ease-out,opacity 200ms ease-out;
    color:#333333;box-shadow:rgba(0,0,0,.1) 0 0 0 1px inset;
    border-radius:4px;
    line-height:20px;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    text-align:left;
    width: 100%;
}

input[type='text'] {
    min-height:32px;
}

textarea {
    min-height: 100px;
}

.m-t-0 {
    margin-top: 0px;
}

.stay-aln {
    width: 95%;
    margin: 0px 55px;
}
