<div id="root">
  <div class="section section--justify-center section--align-center section--color-warm-dark-x">
    <div class="section__content container">
      <div class="section__header center stack" style="--space: var(--s0):">

        <h2>Contact Us</h2>
        <p>For questions or update for language access resources. Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
      </div>
      <div class="section__main center stack">
        <div class="cluster">
          <div class="el-input stack half-stack">
            <label class="el-input__label" for="txtYourName">Your Name</label>
            <div class="el-input__field m-t-0">
              <input type="text" id="txtYourName" name="txtYourName" placeholder="Enter name" />
            </div>
          </div>
          <div class="el-input stack half-stack">
            <label class="el-input__label" for="txtYourEmail">Your Email</label>
            <div class="el-input__field m-t-0">
              <input type="text" id="txtYourEmail" name="txtYourEmail" placeholder="Enter email" />
            </div>
          </div>
        </div>
        <div class="form-type-textfield">
          <label for="txtSubjectLine">Subject Line</label>
          <input type="text" id="txtSubjectLine" name="txtSubjectLine" placeholder="Enter subject" />
        </div>
        <div class="form-type-textbox">
          <label for="password">Message</label>
          <textarea id="txtMessage" name="txtMessage" placeholder="Type your messages here.."></textarea>
        </div>
        <div class="form-type-checkbox">
          <label class="label" for="chkremme">Remember me</label>
          <input type="checkbox" id="chkremme" name="chkremme" checked="checked" />
        </div>
        <div class="form-type-radio-button">
          <label class="label" for="subject">Turn Notifications</label>
          <label for="radio1">On:</label>
          <input type="radio" id="radio1" name="radioNotif" checked="checked" />
          <label for="radio2">Off:</label>
          <input type="radio" id="radio2" name="radioNotif" />
        </div>
      </div>
      <div class="section__button center">
        <a href="#" class="button button--secondary button--normal" _keys="class">Send Form</a>
      </div>
    </div>
  </div>
  <div class="section section--justify-center section--align-center section--color-primary-dark-xx">
    <div class="section__content container stay-aln">
      <div class="cluster">
        <div class="section__header stack half-stack" style="--space: var(--s0):">
          <h2>Stay Up-to-date</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis arcu lacus, et facilisis orci facilisis ut.</p>
        </div>
        <div class="el-input stack half-stack">
          <label class="el-input__label" for="txtFooterYourName">EMAIL ADDRESS</label>
          <div class="el-input__field m-t-0">
            <input type="text" id="txtFooterYourName" name="txtFooterYourName" placeholder="Enter name" />
            <a href="#" class="button button--secondary button--normal" _keys="class">Join</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>