hr.divider {
  padding-block-start: var(--s1);
  border: 0;
  border-bottom: 1px solid var(--color-base-light-x);
  margin-block-end: var(--s1);
}

input,
textarea,
select {
  border: 1px solid var(--color-base-light-x);
  padding: var(--s-1);
  font-size: var(--s0);
  line-height: var(--s0);
  display: block;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
}

select:not([multiple]) {
  background-origin: content-box;
  background-image: var(--chevron-down);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: var(--s-1);
}

select::-ms-expand {
  display: none;
}

select[multiple] > * + * {
  padding-block-start: var(--s-4);
}

.alt-select-style > div:not(.description) {
  position: relative;
  inline-size: fit-content;
  color: var(--accent-color);
}

.alt-select-style > div:not(.description)::after {
  content: '';
  mask-image: var(--chevron-down);
  mask-repeat: no-repeat;
  position: absolute;
  top: var(--s-5);
  right: 0;
  background-color: currentColor;
  width: var(--s-1);
  height: var(--s0);
  pointer-events: none;
}

.alt-select-style select {
  background-image: none;
  background-color: transparent;
  border: 0;
  padding-block: var(--s-5);
  padding-inline-start: 0;
  padding-inline-end: var(--s1);
  color: currentColor;
}

.placeholder-container {
  position: relative;
}

.placeholder-container input.form-checkbox:focus,
.placeholder-container input.form-checkbox:focus-visible {
  border-radius: 0;
}

.placeholder-container input:focus,
.placeholder-container input:focus-visible,
.placeholder-container textarea:focus,
.placeholder-container textarea:focus-visible {
  border-color: var(--accent-color);
  outline:0;
}

.placeholder-container.js-form-type-date input:focus ~ label,
.placeholder-container.js-form-type-date input:not(:placeholder-shown) ~ label,
.placeholder-container.js-form-type-textfield input:focus ~ label,
.placeholder-container.js-form-type-textfield input:not(:placeholder-shown) ~ label,
.placeholder-container.js-form-type-email input:focus ~ label,
.placeholder-container.js-form-type-email input:not(:placeholder-shown) ~ label,
.placeholder-container.js-form-type-tel input:focus ~ label,
.placeholder-container.js-form-type-tel input:not(:placeholder-shown) ~ label,
.placeholder-container.js-form-type-password input:focus ~ label,
.placeholder-container textarea:focus ~ label,
.placeholder-container textarea:not(:placeholder-shown) ~ label {
  padding: .25rem .5rem;
  transform: translateY(-34px) translateX(0px) scale(0.75);
}

.placeholder-container input:focus ~ label,
.placeholder-container textarea:focus ~ label {
  color: var(--accent-color);
}

.placeholder-container.js-form-type-date label,
.placeholder-container.js-form-type-email label,
.placeholder-container.js-form-type-password label,
.placeholder-container.js-form-type-textfield label,
.placeholder-container.js-form-type-textarea label,
.placeholder-container.js-form-type-tel label {
  color: var(--color-base-light-x);
  left: .5rem;
  top: 0;
  background-color: white;
  margin-block-start: var(--s0);
  pointer-events: none;
  position: absolute;
  padding: 0 .5rem;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
}

.cluster input,
.cluster textarea,
.cluster select {
  width: auto;
}

label {
  font-size: var(--s0);
  line-height: var(--s0);
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item + .form-item,
.form-item + .form-actions,
input + .form-item,
input + .form-actions {
  margin-block-start: var(--s2);
}

.form-item > * + * {
  margin-block-start: var(--s0);
}

form .description {
  font-size: var(--s-1);
  line-height: var(--s0);
}

fieldset {
  border: 1px solid var(--color-base-light-x);
  padding: var(--s0);
}

.fieldset-wrapper > * + * {
  margin-block-start: var(--s0);
}

.form--inline {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);
  justify-content: flex-start;
  align-items: center;
}

.form-radios .form-item,
.form-checkbox .form-item,
.form-checkboxes .form-item {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--s-2);
}

.form-radios > * + *,
.form-checkbox > * + *,
.form-checkboxes > * + * {
  padding-block-start: var(--s0);
}

.form-radios .form-item + .form-item,
.form-checkbox .form-item + .form-item,
.form-checkboxes .form-item + .form-item {
  margin-block-start: var(--s-3);
}

.form-radios div.form--inline .form-item + .form-item,
.form-checkbox div.form--inline .form-item + .form-item,
.form-checkboxes div.form--inline .form-item + .form-item {
  margin-block-start: 0;
}

.form-radios label,
.form-checkbox label,
.form-checkboxes label {
  margin-block-start: 0;
}

.form-radios input,
input.form-checkbox {
  width: 1rem;
  height: 1rem;
  padding: 8px;
  border: 1px solid var(--color-black);
  appearance: none;
}

.form-radios input:checked,
input.form-checkbox:checked {
  border-color: var(--accent-color) !important;
  background-color: var(--accent-color);
}

.form-checkbox input,
input.form-checkbox {
  display: grid;
  place-content: center;
}

input.form-checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--color-white);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input.form-checkbox:checked::before {
  transform: scale(1);
}

.form-radios input {
  border-radius: 50%;
}

.form-radio label,
.form-check label {
  font-size: var(--s-1);
}

fieldset {
  padding-block-start: var(--s2);
}

fieldset legend span {
  padding-inline: var(--s-2);
  padding-block-end: var(--s-5);
  margin-block-end: var(--s-3);
  border-block-end: 2px solid var(--accent-color);
}

fieldset .form-item.js-form-type-checkbox {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: var(--s-2);
}

fieldset .form-item.js-form-type-checkbox label {
  margin-block-start: 0;
}

/* Specific form styles */

/* content-moderation-control */
.entity-moderation-form {
  margin-block: 0;
  padding-block: var(--s-2);
  padding-inline: var(--s1);
}

.entity-moderation-form > .form-item,
.entity-moderation-form .form-item + .form-item {
  margin-block: 0;
}

.entity-moderation-form .form-item-current {
  font-weight: bold;
}

.entity-moderation-form input[type=submit] {
  margin-block: 0;
  margin-inline-start: auto;
}
.entity-moderation-form .form-item-revision-log {
  flex-grow: 1;
}

label.form-required:after,
fieldset legend span.form-required::after {
  content: '*';
  color: #df2626;
  margin-left: 5px;
}

input[required="required"]:not([type="radio"]):not([type="checkbox"]) {
   border-left: 1px solid #df2626;
}
