.breadcrumb {
  background-color: var(--color-accent-warm-light-xxxx);
  --gap: 0.5rem;
}

.breadcrumb__list {
  list-style-type: none;
}

.breadcrumb__item {
  font-size: var(--s-1);
  color: var(--color-base-dark-x);
}

.breadcrumb__item:not(:last-child):after {
  margin-inline-start: var(--gap, 0.5rem);
  content: '/';
}

.breadcrumb__label a {
  text-decoration: none;
}