.section-nav .section-nav__mobile--wrapper {
  padding-block: var(--s-5);
  width: 100%;
}

.section-nav.section-nav--has-label > .wrapping .section-nav__label,
.section-nav.section-nav--has-label > .wrapping .section-nav__desktop {
  overflow: 0;
  height: 0;
  max-height: 0;
  min-height: 0;
  visibility: hidden;
  flex-wrap: wrap;
}

.section-nav:not(.display-mobile-version) .section-nav__desktop--wrapper + .section-nav__mobile--wrapper {
  height: 0;
  min-height: 0;
  max-height: 0;
  padding: 0;
  gap: 0;
  opacity: 0;
  visibility: hidden;
}

.section-nav.display-mobile-version.section-nav--has-label .section-nav__desktop--wrapper:not(.wrapping) + .section-nav__mobile--wrapper {
  height: 0;
  min-height: 0;
  max-height: 0;
  padding: 0;
  gap: 0;
  opacity: 0;
  visibility: hidden;
}

.section-nav.display-mobile-version:not(.section-nav--has-label) .section-nav__desktop--wrapper:has( > .section-nav__desktop:not(.overflowing)) + .section-nav__mobile--wrapper {
  height: 0;
  min-height: 0;
  max-height: 0;
  padding: 0;
  gap: 0;
  opacity: 0;
  visibility: hidden;
}

.section-nav.display-mobile-version .section-nav__desktop--wrapper.wrapping + .section-nav__mobile--wrapper {
  width: 100%;
  opacity: 1;
  height: auto;
  min-height: unset;
  max-height: unset;
  visibility: visible;
}

.section-nav__wrapper:has(.section-nav .section-nav__desktop.overflowing) .section-nav__label.label-above {
  display: none;
}

.section-nav .section-nav__desktop--wrapper.wrapping + .section-nav__mobile--wrapper {
  width: 100%;
  opacity: 1;
  height: auto;
  min-height: unset;
  max-height: unset;
  visibility: visible;
}

.section-nav .section-nav__mobile {
  margin-block-start: var(--s-1);
  margin-inline: calc(var(--s1)* -1);
}

/* ========================================================================== */

.section-nav ul.section-nav__mobile {
  padding: 0;
  list-style: none;
  background-color: var(--color-white);
}

.section-nav li.section-nav__mobile__group {
  padding: 0;
  border-radius: 0;
  --gap: 0;
}

.section-nav li.section-nav__mobile__group:focus-within button {
  background-color: var(--color-accent-warm-light-xxxx);
  color: var(--accent-color);
}

.section-nav button.section-nav__mobile__button,
.section-nav a.section-nav__mobile__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: var(--s-1) var(--s1);
  font-size: var(--s-1);
  font-weight: 600;
  text-transform: uppercase;
  line-height: var(--s0);
  color: var(--color-base-dark-xxx);
  text-decoration: none;
}

.section-nav button.section-nav__mobile__button {
  cursor: pointer;
}

.section-nav a.section-nav__mobile__button:hover,
.section-nav button.section-nav__mobile__button:hover {
  cursor: pointer;
  background-color: var(--color-accent-warm-light-xxxx)
}

.section-nav button.section-nav__mobile__button::after,
.section-nav a.section-nav__mobile__button::after {
  display: none;
}

.section-nav button.section-nav__mobile__button:hover,
.section-nav a.section-nav__mobile__button:hover,
.section-nav button.section-nav__mobile__button:focus,
.section-nav a.section-nav__mobile__button:focus-within {
  border: none;
  outline: 0;
  border-radius: 0;
  color: var(--accent-color);
}

.section-nav button.section-nav__mobile__button .icon-wrapper,
.section-nav a.section-nav__mobile__button .icon-wrapper {
  width: var(--s0);
  height: var(--s0);
  color: var(--color-base-dark-x);
  border-radius: 0;
  pointer-events: none;
}

.section-nav ul.section-nav__mobile__list,
.section-nav ul.section-nav__mobile__list * {
  opacity: 0;
  height: 0;
  padding: 0;
  max-height: 0;
  min-height: 0;
}

.section-nav li.section-nav__mobile__group ul.section-nav__mobile__list:focus-within,
.section-nav li.section-nav__mobile__group .section-nav__mobile__button.open + ul.section-nav__mobile__list,
.section-nav li.section-nav__mobile__group ul.section-nav__mobile__list:focus-within *,
.section-nav li.section-nav__mobile__group .section-nav__mobile__button.open + ul.section-nav__mobile__list * {
  opacity: 1;
  height: auto;
  max-height: unset;
  min-height: unset;
  list-style: none;
}

ul.section-nav__mobile li + li .section-nav__button {
  border-block-start: 1px dashed var(--color-base-dark-x);
}

ul.section-nav__mobile li button.section-nav__mobile__button.open {
  border-block-end: 1px dashed var(--color-base-dark-x);
}

a.section-nav__mobile__link {
  padding: var(--s-6) var(--s1);
  gap: 0;
  display: flex;
  color: var(--color-base-dark-x);
  font-size: var(--s-1);
  text-decoration: none;
}

a.section-nav__mobile__link:hover,
a.section-nav__mobile__link:focus,
a.section-nav__mobile__link:active {
  color: var(--accent-color);
}

li.section-nav__mobile__list__item + li.section-nav__mobile__list__item {
  border-block-start: 1px dashed var(--color-base-dark-x);
}

.section-nav .section-nav__mobile__list li.section-nav__mobile__list__item:last-child {
  border-block-end: 1px dashed var(--color-base-dark-x);
}

.section-nav .section-nav__mobile__list .section-nav__mobile__list__item .section-nav__mobile__link {
  padding: var(--s-2) var(--s1);
  line-height: 1.3rem;
}

/* Position the hamburger menu trigger into the right place in the header */
.section-nav .section-nav__mobile--wrapper .nav-trigger {
  margin-inline-start: auto;
}

.section-nav .section-nav__mobile--wrapper .nav-trigger__label {
  position: absolute;
  right: 3rem;
  padding-block-start: 2px;
}

/*  Mobile alternate styling */
.section-nav:not(.display-mobile-version).display-mobile-version .section-nav__mobile--wrapper {
  padding-block: var(--s-3) var(--s-4);
}

.section-nav.display-mobile-version .section-nav__mobile {
  border-block-start: 1px solid var(--color-base-light-x);
}

.section-nav li.section-nav__mobile__list__item + li.section-nav__mobile__list__item {
  border-block-start: 1px solid var(--color-base-light-xx);
}

.section-nav .section-nav__mobile__list li.section-nav__mobile__list__item:last-child {
  border-block-end: 1px solid var(--color-base-light-xx);
}

.section-nav.display-mobile-version .section-nav__mobile--wrapper {
  padding-block: var(--s-1);
}

.section-nav.display-mobile-version .section-nav__mobile {
  border-block-start: 1px solid var(--color-base-light-x);
}

.section-nav li.section-nav__mobile__list__item + li.section-nav__mobile__list__item {
  border-block-start: 1px solid var(--color-base-light-xx);
}

.section-nav .section-nav__mobile__list li.section-nav__mobile__list__item:last-child {
  border-block-end: 1px solid var(--color-base-light-xx);
}

.section-nav a.section-nav__mobile__button:hover,
.section-nav button.section-nav__mobile__button:hover {
  background-color: var(--color-primary-light-x);
  color: var(--color-white);
}

.section-nav a.section-nav__mobile__button:hover .icon-wrapper,
.section-nav button.section-nav__mobile__button:hover .icon-wrapper {
  color: var(--color-white);
}

.section-nav .section-nav__mobile__group:has(.section-nav__mobile__button.is_active, .section-nav__mobile__link.is_active) .section-nav__mobile__button {
  background-color: var(--color-primary-dark-x);
  color: var(--color-white);
}

.section-nav li.section-nav__mobile__group:focus-within button,
.section-nav li.section-nav__mobile__group:focus-within button .icon-wrapper {
  background-color: var(--color-primary-light-x);
  color: var(--color-white);
}

.section-nav a.section-nav__mobile__button.in-active-trail,
.section-nav a.section-nav__mobile__link.is-active {
  font-weight: 600;
  color: var(--accent-color);
}

.section-nav a.section-nav__mobile__button.is-active {
  background-color: var(--color-primary-light-x);
  color: white;
}

.section-nav__mobile__overview-link {
  font-weight: 600;
}