/* Ordered list styles */
.legal ol {
  counter-reset: list;
}

.legal li + li {
  margin-block-start: var(--s-6);
}

.legal li + li > ol,
.legal li + li > ul {
  margin-block: var(--s1);
}

.legal ol > li {
  list-style: none;
}

.legal ol li::marker,
.legal ul li::marker {
  font-weight: 600;
}

.legal ol > li:before {
  width: var(--s2);
  display: inline-block;
  margin-inline-start: calc(var(--s2) * -1);
  margin-inline-end: var(--s-3);
  font-weight: 600;
  text-align: end;
  counter-increment: list;
  content: "(" counter(list, lower-alpha) ")";
}

.legal li li li li li ol > li:before {
  content: "(" counter(list, upper-roman) ")";
}

.legal li li li li ol > li:before {
  content: "(" counter(list, upper-alpha) ")";
}

.legal li li li ol > li:before {
  content: "(" counter(list, decimal-leading-zero) ")";
}

.legal li li ol > li:before {
  content: "(" counter(list, lower-roman) ")";
}

.legal li ol > li:before {
  content: "(" counter(list, decimal) ")";
}

.legal ol > li:before {
  content: "(" counter(list, lower-alpha) ")";
}

/* Unordered list styles */
.legal ul > li ul > li ul > li {
  list-style-type: circle;
}

.legal ul > li ul > li {
  list-style-type: square;
}

.legal li ul > li,
.legal ul > li {
  list-style-type: disc;
}
