{% set classes = [
  'text',
  'field',
  'stack',
] %}

<div class="{{ classes|join(' ') }}" style="max-width: var(--measure);">

  <h2>Legal formatted list items</h2>

  <p>The class <strong>"legal"</strong> needs to be applied to highest/first level ordered list to trigger the
    "Legal" styles. This is a mixed example of nested ordered items with unordered list items integrated within.</p>

  <ol class="legal">
    <li>Summum ením bonum exposuit vacuitatem doloris;</li>
    <li>Conferam tecum, quam cuique verso rem subicias;
      <ol>
          <li>Summum ením bonum exposuit vacuitatem doloris;</li>
          <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?
            <ol>
              <li>Summum ením bonum exposuit vacuitatem doloris;</li>
              <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?</li>
              <li>Conferam tecum, quam cuique verso rem subicias;</li>
            </ol>
          </li>
          <li>Sed eum qui audiebant, quoad poterant, defendebant sententiam suam.</li>
          <li>Conferam tecum, quam cuique verso rem subicias;
            <ol>
              <li>Summum ením bonum exposuit vacuitatem doloris;</li>
              <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?
                <ul>
                  <li>Summum ením bonum exposuit vacuitatem doloris;</li>
                  <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?</li>
                  <li>Conferam tecum, quam cuique verso rem subicias;
                    <ol>
                      <li>Summum ením bonum exposuit vacuitatem doloris;</li>
                      <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?</li>
                      <li>Conferam tecum, quam cuique verso rem subicias;</li>
                    </ol>
                  </li>
                </ul>
              </li>
              <li>Sed eum qui audiebant, quoad poterant, defendebant sententiam suam.</li>
              <li>Conferam tecum, quam cuique verso rem subicias;
                <ol>
                  <li>Summum ením bonum exposuit vacuitatem doloris;</li>
                  <li>Conferam tecum, quam cuique verso rem subicias;
                    <ul>
                      <li>Summum ením bonum exposuit vacuitatem doloris;</li>
                      <li>Conferam tecum, quam cuique verso rem subicias;
                        <ul>
                          <li>Summum ením bonum exposuit vacuitatem doloris;</li>
                          <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?
                            <ul>
                              <li>Summum ením bonum exposuit vacuitatem doloris;</li>
                              <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?</li>
                              <li>Conferam tecum, quam cuique verso rem subicias;</li>
                            </ul>
                          </li>
                          <li>Conferam tecum, quam cuique verso rem subicias;</li>
                        </ul>
                      </li>
                      <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?</li>
                      <li>Sed eum qui audiebant, quoad poterant, defendebant sententiam suam.</li>
                    </ul>
                  </li>
                  <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?</li>
                  <li>Sed eum qui audiebant, quoad poterant, defendebant sententiam suam.</li>
                  <li>Aequo videt eum, quem inpure ac flagitiose putet vivere?</li>
                  <li>Poterant, defendebant sententiam suam.</li>
                </ol>
              </li>
            </ol>
          </li>
          <li>Sed eum qui audiebant, quoad poterant</li>
          <li>Summum ením bonum exposuit vacuitatem doloris;</li>
          <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?</li>
          <li>Conferam tecum, quam cuique verso rem subicias;</li>
        </ol>
    </li>
    <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?</li>
    <li>Sed eum qui audiebant, quoad poterant, defendebant sententiam suam.</li>
  </ol>
  
</div>
