{% set variant_class = variant ? 'pill--' ~ variant : 'pill--default' %}

{% set classes = [
  'pill',
  variant_class,
] %}

<div class="{{ classes|join(' ') }}">
	{% if url %}
		{{ link(label, url, { 'class': ['pill__link'] }) }}
	{% else %}
		{{ label }}
	{% endif %}
</div>
