{% set variant_class = variant ? 'pill--' ~ variant : 'pill--default' %}

{% set classes = [
  'pill',
  variant_class,
] %}

<div {{ attributes.addClass(classes) }}>
  <div class="pill-content">
    <span>{{ label }}</span>
  </div>
</div>
