
.site-branding {
    gap: var(--gap, 0.5rem);
}

.site-branding__logo img {
    vertical-align: bottom;
}

.site-branding__labels {
    line-height: 18px;
}

.site-branding__label .global-branding a {
    font-size: 12px;
    line-height: 0px;
}

.site-branding__sub-label {
    font-family: var(--font-secondary);
    font-weight: bold;
}