<div class="site-branding cluster">
  <div class='site-branding__logo'>
    <img src='{{ logo }}' />
  </div>
  <div class="site-branding__labels">
    <div class="site-branding__label">
      <div class="global-branding global-branding--default">
        <a href="#" target="_blank">{{ label }}</a>
      </div>
    </div>
    <div class="site-branding__sub-label">
      {{ sub_label }}
    </div>
  </div>
</div>