{% set variant_type = variant ? 'hero--' ~ variant : 'hero--banner' %}

{% set variant_justify = content_justify
  ? 'hero--justify-' ~ content_justify
  : 'hero--justify-left' %}

{% set styles = [] %}

{% if bg_tint %}
  {% set styles = styles|merge([
    '--bg: var(--color-' ~ bg_tint ~ ');',
  ]) %}
{% endif %}

{% set classes = [
  'hero',
  variant_type,
  variant_justify,
] %}

<div {{ attributes.addClass(classes).setAttribute('style', styles|join) }}>
  <div class="hero__image" style="--background-image: url('{{ background_image_url }}');"></div>
  <div class="hero__tint"></div>
  <div class="hero__content container">
    <div class="hero__content-inner">
      {{ main }}
    </div>
  </div>
</div>
