{% set variant_type = variant ? 'hero--' ~ variant : 'hero--banner' %}

{% set variant_justify = content_justify
  ? 'hero--justify-' ~ content_justify
  : 'hero--justify-left' %}

{% set styles = [] %}

{% if bg_tint %}
	{% set styles = styles|merge([
    '--bg: var(--color-' ~ bg_tint ~ ');',
  ]) %}
{% endif %}

{% set classes = [
  'hero',
  variant_type,
  variant_justify,
] %}

<div class="{{ classes|join(' ') }}" style="{{ styles|join }}">
  <div class="hero__image" style="--background-image: url('{{ background_image_url }}');"></div>
  <div class="hero__tint"></div>
  <div class="hero__content box">
    <div class="container">
      <div class="hero__content-inner">
        <div class="hero__content-inner__content">
          {% if card_data %}
            {% include "@molecules/Card/Card.twig" with card_data %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if navigation %}
    <div class="hero__navigation cards grid">
      {% for item in navigation %}
        {% include "@molecules/Card/Card.twig" with item %}
      {% endfor %}
    </div>
  {% endif %}
</div>

