.read-more {
  max-inline-size: 75ch;
  gap: unset;
  margin-block-end: var(--s2);
}

.read-more__heading {
  display: flex;
  align-items: stretch;
  border: var(--border-thin) solid var(--color-base-light-x);
  border-radius: var(--s-4);
  font-size: var(--s0);
  font-weight: 600;
  color: var(--color);
  line-height: 1.5;
}

.read-more__heading_text {
  padding: var(--s1);
  border-top-left-radius: var(--s-4);
  border-bottom-left-radius: var(--s-4);
  border-right: var(--border-thin) solid var(--color-base-light-x);
  background-color: var(--color-base-light-xxx);
}

.read-more__action {
  display: flex;
  justify-content: center;
  min-width: 10ch;
  border-top-right-radius: var(--s-4);
  border-bottom-right-radius: var(--s-4);
  border: none;
  background-color: var(--color-white);
  font-size: var(--s0);
  font-weight: 600;
  color: var(--color-primary);
}

.read-more__action_label,
.read-more__action .icon-wrapper {
  align-self: center;
}

.read-more__action .icon-wrapper svg {
  position: relative;
  left: var(--s-6);
  height: var(--s0);
  width: var(--s0);
  color: var(--color-primary);
  transition: all var(--anim-speed) ease;
}

@media (prefers-reduced-motion: reduce) {
  .read-more__action .icon-wrapper svg {
    transition: all 0 ease;
    animation: none;
  }
}

.read-more__heading[expanded] > .read-more__action .icon-wrapper svg {
  transform: rotate(180deg);
}

.read-more__action:hover {
  cursor: pointer;
}

.read-more__content {
  animation: open var(--anim-speed);
  display: none;
  flex: 0 0 100%;
  margin-block-start: var(--gap, 1.5rem);
  padding-inline: var(--s1);
  border-left: var(--border-thick) solid var(--color-primary-light-x);
  font-size: var(--s-1);
}

.read-more__heading[expanded] + .read-more__content {
  display: block;
  line-height: 1.5;
}

.read-more--text .read-more__heading {
  align-items: center;
  border: unset;
  border-radius: unset;
}

.read-more--text .read-more__heading_text,
.read-more--text .read-more__action {
  padding: unset;
}

.read-more--text .read-more__heading_text {
  border-radius: unset;
  border-right: unset;
  background-color: unset;
}

.read-more--text .read-more__action {
  border: unset;
  border-radius: unset;
  background-color: unset;
}

.read-more--text .read-more__action::after {
  border-radius: unset;
}
