.read-more {
  max-inline-size: 75ch;
}

.read-more__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: var(--s3);
  border: var(--border-thin) solid var(--color-base-light-x);
  border-radius: var(--s-4);
  background-color: var(--color-base-light-xxx);
  font-size: var(--s0);
  font-weight: 600;
  color: var(--color);
  line-height: normal;
}

.read-more__action {
  display: flex;
  justify-content: center;
  width: 10ch;
  padding-block: var(--s2);
  border-top-right-radius: var(--s-4);
  border-bottom-right-radius: var(--s-4);
  border: none;
  border-left: var(--border-thin) solid var(--color-base-light-x);
  background-color: var(--color-white);
  font-size: var(--s0);
  color: var(--color-primary);
}

.read-more__action::after {
  position: relative;
  left: var(--s-3);
  border-top-right-radius: var(--s-4);
  border-bottom-right-radius: var(--s-4);
  font-size: var(--s2);
  font-weight: bold;
  line-height: 0;
  color: var(--color-primary);
  content: '\231F';
  transform:rotate(45deg);
  /*transition: all var(--anim-speed) ease;*/
}

.read-more__action.open::after {
  top: var(--s-6);
  transform:rotate(225deg);
}

.read-more__action:hover {
  cursor: pointer;
}

.read-more__content {
  display: none;
  margin-block-start: var(--gap, 1.5rem);
  padding-inline: var(--s1);
  border-left: var(--border-thick) solid var(--color-primary-light-x);
  font-size: var(--s-1);
}

.read-more__heading[expanded] + .read-more__content {
  display: block;
  line-height: var(--s1);
}
