.brow {
  display: flex;
  gap: var(--gap, var(--s0));
}

.brow .brow__accent {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--accent-color);
}

.brow--heading {
  font-family: var(--font-primary);
  font-size: var(--s0);
  line-height: var(--s0);
  border: 1.5px dotted var(--color, var(--color-white));
  border-left: 0;
  border-right: 0;
  display: inline;
  padding: var(--s-4) var(--s0);
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: 700;
}
