{% set classes = [
  'asset-bundle',
  'stack',
] %}

<div class="{{ classes|join(' ') }}">
  {% if text %}
    <div class="asset-bundle__body">
      {{ text }}
    </div>
  {% endif %}

  {% if assets is not empty %}
    <div class="asset-bundle__details">
      {% if primary_file_type %}
        <span>{{ primary_file_type }}</span>
      {% endif %}

      {% if doc_type %}
        <span>{{ doc_type }}</span>
      {% endif %}
    </div>
    <div class="asset-bundle__primary-files">
      {% for asset in assets %}
        {% include "@atoms/Button/Button.twig" with {
          variant: "secondary",
          size: "normal",
          label: "Download " ~ asset.type|upper,
          href: asset.url,
        } %}
      {% endfor %}
    </div>
  {% endif %}

  {% if languages %}
    <div class="asset-bundle__translated-files">
      {% include "@molecules/List/List.twig" with languages %}
    </div>
  {% endif %}
</div>
