{# This is just a layout example for the styleguide.
  Do not use this template directly. #}

{% set styles = [] %}
{% set styles = space ? styles|merge(['--space: var(' ~ space ~ ');']) : styles %}

{% set classes = [
  'stack',
  'stack-demo',
] %}

<div {{ attributes.addClass(classes).setAttribute('style', styles|join) }}>
  {% for i in range(1, num_items) %}
    <div class="box">{{ i }}</div>
  {% endfor %}
</div>
