.hangover {
  --accent-color: var(--color-accent-warm-light-x);
}

/* Tweak top and bottom padding for space and to make collapsed image placement a little more tolerable. */
.hangover .box {
  padding-block: var(--s4);
  display: flex;
  align-items: center;
}

/* The brow/heading/text relationship is managed by the Stack. */
/* It stacks them vertically and manages the space between. */
/* Nested because space between brow/heading is different than heading/text. */
.hangover .stack > .stack > * + *{
  margin-block-start: 0;
}

/* Set sidebar width a approximate horizontal image placement. */
/* Also set flex direction so sidebar is on the right. */
.hangover .with-sidebar {
  --sidebar-width: 50ch;
  flex-direction: row-reverse;
}

.hangover__top {
  --heading-color: var(--color-white);
  --color: var(--color-white);
  background: var(--background-striped-base-dark-x);
}

/* Add text shadow to match the background so it's only seen when overlapping the image. */
.hangover__top-content-brow,
.hangover__top .hangover__text,
.hangover__top-content h1 {
  text-shadow:
    3px 3px 8px var(--color-base-dark-x),
    -3px -3px 8px var(--color-base-dark-x),
    -3px 3px 8px var(--color-base-dark-x),
    3px -3px 8px var(--color-base-dark-x)
  ;
}

.hangover__top-media {
  justify-content: center;
}

/* Set image width and aspect ratio. */
.hangover__top .frame {
  --frame-h: 4;
  --frame-v: 3;
  max-block-size: 300px;
  border: var(--s-1) solid var(--color-accent-warm-light-xx);
}

/* Use negative bottom margin to pull the image into the bottom sidebar. */
.hangover--with-bottom .hangover__top .frame {
  margin-block-end: -22ch;
}

@media (orientation: portrait) {
  .hangover .with-sidebar {
    gap: 0;
  }

  .hangover--with-bottom .hangover__top .frame {
    margin-block-end: 0;
  }

  .hangover--media-hide .hangover__top-media {
    display: none;
  }
}

