.hangover {
  --accent-color: var(--color-accent-warm-light-x);
  --text-shadow-color: var(--color-base-dark-x);
  --background: var(--background-striped-base-dark-x);
}

.hangover .with-sidebar {
  --sidebar-width: 45ch;
  flex-direction: row-reverse;
}

.hangover .with-sidebar > * {
  padding: var(--s4) var(--s1);
  display: flex;
  align-items: center;
}

.hangover__top {
  --heading-color: var(--color-white);
  --color: var(--color-white);
  background: var(--background);
}

.hangover__top-content-brow + * {
  margin-block-start: 0;
}

.hangover__bottom *:not(.hangover__bottom-content) {
  padding: 0;
}

/* Add text shadow to match the background so it's only seen when overlapping the image. */
.hangover__top-content-brow,
.hangover__top .hangover__text,
.hangover__top-content h1 {
  text-shadow:
    1px 1px 1px var(--text-shadow-color),
    -1px -1px 1px var(--text-shadow-color),
    -1px 1px 1px var(--text-shadow-color),
    1px -1px 1px var(--text-shadow-color)
  ;
}

.hangover__top--base-light-xx {
  --heading-color: var(--color-primary);
  --color: var(--color-primary);
  background: var(--background-striped-base-light-xx);
}
.hangover__top--base-light-xx .hangover__top-content-brow,
.hangover__top--base-light-xx .hangover__top .hangover__text,
.hangover__top--base-light-xx .hangover__top-content h1 {
  text-shadow: none;
}

/* @TODO See todo in the Hangover.twig. */
.hangover__top-hangover-content {
  justify-content: center;
}

/* Variants */

/* Use negative bottom margin to pull the image into the bottom sidebar. */
.hangover--with-bottom .hangover__top-hangover-content > * {
  margin-block-end: var(--hangover-offset);
}

.hangover--with-bottom .hangover__top-media.box {
  padding-block-end: 0;
}

.hangover--base-light-xx .hangover__top {
  --heading-color: var(--color-primary);
  --color: var(--color-primary);
  --text-shadow-color: var(--color-base-light-xx);
  --background: var(--background-striped-base-light-xx);
  background: var(--background);
}

/* @TODO: Use a resize observer to manage this, rather than a media query. */
@media (orientation: portrait) {
  .hangover .with-sidebar {
    gap: 0;
  }

  .hangover .hangover__top-hangover-content {
    padding-block-end: 0;
  }

  .hangover--with-bottom .hangover__top-hangover-content > * {
    margin-block-end: 0;
  }

  .hangover--hide-compact .hangover__top-hangover-content {
    display: none;
  }
}

