.media-excerpt .card__button {
    border-left: 1px solid var(--color-base);
}
.media-excerpt .media-excerpt-header {
    justify-content: space-between;
}
.media-excerpt .mediaexcerpt_details {
    font-size: var(--s-1);
}
.media-excerpt .details-label {
    font-weight: bold;
}
.media-excerpt .media-excerpt-title a{
    text-decoration: none;
}
.media-excerpt:hover a.media-excerpt-title-link{
    text-decoration: underline;
}
a.media-excerpt-content,
.media-excerpt .mediaexcerpt_details,
.media-excerpt .media-excerpt-header {
    color: var(--color-black);
    text-decoration: none;
}