.primary-nav {
  --icon-size: var(--s2);
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.primary-nav__default {
  align-items: center;
}

.primary-nav .reel + * {
  display: none;
}

a.primary-nav__button,
button.primary-nav__button {
  --button-border: transparent;
  --button-fg: var(--color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-inline-size: 18ch;
  border: 0;
  border-block-end: 2px solid transparent;
  border-radius: 0;
  padding-inline: 0;
  padding-block: var(--s-2);
  font-size: var(--s-1);
  font-weight: 600;
  line-height: var(--s1);
  color: var(--color);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.25px;
  background-color: transparent;
}

.primary-nav button::after {
  align-self: center;
  content: "\25BE";
  color: var(--color-base-light-x);
}

a.primary-nav__button:hover,
button.primary-nav__button:hover {
  color: var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

a.primary-nav__button.active,
button.primary-nav__button.active {
  border-block-end: 2px solid var(--accent-color);
}

.primary-nav .header-search__icon::after,
.primary-nav .header-search__search-toggle::after {
  content: none;
}

.primary-nav button + * {
  display: none;
  min-width: 18ch;
  max-width: 25ch;
  background: var(--color-white);
  box-shadow: 4px 4px 10px 2px #0003;
}

.primary-nav button.open {
  border-color: var(--color-accent-warm);
  width: 100%;
}

.primary-nav button.open + .primary-nav__item {
  display: block;
}

.primary-nav__default button.open + .primary-nav__item {
  position: absolute;
}

/* Prevent menu from opening wider than the nav. */
/* Issue with right: 0; with position: relative; parent. */
/* @todo: resolve positioning issue to avoid forced width. */
.primary-nav__default .primary-nav__group:nth-last-child(1) > .primary-nav__item:not(.primary-nav__item--mega) {
  width: 25ch;
  margin-inline-start: -12ch;
}

.primary-nav__item a {
  display: block;
  color: var(--color);
  font-size: var(--s-1);
  text-decoration: none;
  line-height: var(--s1);
}

.primary-nav__item a:hover {
  opacity: 0.5;
}

.primary-nav__item a + a {
  border-block-start: 1px dashed var(--color-base);
  padding-block-start: var(--s0);
}

.primary-nav button + .primary-nav__item--mega {
  --gap: var(--s0);
  left: 0;
  max-width: none;
  width: 100%;
}

.primary-nav__default button + .primary-nav__item--mega a {
  border: 0;
  padding: var(--s-5) var(--s-3);
  background-color: var(--color-base-light-xx);
}

/* Hide the reel when overflowing. */
.primary-nav .reel.overflowing {
  height: 0;
  padding: 0;
}

.primary-nav .reel.overflowing button.open + .primary-nav__item {
  position: relative;
}

/* It's Burger Time when reel is overflowing/hidden. */
.primary-nav .reel.overflowing + * {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* Hamburger */
.primary-nav__hamburger-toggle {
  width: var(--icon-size);
  height: var(--icon-size);
  position: relative;
  transform: rotate(0deg);
  transition: all var(--anim);
  cursor: pointer;
}

.primary-nav__hamburger-toggle span {
  display: block;
  position: absolute;
  height: calc(var(--icon-size) / 7);
  width: 100%;
  background: var(--color);
  opacity: 1;
  transform: rotate(0deg);
  transition: all var(--anim);
  pointer-events: none;
}

.primary-nav__hamburger-toggle span:nth-child(1) {
  transform-origin: left center;
}

.primary-nav__hamburger-toggle span:nth-child(2) {
  top: calc(var(--icon-size) / 3);
  transform-origin: left center;
}

.primary-nav__hamburger-toggle span:nth-child(3) {
  top: calc((var(--icon-size) / 3) * 2);
  transform-origin: left center;
}

.primary-nav__hamburger-toggle + * {
  display: none;
}

/* Open */
.primary-nav__hamburger-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
}

.primary-nav__hamburger-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.primary-nav__hamburger-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.primary-nav__hamburger-toggle.open + * {
  display: block;
}

/* Hamburger Styles */
.primary-nav__hamburger > .stack {
  --gap: 0;
  flex: 1 0 100%;
}

.primary-nav__hamburger .grid {
  --gap: var(--s0);
}

.primary-nav__hamburger .primary-nav__group + .primary-nav__group {
  border-block-start: 1px dashed var(--color-base);
}

.primary-nav__hamburger a.primary-nav__button,
.primary-nav__hamburger button.primary-nav__button {
  max-inline-size: none;
}

.primary-nav__hamburger .primary-nav__item a + a {
  border-block-start: 1px solid var(--color-base-light-xx);
}

.primary-nav__hamburger button + * {
  --grid-min-width: 100%;
  max-width: none;
  width: 100%;
  background: var(--color-white);
  box-shadow: none;;
}
