.primary-nav {
  --icon-size: var(--s2);
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  position: relative;
}

.primary-nav__default {
  align-items: center;
  min-height: calc(var(--icon-size) + 30px);
}

.primary-nav__default .header-search {
  position: initial;
}

.primary-nav__default .header-search__icon {
  height: 100%;
  min-height: calc(var(--icon-size) * 1.26);
  max-height: calc(var(--icon-size) * 1.26);
  width: auto;
  aspect-ratio: 1 / 1;
  position: absolute;
  inset-inline-end: calc(var(--icon-size) + 10px);
}

.primary-nav__default .header-search__search-toggle.active {
  z-index: 99;
}

.primary-nav__default .header-search__search-line,
.primary-nav__default .header-search__search-circle {
  margin-block-start: calc(50% - (var(--icon-size) / 2));
  margin-inline-start: calc(50% - (var(--icon-size) / 2));
}

.primary-nav__default .header-search__form {
  inset-inline-end: calc(var(--icon-size) + 10px);
  transition: opacity var(--anim);
}

.primary-nav__default .header-search__search-toggle + .header-search__form {
  position: absolute;
  inset-inline: 0;
  padding: var(--s-3) 0 var(--s-3) var(--s0);
  background: white;
  transition: opacity var(--anim);
}

.primary-nav__default .header-search__search-toggle.active + .header-search__form {
  position: absolute;
  inset-block: auto;
  inset-inline: 0;
  padding: var(--s-3) 0 var(--s-3) var(--s0);
  background: white;
  transition: opacity var(--anim);
}

.primary-nav__default .header-search__form input {
  border-radius : calc(var(--icon-size) * 2);
  height: 100%;
  min-height: calc(var(--icon-size) * 1.26);
  max-height: calc(var(--icon-size) * 1.26);
  width: calc(100% - var(--icon-size) - 10px);
  background: var(--color-base-light-xx);
  border-color: var(--color-base-light-xx);
}

.primary-nav .reel + * {
  display: none;
}

.primary-nav__item a {
  padding: 0 0 0 var(--s0);
}

a.primary-nav__button,
button.primary-nav__button {
  --button-border: transparent;
  --button-fg: var(--color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-inline-size: 20ch;
  border: 0;
  border-block-end: 2px solid transparent;
  border-radius: 0;
  padding-inline: 0;
  padding-block: var(--s-2);
  font-size: var(--s-1);
  font-weight: 600;
  line-height: var(--s1);
  color: var(--color);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.25px;
  background-color: transparent;
}

a.primary-nav__button {
  font-family: var(--font-primary);
  align-items: flex-start;
  font-kerning: auto;
}

.primary-nav__item a.primary-nav__overview-link,
.primary-nav__item button.primary-nav__overview-link {
  font-weight: 700;
  font-size: 1.5ch;
  padding: 0 0 0 0;
}

.primary-nav__mobile .primary-nav__item a.primary-nav__overview-link,
.primary-nav__mobile .primary-nav__item button.primary-nav__overview-link {
  font-size: var(--s-1);
}

.primary-nav a.primary-nav__button.parent_link::after,
.primary-nav button::after {
  margin-inline-start: var(--s-5);
  align-self: center;
  content: "\25BE";
  color: var(--color-base-light-x);
}

.primary-nav button.header-search__icon::after {
  content: "";
  display: none;
  color: transparent;
}

a.primary-nav__button:hover,
button.primary-nav__button:hover {
  color: var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

a.primary-nav__button.active,
button.primary-nav__button.active {
  border-block-end: 2px solid var(--accent-color);
}

.primary-nav .primary-nav::after,
.primary-nav .header-search__search-toggle::after {
  content: none;
}

.primary-nav .parent_link + *,
.primary-nav button + * {
  display: none;
  min-width: 18ch;
  max-width: 25ch;
  background: var(--color-white);
  box-shadow: 4px 4px 10px 2px #0003;
}

.primary-nav button.open {
  border-color: var(--color-accent-warm);
  width: 100%;
}

.primary-nav button.open + .primary-nav__item {
  display: block;
}

.primary-nav__default button.open + .primary-nav__item {
  position: absolute;
  z-index: 2;
}

/* Prevent menu from opening wider than the nav. */
/* Issue with right: 0; with position: relative; parent. */
/* @todo: resolve positioning issue to avoid forced width. */
.primary-nav__default .primary-nav__group:nth-last-child(1) > .primary-nav__item:not(.primary-nav__item--mega) {
  width: 25ch;
  margin-inline-start: -12ch;
}

.primary-nav__item .grid {
  grid-gap: var(--s-1, var(--s0));
}

.primary-nav__item a {
  display: block;
  color: var(--color);
  font-size: var(--s-1);
  text-decoration: none;
  line-height: var(--s1);
}

.primary-nav__item a:hover {
  color: var(--accent-color);
}

.primary-nav__item a.active,
.primary-nav__item .link-level-2.is_current a {
  font-weight: 600;
  color: var(--accent-color);
}

.primary-nav__item .link-level-2 + .link-level-2 {
  border-block-start: 1px dashed var(--color-base);
  padding-block-start: var(--s-1);
}

.primary-nav__item.primary-nav__item--mega .link-level-2  {
  border-block-end: 1px dashed var(--color-base);
  padding-block-end: var(--s-1);
  border-block-start: none;
  padding-block-start: 0;
}

.primary-nav a.primary-nav__button + .primary-nav__item--mega,
.primary-nav button + .primary-nav__item--mega {
  --gap: var(--s0);
  left: 0;
  max-width: none;
  width: 100%;
}

.primary-nav__default button + .primary-nav__item--mega a {
  border: 0;
  padding: var(--s-5) var(--s-3);
  /*background-color: var(--color-base-light-xx);*/
}

/* Hide the reel when overflowing. */
.primary-nav .reel.overflowing {
  height: 0;
  padding: 0;
  max-height: 0;
  min-height: 0;
}

.primary-nav .reel.overflowing button.open + .primary-nav__item {
  position: relative;
}

/* It's Burger Time when reel is overflowing/hidden. */
.primary-nav .reel.overflowing + * {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* Hamburger */
.primary-nav__hamburger-toggle {
  width: var(--icon-size);
  height: var(--icon-size);
  position: relative;
  transform: rotate(0deg);
  transition: all var(--anim);
  cursor: pointer;
}

.primary-nav__hamburger-toggle span {
  display: block;
  position: absolute;
  height: calc(var(--icon-size) / 7);
  width: 100%;
  background: var(--color);
  opacity: 1;
  transform: rotate(0deg);
  transition: all var(--anim);
  pointer-events: none;
}

.primary-nav__hamburger-toggle span:nth-child(1) {
  transform-origin: left center;
}

.primary-nav__hamburger-toggle span:nth-child(2) {
  inset-block-start: calc(var(--icon-size) / 3);
  transform-origin: left center;
}

.primary-nav__hamburger-toggle span:nth-child(3) {
  inset-block-start: calc((var(--icon-size) / 3) * 2);
  transform-origin: left center;
}

.primary-nav__hamburger-toggle + * {
  display: none;
}

/* Open */
.primary-nav__hamburger-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
}

.primary-nav__hamburger-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.primary-nav__hamburger-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.primary-nav__hamburger-toggle.open + * {
  display: block;
}

/* Hamburger Styles */
.primary-nav__hamburger > .stack {
  --gap: 0;
  flex: 1 0 100%;
}

.primary-nav__hamburger .grid {
  --gap: var(--s0);
}

.primary-nav__hamburger .primary-nav__group + .primary-nav__group {
  border-block-start: 1px dashed var(--color-base);
}

.primary-nav__hamburger a.primary-nav__button,
.primary-nav__hamburger button.primary-nav__button {
  max-inline-size: none;
}

.primary-nav__hamburger .primary-nav__item a + a {
  border-block-start: 1px solid var(--color-base-light-xx);
}

.primary-nav__hamburger button + * {
  --grid-min-width: 100%;
  max-width: none;
  width: 100%;
  background: var(--color-white);
  box-shadow: none;;
}

.primary-nav--default .primary-nav__desktop .primary-nav__link {
  padding: 0;
}

.primary-nav--default .primary-nav__mobile .primary-nav__item {
  padding: var(--s0) var(--s-1);
}

.primary-nav--default .primary-nav__mobile a.primary-nav__link:not(:first-child) {
  padding: var(--s0) var(--s0) 0 var(--s0);
}

/* Alternate style */
.primary-nav--alternate {
  border-block: 1px solid var(--color-base-light-x);
  display: block;
}

.primary-nav--alternate .primary-nav__default {
  min-height: unset;
  justify-content: flex-start;
  padding-inline: var(--s1);
}

.primary-nav--alternate .primary-nav__default .reel {
  gap: 0;
}

.primary-nav--alternate .primary-nav__default.reel > * + * {
  margin-inline-start: unset;
}

.primary-nav--alternate .primary-nav__button {
  padding-block: var(--s1);
  padding-inline: var(--s-1);
  max-inline-size: 100%;
  border-block-end: 0px;
  line-height: normal;
  display: block;
  letter-spacing: normal;
  font-size: .9rem;
  font-weight: 600;
  text-transform: none;
}

.primary-nav--alternate .primary-nav__button:hover {
  border-block-end: 0px;
}

.primary-nav--alternate > .primary-nav__default.reel > .primary-nav__group + .primary-nav__group .primary-nav__button {
  /* border-inline-start: 1px solid var(--color-base-light-x); */
}

.primary-nav--alternate > .primary-nav__default.reel > .primary-nav__group .primary-nav__button.open {
  color: var(--color-white);
  background-color: var(--color-primary-dark-x);
}

.primary-nav--alternate > .primary-nav__default.reel > .primary-nav__group:hover .primary-nav__button,
.primary-nav--alternate > .primary-nav__default.reel > .primary-nav__group:hover .primary-nav__button.open {
  color: var(--color-white);
  background-color: var(--color-primary-light-x);
  outline: 0;
}

.primary-nav--alternate > .primary-nav__default.reel > .primary-nav__group:focus .primary-nav__button,
.primary-nav--alternate > .primary-nav__default.reel > .primary-nav__group:focus-within .primary-nav__button {
  outline: 0;
  box-shadow: inset 0px 0px 0px 3px var(--accent-color);
}

.primary-nav--alternate > .primary-nav__default.reel > .primary-nav__group .primary-nav__item .link a:focus {
  outline: 2px solid var(--accent-color);
}

.primary-nav--alternate .reel.overflowing .primary-nav__group:focus button + .primary-nav__item,
.primary-nav--alternate .reel.overflowing .primary-nav__group:focus-within button + .primary-nav__item,
.primary-nav--alternate .reel.overflowing .primary-nav__group button:focus + .primary-nav__item,
.primary-nav--alternate .reel.overflowing .primary-nav__group button:focus-within + .primary-nav__item  {
  display: block;
  position: absolute;
}

.primary-nav--alternate .reel.overflowing + * {
  padding-block-start: var(--s-2);
  padding-block-end: var(--s-6);
}

.primary-nav--alternate .primary-nav__item.nav-level-2 {
  z-index: 20;
}

.primary-nav--alternate .primary-nav__hamburger .primary-nav__button {
  text-align: left;
}

.primary-nav--alternate .primary-nav__desktop .primary-nav__link {
  padding: 0;
}

.primary-nav--alternate .primary-nav__mobile .primary-nav__item {
  padding: var(--s0) var(--s-1);
}

.primary-nav--alternate .primary-nav__mobile a.primary-nav__link:not(:first-child) {
  padding: var(--s0) var(--s0) 0 var(--s0);
}

.primary-nav--alternate .primary-nav__hamburger-toggle {
  margin-inline-end: var(--s-4);
}

/* Desktop hover open/close */
.primary-nav__desktop .primary-nav__group .primary-nav__item {
  display: none;
  position: absolute;
}

.primary-nav__desktop .primary-nav__group:hover .primary-nav__item,
.primary-nav__desktop .primary-nav__group:focus-within .primary-nav__item {
  display: block;
  position: absolute;
}

.primary-nav__desktop .primary-nav__group.primary-nav__has-overview-link .primary-nav__link:not(.primary-nav__overview-link) {
  margin-inline-start: var(--s-1);
}

.primary-nav__desktop .primary-nav__item--mega .grid .link-level-2__has-overview-link {
  grid-column: 1 / -1;
}

.primary-nav--alternate .primary-nav__desktop {
  /* This is limited for now because their menu is too big and will always */
  /* be stuck in mobile version. */
  /* max-inline-size: var(--max-width); */
  margin-inline: auto;
  /* justify-content: center; */
}

.primary-nav--alternate .reel.overflowing + * {
  padding-block-start: 0;
  padding-block-end: 0;
  gap: 0;
}

.primary-nav--alternate .primary-nav__hamburger-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-block: var(--s0);
  margin-inline-end: var(--s-2);
}


.primary-nav--alternate .primary-nav__hamburger-toggle span {
  height: 3px;
  width: 100%;
  transform-origin: unset;
  inset-block-start: unset;
  position: relative;
}

.primary-nav--alternate .primary-nav__hamburger-toggle.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--icon-size);
  height: var(--icon-size);
}

.primary-nav--alternate .primary-nav__hamburger-toggle.open span {
  height: 3px;
  width: 98%;
  transform-origin: 10px;
}