{# Set up variant classes. #}
{% set variant_class = variant ? 'header-search--' ~ variant : 'header-search--default' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'header-search',
  'cluster',
  variant_class,
] %}

{% if add_wrapper %}<div class="header-search__wrapper">{% endif %}
  {% if variant != "no-toggle" %}
  <label class="search-toggle">
    <span class="sr-only">{{ 'Toggle search form and secondary navigation'|t }}</span>
    <input type="checkbox" />
    {% include "@atoms/Icon/Icon.twig" with {icon: 'fa-search'} %}
    {% include "@atoms/Icon/Icon.twig" with {icon: 'fa-close'} %}
  </label>
  {% endif %}

  {% if form is not empty %}
  <div class="{{ classes|join(' ') }}">
    {{ form }}
	</div>
  {% endif %}
{% if add_wrapper %}</div>{% endif %}
