.header-search {
  --icon-size: var(--s3);
  flex-direction: row-reverse;
  position: relative;
}

/* Search Toggle and Icon Button */
.header-search__icon,
.header-search__search-toggle {
  width: var(--icon-size);
  height: var(--icon-size);
  position: relative;
  cursor: pointer;
  transition: background-color var(--anim);
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 0;
}

.header-search__icon span,
.header-search__search-toggle span {
  pointer-events: none;
}

.header-search__search-toggle.active {
  background-color: var(--color-base);
}

.header-search__search-line {
  width: calc(var(--icon-size) / 2);
  height: 2px;
  background: var(--color-white);
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  inset-block-start: calc(var(--icon-size) / 2.1);
  inset-inline-start: calc(var(--icon-size) / 4);
  transition: all var(--anim);
}

.header-search__search-circle {
  width: calc(var(--icon-size) / 2.7);
  height: calc(var(--icon-size) / 2.7);
  border: 2px solid var(--color-white);
  position: absolute;
  inset-block-start: calc(var(--icon-size) / 4);
  inset-inline-start: calc(var(--icon-size) / 4);
  border-radius: 50%;
  transform: rotate(135deg);
  transition: all var(--anim);
  background-color: var(--accent-color);
}

.header-search .active .header-search__search-circle {
  border-width: 0;
  width: calc(var(--icon-size) / 2);
  height: 2px;
  inset-block-start: calc(var(--icon-size) / 2.1);
  inset-inline-start: calc(var(--icon-size) / 4);
  background-color: var(--color-white);
  border-radius: 0;
}

/* Search Form */
.header-search__form {
  position: absolute;
  right: calc(var(--icon-size));
  opacity: 0;
  transition: opacity var(--anim);
  pointer-events: none;
  display: flex;
  flex-wrap: nowrap;
}

.header-search__search-toggle.active + .header-search__form {
  opacity: 1;
  pointer-events: all;
}

.header-search__form input {
  font-size: var(--s-1);
  line-height: var(--s-1);
  padding-block: 0;
  height: var(--icon-size);
  border-radius : calc(var(--icon-size) / 2);
  margin-right: calc(var(--icon-size) * -1);
}

.header-search__form button {
  border: 0;
}

/* Variants */
.header-search--no-toggle {
  --icon-size: var(--s2);
}

.header-search--no-toggle .header-search__form {
  position: unset;
  opacity: 1;
  pointer-events: all;
  width: 100%;
  background-color: var(--color-base-light-xxx);
  padding: var(--s-3);
}

.header-search--no-toggle .header-search__form input {
  width: 100%;
  border: 0;
}

[dir='rtl'] .header-search__search-line {
  transform: rotate(315deg);
  inset-block-start: calc(var(--icon-size) / 2.0);
}