{# Set up variant classes. #}
{% set variant_class = variant ? 'header-search--' ~ variant : 'header-search--default' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'header-search',
  'cluster',
  variant_class,
] %}

	<div class="{{ classes|join(' ') }}"> {% if variant != "no-toggle" %}
		<div class="header-search__search-toggle">
			<span class="header-search__search-line"></span>
			<span class="header-search__search-circle"></span>
		</div>
	{% endif %}
	{{ form }}
	</div>
