.hat {
  --color: var(--color-white);
  border-bottom: 4px solid var(--color-accent-warm-light-xx);
  background: var(--color-primary-dark-xx);
}

.hat .box {
  padding-block: var(--s-5);
}

.hat .box > .cluster {
  row-gap: 0;
  justify-content: space-between;
}
