{# Set up variant classes. #}
{% set variant_class = variant ? 'alert--' ~ variant : 'alert--default' %}

{% set icon = type ? type : icon_data.icon %}

{# Create class array. #}
{% set classes = [
  'alert',
  'box',
  variant_class,
] %}

<div {{ attributes.addClass(classes) }} data-alert-type="{{ type }}" data-alert-dismissable="{{ dismissable }}">
  <div class="container">
    {% include "@atoms/Icon/Icon.twig" with {
      icon: type ? type : icon_data.icon,
      attributes: icon_data.attributes,
    } %}
    <div class="alert__content">
      {{ content }}
    </div>
    {% if dismissable %}
      <div class="alert__dismiss">
        <button role="button" tabIndex="0" class="alert__dismiss-button">
          <span></span>
          <span></span>
        </button>
        <span class="sr-only">Dismiss alert</span>
      </div>
    {% endif %}
  </div>
</div>
