{# Set up variant classes. #}
{% set variant_class = variant ? 'alert--' ~ variant : 'alert--default' %}

{# Create class array. #}
{% set classes = [
  'alert',
  'box',
  variant_class,
] %}

{% set icon_data = {
  icon: type,
  color: icon_data.color,
  attributes: icon_data.attributes
} %}

<div {{ attributes.addClass(classes) }} data-alert-type="{{ type }}" data-alert-dismissible="{{ dismissible }}">
  <div class="container">
    {% include "@atoms/Icon/Icon.twig" with icon_data %}
    <div class="alert__content">
      {{ content }}
    </div>
    {% if dismissible %}
      <div class="alert__dismiss">
        <button role="button" tabIndex="0" class="alert__dismiss-button">
          <span></span>
          <span></span>
        </button>
        <span class="sr-only">Dismiss alert</span>
      </div>
    {% endif %}
  </div>
</div>
