{# Atomic templates should be as "dumb" as possible. #}

{% set variant = variant ? 'cards--' ~ variant : 'cards--default' %}
{% set card_variant = card_variant ? 'card--' ~ card_variant : 'card--default' %}

{% set styles = cardWidth ? '--min-width: ' ~ cardWidth ~ ';' : '--min-width: 30ch;' %}

{% set classes = [
  'cards',
  'grid',
  variant,
  card_variant,
] %}

<div {{ attributes.addClass(classes) }} {{ attributes.setAttribute('style', styles) }}>
  {% for item in items %}
    {% include "@molecules/Card/Card.twig" with item %}
  {% endfor %}
</div>
