.cards {
  --gap: var(--s2);
}

/* Striped Cards */

/* Striped Card Variants */
.cards .card--striped:nth-of-type(6n + 1) {
  background: var(--background-striped-primary-dark-xx);
}

.cards .card--striped:nth-of-type(6n + 2) {
  background: var(--background-striped-primary-dark-x);
}

.cards .card--striped:nth-of-type(6n + 3) {
  background: var(--background-striped-secondary);
}

.cards .card--striped:nth-of-type(6n + 4) {
  background: var(--background-striped-accent-warm-dark-x);
}

.cards .card--striped:nth-of-type(6n + 5) {
  background: repeating-linear-gradient(
    125deg,
    var(--color-secondary-dark-x),
    var(--color-secondary-dark-x) 1px,
    var(--color-secondary-dark-xx) 1px,
    var(--color-secondary-dark-xx) 8px
  )
}

.cards .card--striped:nth-of-type(6n + 6) {
  background: repeating-linear-gradient(
    125deg,
    #2fBfEf,
    #2fBfEf 1px,
    var(--color-primary-light-xx) 1px,
    var(--color-primary-light-xx) 8px
  )
}

.cards .section__header {
  max-inline-size: var(--max-width);
  text-align: center;
}
