.profile-bio__header {
  border-block-end: 2px dotted var(--color-base-light-x);
}

.profile-bio__heading {
  padding-block-end: var(--s0);
}

.profile-bio__title,
.profile-bio__division {
  color: var(--color-primary-dark-x);
}

.profile-bio__title {
  margin-block-start: var(--s1);
  font-size: var(--s1);
}

.profile-bio__division {
  margin: 0;
  line-height: normal;
}

.profile-bio__date {
  margin-block-start: var(--s-2);
  color: var(--accent-color);
}

.profile-bio__header .share {
  margin-left: auto;
}

.profile-bio__main .pills {
  margin-block-start: var(--s5);
}
