.accordion {
  --max-width: 102ch;
  --color: var(--color-black);
  color: var(--color);
}

.accordion__lead {
  max-inline-size: var(--max-width);
}

.accordion .expand-btns {
  padding-inline: var(--s1);
  text-align: right;
}

.accordion .expand-btns .expand-all-btn {
  cursor: pointer;
  padding-inline: var(--s-2);
  font-size: 1rem;
  color: var(--color-primary);
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.accordion__items {
  padding-inline-start: max(4%, var(--s0));
  padding-inline-end: max(4%, var(--s0));
  padding-block-start: var(--s1);
  padding-block-end: var(--s1);
  border: 1px dotted var(--color-base);
  margin-block-start: var(--s0);
}

.accordion details {
  width: 100%;
  border-bottom: 1.5px dotted var(--color-base);
}

.accordion details:last-child:not(:first-child) {
  border-bottom: 0;
}

.accordion details > summary {
  display: flex;
  justify-content: space-between;
  gap: var(--s-2);
  color: var(--heading-color, var(--color-primary-dark-x));
  font-size: var(--s0);
  line-height: var(--s2);
  padding-block-start: var(--s0);
  padding-block-end: var(--s-1);
  padding-inline-start: var(--s1);
  padding-inline-end: var(--s1);
  list-style-type: none;
  cursor: pointer;
  align-items: center;
}

.accordion details > summary::-webkit-details-marker {
  display: none;
}

.accordion details > summary::after {
  height: var(--s1);
  width: var(--s1);
  font-size: var(--s3);
  font-weight: bold;
  line-height: 0;
  color: var(--accent-color);
  content: '\231F';
  transform:rotate(45deg);
  transition: all var(--anim-speed) ease;
}

@media (prefers-reduced-motion: reduce) {
  .accordion details > summary::after {
    transition: all 0 ease;
    animation: none;
  }
}

.accordion details[open] > summary::after {
  transform:rotate(225deg);
}

.accordion details > summary:hover {
  background-color: var(--color-base-light-xxx);
  color: var(--accent-color);
}

.section--color-warm-dark-x.accordion details > summary:hover
.section--color-warm-dark-x .accordion details > summary:hover {
  background-color: hsla(30, 98%, 99%, 0.7);
}

.section__main .accordion .body {
  margin-block-start: 0;
}

/**
 * Accordion animation:
 * Fade in content on open, Fade out content on close.
 */
.accordion details[open] > summary ~ * {
  animation: open var(--anim-speed);
}

.accordion details.closing > summary ~ * {
  animation: close var(--anim-speed);
}

@keyframes open {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes close {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

@media (prefers-reduced-motion: reduce) {
  .accordion details[open] > summary ~ * {
    animation: none;
  }
  
  .accordion details.closing > summary ~ * {
    animation: none;
  }
}