{% set classes = [
  'text',
  'field',
  'stack',
] %}

<div class="{{ classes|join(' ') }}" style="max-width: var(--measure);">
  
  <h1>Html text examples (h1)</h1>

  <hr/>

  <h2>Paragraph and basic text items examples (h2)</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Huius ego nunc auctoritatem sequens idem faciam. Qui enim voluptatem ipsam contemnunt, iis licet dicere se acupenserem maenae non anteponere. <strong>Nam ista vestra: Si gravis, brevis;</strong>Itaque quantum adiit periculum! ad honestatem enim illum omnem conatum suum referebat, non ad voluptatem. Nunc ita separantur, ut disiuncta sint, quo nihil potest esse perversius. Paria sunt igitur. Dolere malum est: in crucem qui agitur, beatus esse non potest. <a href="#" target="_blank">Esse potuerit</a> quae tandem ista ratio est? At coluit ipse amicitias. <em>Duo Reges: constructio interrete.</em> </p>

  <h3>Quod autem principium officii quaerunt, melius quam Pyrrho (h3)</h3>

  <p>Quod, inquit, quamquam voluptatibus quibusdam est saepe iucundius, tamen expetitur propter voluptatem. Et non ex maxima parte de tota iudicabis? Qui enim voluptatem ipsam contemnunt, iis licet dicere se acupenserem maenae non anteponere. <a href="#" target="_blank">Occultum facinus esse potuerit</a> Itaque quantum adiit periculum! ad honestatem enim illum omnem conatum suum referebat, non ad voluptatem. Nunc ita separantur, ut disiuncta sint, quo nihil potest esse perversius. Paria sunt igitur. Dolere malum est: in crucem qui agitur, beatus esse non potest. Sed quae tandem ista ratio est? At coluit ipse amicitias. Duo Reges: constructio interrete.</p>

  <h4>Quod autem principium officii quaerunt, melius quam Pyrrho (h4)</h4>

  <p>Itaque quantum adiit periculum! ad honestatem enim illum omnem conatum suum referebat, non ad voluptatem. Nunc ita separantur, ut disiuncta sint, quo nihil potest esse perversius. Paria sunt igitur. Dolere malum est: in crucem qui agitur, beatus esse non potest. Sed quae tandem ista ratio est? At coluit ipse amicitias. Duo Reges: constructio interrete.</p>

  <hr/>

  <h2>Ordered list</h2>
  <ol>
    <li>Quae autem natura suae primae institutionis oblita est?</li>
    <li>Illud dico, ea, quae dicat, praeclare inter se cohaerere.</li>
    <li>Que Manilium, ab iisque M.</li>
    <li>Cuius etiam illi hortuli propinqui non memoriam solum mihi afferunt, sed ipsum videntur in conspectu meo ponere.</li>
    <li>Perturbationes autem nulla naturae vi commoventur, omniaque ea sunt opiniones ac iudicia levitatis.</li>
    <li>Roges enim Aristonem, bonane ei videantur haec: vacuitas doloris, divitiae, valitudo;</li>
  </ol>

  <hr/>

  <h2>Unordered list</h2>
  <ul>
    <li>Illud dico, ea, quae dicat, praeclare inter se cohaerere.</li>
    <li>Non est igitur voluptas bonum.</li>
    <li>Non potes, nisi retexueris illa.</li>
  </ul>

  <hr/>

  <h2>Definition list</h2>
  <dl>
    <dt><dfn>Verum audiamus.</dfn></dt>
    <dd>Cupit enim dícere nihil posse ad beatam vitam deesse sapienti.</dd>
    <dt><dfn>Etiam beatissimum?</dfn></dt>
    <dd>Quod quidem nobis non saepe contingit.</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Quodsi vultum tibi, si incessum fingeres, quo gravior viderere, non esses tui similis;</dd>
  </dl>

  <hr/>

  <h2>Blockquote</h2>
  <blockquote cite="http://loripsum.net">
    Virtutis, magnitudinis animi, patientiae, fortitudinis fomentis dolor mitigari solet.
  </blockquote>

  <hr/>

  <h2>Pre</h2>
  
  <pre>
    Nec tamen ille erat sapiens quis enim hoc aut quando aut ubi aut unde? 
    Quae animi affectio suum cuique tribuens atque hanc, quam dico.
  </pre>

  <hr/>

  <h2>Code</h2>

  <code> Nec tamen ille erat sapiens quis enim hoc aut quando aut ubi aut unde? Quae animi affectio suum cuique tribuens atque hanc, quam dico.</code>

  <hr/>

  <p><em>Add more examples here...</em></p>
</div>
