.global-branding a {
  font-family: var(--font-global);
  font-size: var(--s0);
  color: var(--color, var(--color-white));
  text-transform: uppercase;
  text-decoration: none;
}
.global-branding a:hover {
  text-decoration: underline;
}
