.hangover {
  --accent-color: var(--color-accent-warm-light-x);
  --text-shadow-color: var(--color-base-dark-x);
  --background: var(--background-striped-base-dark-x);
}

.hangover .with-sidebar {
  --sidebar-width: 45ch;
  /* Column gap makes detectWrap.js confused. */
  gap: 0;
  flex-direction: row-reverse;
}

.hangover .with-sidebar > * {
  padding-block: var(--s1);
  display: flex;
  align-items: center;
}

.hangover .with-sidebar > .hangover__top-content {
  /* Using padding here instead of gap or detectWrap goes wild. */
  padding-inline-end: var(--s1);
}

.hangover__top {
  --heading-color: var(--color-white);
  --color: var(--color-white);
  background: var(--background);
}

.hangover__bottom > * *:not(.hangover__bottom-content) {
  padding: 0;
}

/* Add text shadow to match the background so it's only seen when overlapping the image. */
.hangover__top-content-brow,
.hangover__top .hangover__text,
.hangover__top-content h1 {
  text-shadow: 1px 1px 1px var(--text-shadow-color),
    -1px -1px 1px var(--text-shadow-color),
    -1px 1px 1px var(--text-shadow-color), 1px -1px 1px var(--text-shadow-color);
}

.hangover__top-hangover-content {
  justify-content: center;
}

/* Variants */

/* Use negative bottom margin to pull the image into the bottom sidebar. */
.hangover--with-bottom .hangover__top-hangover-content > * {
  margin-block-end: var(--hangover-offset);
}

.hangover--with-bottom .hangover__top-media.box {
  padding-block-end: 0;
}

.hangover--base-light-xx .hangover__top {
  --heading-color: var(--color-primary);
  --color: var(--color-primary);
  --text-shadow-color: var(--color-base-light-xx);
  --background: var(--background-striped-base-light-xx);
  background: var(--background);
}

.hangover--base-light-xx .card {
  --border-color: var(--color-base-light-x);
}

/* Wrapping overrides with detectWrap.js */
.hangover .wrapping {
  gap: 0;
}

.hangover .wrapping .hangover__top-hangover-content {
  padding-block-end: 0;
}

.hangover--with-bottom .wrapping .hangover__top-hangover-content > * {
  margin-block-end: 0;
}

.hangover--hide-compact .wrapping .hangover__top-hangover-content {
  /* We need to remove the space, but without it detectWrap.js breaks. */
  padding-block: 0.1px;
}

.hangover--hide-compact .wrapping .hangover__top-hangover-content > * {
  display: none;
}
