.hangover {
  --background: var(--bg);
  --border: var(--border);
  --hangover-offset: var(--hangover-offset);
}

.hangover .with-sidebar {
  --sidebar-width: 45ch;
  /* Column gap makes detectWrap.js confused. */
  gap: 0;
  flex-direction: row-reverse;
}

.hangover.hangover--with-share  .with-sidebar {
  --sidebar-width: 25ch;
}

.hangover .with-sidebar > * {
  padding-block: var(--s1);
  display: flex;
  align-items: center;
}

.hangover .with-sidebar > .hangover__bottom-content,
.hangover .with-sidebar > .hangover__top-content {
  /* Using padding here instead of gap or detectWrap goes wild. */
  padding-inline-end: var(--s1);
}

.hangover__top {
  background: var(--background);
  border-block-end: var(--border) solid var(--s0);
}

.hangover:not(
  [style*="--bg: var(--color-solid-base-light-xx);"],
  [style*="--bg: var(--color-striped-base-light-xx);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .hangover__top,
.hangover:not(
  [style*="--bg: var(--color-solid-base-light-xx);"],
  [style*="--bg: var(--color-striped-base-light-xx);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .share .share__items .share__item * {
  --color: var(--color-white);
  --heading-color: var(--color);
  --accent-color: var(--color);
}

.hangover__top .share {
  margin-inline-start: auto;
  margin-block-end: auto;
}

.hangover__bottom > * *:not(.hangover__bottom-content) {
  padding: 0;
}

.hangover .card--bordered-center .card .card__main,
.hangover .card.card--bordered-center .card__main {
  text-align: left;
}

/* Add text shadow to match the background so it's only seen when overlapping the image. */
.hangover__top .hangover__text,
.hangover__top-content h1 {
  color: var(--heading-color);
}

.hangover__top-hangover-content {
  justify-content: center;
}

.hangover .card.card--bordered-center {
  --border-color: var(--bg);
  border: var(--s-2) solid var(--border-color, var(--color-accent-warm-light-xxxx));
  background: var(--bg);
}

.hangover .card.card--bordered-center .card__inner {
  border: none;
  border-radius: var(--corner-radius);
  overflow: hidden;
}

/* Variants */

/* Use negative bottom margin to pull the image into the bottom sidebar. */
.hangover--with-bottom .hangover__top-hangover-content > *,
.hangover--with-blurb .hangover__top-hangover-content > * {
  margin-block-end: var(--hangover-offset);
  z-index: 2;
}

.hangover--with-bottom .hangover__top-media.box,
.hangover--with-blurb .hangover__top-media.box {
  padding-block-end: 0;
}

/* striped-primary-dark-xx */

.hangover--striped-base-dark-x .hangover__top {
  --background: var(--background-striped-base-dark-x);
  background: var(--background);
}

/* striped-primary-dark-xx */

.hangover--striped-primary-dark-xx .hangover__top {
  --background: var(--background-striped-primary-dark-xx);
  background: var(--background);
}

.hangover--striped-primary-dark-xx .card {
  --border-color: var(--color-accent-warm-light-xxx);
}

/* striped-primary-dark-x */

.hangover--striped-primary-dark-x .hangover__top {
  --background: var(--background-striped-primary-dark-x);
  background: var(--background);
}

.hangover--striped-primary-dark-x .card {
  --border-color: var(--color-accent-warm-light-xxx);
  z-index:  1;
}

/* striped-primary-light-xx */

.hangover--striped-primary-light-xx .hangover__top {
  --background: var(--background-striped-primary-light-xx);
  background: var(--background);
}

.hangover--striped-primary-light-xx .card {
  --border-color: var(--color-accent-warm-light-xx);
}

/* striped-secondary-dark-xx */

.hangover--striped-secondary-dark-xx .hangover__top {
  --background: var(--background-striped-secondary-dark-xx);
  background: var(--background);
}

.hangover--striped-secondary-dark-xx .card {
  --border-color: var(--color-secondary-light-x);
}

/* striped-secondary */

.hangover--striped-secondary .hangover__top {
  --background: var(--background-striped-secondary);
  background: var(--background);
}

.hangover--striped-secondary .card {
  --border-color: var(--color-secondary-dark-x);
}

/* striped-accent-warm-dark-x */

.hangover--striped-accent-warm-dark-x .hangover__top {
  --background: var(--background-striped-accent-warm-dark-x);
  background: var(--background);
}

.hangover--striped-accent-warm-dark-x .card {
  --border-color: var(--color-accent-warm-light-xx);
}

/* striped-base-light-xx */

.hangover--striped-base-light-xx .hangover__top {
  --background: var(--background-striped-base-light-xx);
  background: var(--background);
}

.hangover--striped-base-light-xx p{
  --color: var(--color-black);
}

.hangover--striped-base-light-xx{
  --accent-color: var(--color-accent-warm-dark-x);
}

.hangover--striped-base-light-xx .card {
  --border-color: var(--color-base-light-x);
}

/* solid-base-dark-x */

.hangover--default .hangover__top,
.hangover--solid-base-dark-x .hangover__top {
  --background: var(--background-base-dark-x);
  background: var(--background);
}

/* solid-primary-dark-xx */

.hangover--solid-primary-dark-xx .hangover__top {
  --background: var(--background-primary-dark-xx);
  background: var(--background);
}

.hangover--solid-primary-dark-xx .card {
  --border-color: var(--color-accent-warm-light-xxx);
}

/* solid-primary-dark-x */

.hangover--solid-primary-dark-x .hangover__top {
  --background: var(--background-primary-dark-x);
  background: var(--background);
}

.hangover--solid-primary-dark-x .card {
  --border-color: var(--color-accent-warm-light-xxx);
}

/* solid-primary-light-xx */

.hangover--solid-primary-light-xx .hangover__top {
  --background: var(--background-primary-light-xx);
  background: var(--background);
}

.hangover--solid-primary-light-xx .card {
  --border-color: var(--color-accent-warm-light-xx);
}

/* solid-secondary-dark-xx */

.hangover--solid-secondary-dark-xx .hangover__top {
  --background: var(--background-secondary-dark-xx);
  background: var(--background);
}

.hangover--solid-secondary-dark-xx .card {
  --border-color: var(--color-secondary-light-x);
}

/* solid-secondary */

.hangover--solid-secondary .hangover__top {
  --background: var(--background-secondary);
  background: var(--background);
}

.hangover--solid-secondary .card {
  --border-color: var(--color-secondary-dark-x);
}

/* solid-accent-warm-dark-x */

.hangover--solid-accent-warm-dark-x .hangover__top {
  --background: var(--background-accent-warm-dark-x);
  background: var(--background);
}

.hangover--solid-accent-warm-dark-x .card {
  --border-color: var(--color-accent-warm-light-xx);
}

/* solid-base-dark-x */

.hangover--solid-base-dark-x .hangover__top {
  --background: var(--background-base-dark-x);
  background: var(--background);
}

/* solid-base-light-xx */

.hangover--solid-base-light-xx .hangover__top {
  --background: var(--background-base-light-xx);
  background: var(--background);
}

.hangover--solid-base-light-xx .card {
  --border-color: var(--color-base-light-x);
}

/* Wrapping overrides with detectWrap.js */
.hangover .wrapping {
  gap: 0;
}

.hangover .wrapping .hangover__top-hangover-content {
  padding-block-end: 0;
}

.hangover--with-bottom .wrapping .hangover__top-hangover-content > *,
.hangover--with-blurb .wrapping .hangover__top-hangover-content > * {
  margin-block-end: 0;
}

.hangover--hide-compact .wrapping .hangover__top-hangover-content {
  /* We need to remove the space, but without it detectWrap.js breaks. */
  padding-block: 0.1px;
}

.hangover--hide-compact .wrapping .hangover__top-hangover-content > * {
  display: none;
}

.hangover--with-blurb .with-sidebar.wrapping .hangover__top-content{
  order: 1;
}

.hangover--with-blurb .with-sidebar.wrapping .hangover__top-hangover-content {
  order: 2;
}

.hangover--with-blurb .with-sidebar.wrapping .hangover__top-hangover-content > * {
  width: 100%;
}

.hangover--borderless-media .box .hangover__top-hangover-content {
  padding-block: 0;
}

.hangover--borderless-media .box {
  padding-block: 0;
}

.hangover--borderless-media .with-sidebar > .hangover__top-content {
  padding-inline-end: var(--s1);
}

.hangover--borderless-media .frame {
  aspect-ratio: unset;
}

.hangover--borderless-media:not(.hangover--with-share) .box .wrapping .hangover__top-content {
  display: flex;
  align-items: center;
  justify-content: left;
}

.hangover--borderless-media:not(.hangover--with-share) .box .wrapping .hangover__top-content .hangover__text {
  min-width: unset;
}

.hangover--borderless-media .hangover__title {
  color: var(--color-primary-dark-x);
}

.hangover__top-hangover-content .share.share--default {
  padding-block: var(--s1);
  padding-inline: 0;
}

.hangover__top-hangover-content .share.share--default .share__items {
  padding-block-start: var(--s-5);
}

.hangover.hangover--with-share .box {
  padding: var(--s1);
}

.hangover.hangover--with-share  .hangover__top-content {
  padding-block: var(--s1);
  padding-inline: 0;
}

.hangover .card.card--media-left img,
.hangover .card.card--media-right img {
  border-radius: 0;
}
