/* Allow the containing div to manage it's own borders. */
.action-list__items {
  border-block: 1px solid var(--color-base);
}

/* Follow the adjacent sibling practice used in this codebase. */
.action-list__item + .action-list__item {
  border-block-start: 1px solid var(--color-base);
}

.action-list__item {
  justify-content: space-between;
}
