.action-list {
  --max-width: 102ch;
}

.action-list__text {
  max-inline-size: var(--max-width);
}

/* Allow the containing div to manage it's own borders. */
.action-list__items {
  border-block: 1px solid var(--color-base);
}

/* Follow the adjacent sibling practice used in this codebase. */
.action-list__item + .action-list__item {
  border-block-start: 1px solid var(--color-base);
}

.action-list__item {
  justify-content: space-between;
}

h3.action-list__item__heading {
  font-size: var(--s0);
  color: var(--color);
  font-family: var(--font-secondary);
  font-weight: bold;
}

.action-list__item .button {
  padding-inline: var(--s3);
}