{# Set up variant classes for high components. Low level ones are "dumb". #}

{# Create class array #}
{# Include composable layout classes as needed. #}
{# Include variant classes form above. #}
{% set classes = [
  'homepage',
] %}

<div {{ attributes.addClass(classes) }}>
  {# Use composable layout classes as needed. #}
  {# Use BEM syntax if needed for styling classes. #}
  {% include "@organisms/Section/Section.twig" with section_1 %}  
  {% include "@organisms/Section/Section.twig" with section_2 %}  
  {% include "@organisms/Section/Section.twig" with section_3 %}  
</div>
