a.button {
  --button-border-color: var(--button-color);
  --button-background: transparent;
  display: inline-flex;
  width: auto;
  background-color: var(--button-background);
  padding: var(--s-1) var(--s2);
  border: 2px solid var(--button-border-color);
  border-radius: var(--s-5);
  color: var(--button-color);
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: var(--s1);
  line-height: var(--s1);
  font-weight: 300;
  letter-spacing: .01rem;
}

a.button::after {
  margin-left: var(--s-5);
  content: "\2192";
  align-self: flex-end;
}

/* Button Variants */
/* Size */
a.button.button--small {
  font-size: var(--s0);
  padding: var(--s-3) var(--s0);
}

a.button.button--large {
  font-size: var(--s2);
  padding: var(--s0) var(--s2);
}

/* Type */
a.button.button--secondary {
  --button-background: var(--color-accent-warm-dark-x);
  --button-color: var(--color-white);
  --button-border-color: var(--color-white);
}

a.button.button--text {
  padding-left: 0;
  border: 0;
  background: transparent;
}
