{% set variant_class = variant ? 'pills--' ~ variant : 'pills--default' %}

{% set classes = [
  'pills',
  variant_class,
] %}

<div class="{{ classes|join(' ') }}">
  {% if icon_data %}
    {% include "@atoms/Icon/Icon.twig" with icon_data %}
  {% endif %}
  <div class="cluster">
    {% for item in items %}
      {{ item }}
    {% endfor %}
  </div>
</div>
