{# This is just a layout example for the styleguide.
  Do not use this template directly. #}

{% set styles = [] %}

{% set styles = space ? styles|merge(['--gap:var(' ~ space ~ ');']) : styles %}
{% set styles = sidebar_width ? styles|merge(['--sidebar-width:' ~ sidebar_width ~ ';']) : styles %}
{% set styles = sidebar_direction ? styles|merge(['--sidebar-direction:' ~ sidebar_direction ~ ';']) : styles %}

{% set classes = [
  'with-sidebar',
  'sidebar-demo'
] %}

<div class="{{ classes|join(' ') }}" style=" {{ styles|join }} ">
	<div class='box'></div>
	<div class="box"></div>
</div>
