{# This is just a layout example for the styleguide.
  Do not use this template directly. #}

<div class="with-sidebar">
  <div class='sidebar box'>
    <h3>Sidebar</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
  </div>
  <div class="box">
    <h3>Not Sidebar</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex corrupti excepturi facere fuga illum nihil, blanditiis expedita placeat quisquam voluptate incidunt, exercitationem, dolorem deserunt repellendus inventore. Nostrum accusantium dicta eius.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis adipisci, minima, necessitatibus, facilis tempora accusamus labore corrupti eius amet officia velit mollitia? Quam ex quo porro veritatis! Totam, laborum debitis.</p>
  </div>
</div>
