{# This is just a layout example for the styleguide.
  Do not use this template directly. #}

{% set styles = [] %}

{% set styles = space ? styles|merge(['--gap:var(' ~ space ~ ');']) : styles %}
{% set styles = sidebar_width ? styles|merge(['--sidebar-width:' ~ sidebar_width ~ ';']) : styles %}
{% set styles = sidebar_direction ? styles|merge(['--sidebar-direction:' ~ sidebar_direction ~ ';']) : styles %}

{% set classes = [
  'with-sidebar',
  'sidebar-demo'
] %}

<div {{ attributes.addClass(classes).setAttribute('style', styles|join) }}>
  <div class='sidebar box'>
  </div>
  <div class="box">
  </div>
</div>
