.publication-results-content .sidebar {
    background: var(--color-base-light-xx);
    flex-basis: var(--sidebar-width, 25ch);
}

.publication-results-content .popular-topics {
    border-top: 1px solid var(--color-base);
}
