.hero {
  --heading-color: var(--color-white);
  --accent-color: var(--color-white);
  --color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "hero";
  min-height: 25ch;
  overflow: hidden;
}

.hero > * {
  grid-area: hero;
  height: 100%;
}

.hero > * > img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.hero__tint {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
}

.hero__content {
  /* Bring it above the tint mix-blend-mode. */
  z-index: 1;
}

.hero__content > * {
  display: flex;
  width: 100%;
  height: 100%;
}

.hero__content-inner {
  color: var(--color);
  max-width: 50%;
}

/* Variants */
.hero.hero--justify-left .hero__content > * {
  justify-content: flex-start;
}

.hero.hero--justify-center .hero__content > * {
  justify-content: center;
}

.hero.hero--justify-right .hero__content > * {
  justify-content: flex-end;
}

.hero.hero--align-top .hero__content > * {
  align-items: flex-start;
}

.hero.hero--align-center .hero__content > * {
  align-items: center;
}

.hero.hero--align-bottom .hero__content > * {
  align-items: flex-end;
}

.hero.hero--color-warm-dark-xx .hero__tint {
  background: var(--color-accent-warm-dark-xx);
}

.hero.hero--color-primary .hero__tint {
  background: var(--color-primary);
}

.hero.hero--content-bg {
  --color: var(--color-black);
  --button-color: var(--color-black);
}

.hero.hero--content-bg .hero__content-inner {
  background: var(--color-white);
  height: 100%;
  max-width: 60ch;
  /* margin-left: 7ch; */
  color: var(--color);
}
