.site-branding {
  --gap: var(--s-3);
}

.site-branding__logo img {
  display: block;
  height: var(--s6);
}

.site-branding__labels {
  line-height: var(--s1);
}

.site-branding__labels a {
  text-decoration: none;
  color: var(--color);
}

.site-branding__label {
  text-transform: uppercase;
  font-family: var(--font-global-brand);
  font-size: var(--s-1);
  letter-spacing: 2px;
}

.site-branding__sub-label {
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: var(--s1);
}
