<div class="site-branding cluster">
  <div class='site-branding__logo'>
    <img src='{{ logo }}' />
  </div>
  <div class="site-branding__labels">
    <div class="site-branding__label">
      {{ label }}
    </div>
    <div class="site-branding__sub-label">
      {{ sub_label }}
    </div>
  </div>
</div>
