{# Set up variant classes. #}
{% set variant_class = variant ? 'inline-form--' ~ variant : 'inline-form--default' %}

{% set styles = [
  submit_color ? '--button-fg: var(--' ~ submit_color ~ ');' : '',
] %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'inline-form',
  variant_class,
] %}

<div class="{{ classes|join(' ') }}" style="{{ styles|join }}">
{#  {{ form }}#}

  <div class="inline-form inline-form--default">
    <form class="views-exposed-form bef-exposed-form" action="/search" method="get">
      <div class="form-item">
        <input class="form-text" placeholder="Search" type="text" value=""/>
      </div>
      <div class="form-actions form-wrapper" id="edit-actions">
        <button class="button form-submit" type="submit">
          <span class="inline-form__submit-line"></span>
          <span class="inline-form__submit-circle"></span>
          <span class="sr-only">Search</span>
        </button>
      </div>
    </form>
  </div>
</div>
