.inline-form {
  --gap: 0;
  --button-color: var(--button-fg);
  margin: 0 auto;
  border-radius: 2rem;
}

.inline-form form {
  --measure: 80ch;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: var(--corner-radius) ;
  background-color: var(--color-base-light-xx);
}

.inline-form .form-item {
  flex-grow: 1;
}

.inline-form input::placeholder {
  color: var(--color-base);
}

.inline-form input,
.inline-form select {
  color: var(--color-black) !important;
  background-color: var(--color-base-light-xx);
  border: 0;
  min-height: calc(var(--icon-size) * 1.26);
  max-height: calc(var(--icon-size) * 1.26);
}

.inline-form select {
  color: var(--color-base);
}

.inline-form input:is(:active, :focus),
.inline-form select:is(:active, :focus) {
  outline-offset: 0;
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--accent-color);
  z-index: 10;
}

.inline-form .form-item + .form-item {
  margin-block-start: 0;
  margin-inline-start: -1px;
}

.inline-form .form-item + .form-item input,
.inline-form .form-item + .form-item select {
  border-inline-start: 1px solid var(--color-base-light-x);
}

.inline-form .form-item:first-child input,
.inline-form .form-item:first-child select {
  border-radius: var(--corner-radius) 0 0 var(--corner-radius);
}

/* Submit buttons */
.inline-form .form-item + .form-actions {
  margin-block-start: 0;
  display: flex;
  padding-inline-end: var(--s-4);
}

.inline-form .form-actions input:is([type="submit"], .button),
.inline-form .form-actions button {
  --icon-size: var(--s0);
  --icon-color: var(--button-color);
  border-radius: 2rem;
  border: 1px solid var(--button-color) !important;
  background-color: var(--button-color);
  color: var(--color-white) !important;
  min-height: calc(var(--icon-size) * 1.26);
  max-height: calc(var(--icon-size) * 1.26);
  padding: var(--s0);
  position: relative;
  line-height: 0;
}

.inline-form .form-actions input:is([type="submit"], .button):hover,
.inline-form .form-actions button:hover  {
  cursor: pointer;
}

.inline-form .form-actions button:hover,
.inline-form .form-actions button:hover .inline-form__submit-circle {
  background-color: var(--color-red);
  color: var(--color-white) !important;  
}

.inline-form .form-actions button:active,
.inline-form .form-actions button:active .inline-form__submit-circle {  
  color: var(--color-white);
  background: var(--color-brown);
}

.inline-form .form-actions button:focus,
.inline-form .form-actions button:focus .inline-form__submit-circle {  
  background: var(--color-accent-warm-dark-x);
}

.inline-form .form-actions button::after  {
  content: '';
  margin: 0;
  display: none;
}

.inline-form .form-actions button > *:is(div, svg) {
  height: var(--s0);
  width: var(--s0);
  fill: var(--color);
  line-height: 0;
}

.inline-form .form-actions button .inline-form__submit-circle,
.inline-form .form-actions button .inline-form__submit-line {
  position: absolute;
  transition: all var(--anim);
}

.inline-form .form-actions button .inline-form__submit-circle {
  width: calc(var(--icon-size) / 1.6);
  height: calc(var(--icon-size) / 1.6);
  border: 2px solid var(--color-white);
  inset-block-start: calc(var(--icon-size) / 1.9);
  inset-inline-start: calc(var(--icon-size) / 1.9);
  border-radius: 50%;
  background-color: var(--icon-color);
}

.inline-form .form-actions button .inline-form__submit-line {
  width: calc(var(--icon-size) / 2);
  height: 2px;
  background: var(--color-white);
  display: inline-block;
  transform: rotate(45deg);
  inset-block-start: calc(var(--icon-size) / .85);
  inset-inline-start: calc(var(--icon-size) / 1);
}
