.teaser-list {
  --grid-min-width: 40ch;
}

.teaser-list__heading,
.teaser-list__button {
  --align-items: center;
}

.teaser-list *:has(+ .wrapping),
.wrapping + .teaser-list__button {
  --align-items: flex-start;
}

.teaser-list__list {
  border-inline-start: 1px dotted var(--accent-color);
  padding-inline-start: var(--s5);
  /* Adding space values to get to the brow + gap for alignment */
  padding-block-start: calc(var(--s2) + var(--gap));
}

.teaser-list__list.wrapped {
  border-inline-start: none;
  padding: 0;
}

.teaser-list__list ul {
  list-style: none;
}

.teaser-list__footer {
  font-size: var(--s-1);
}
