/* Default */

.teaser-list ul {
  list-style: none;
  margin: var(--s0) 0;
}

.teaser-list--default ul {
  padding-left: var(--s5);
}

.teaser-list--default li > * + * {
  margin-top: var(--s2);
}

.teaser-list--default .teaser-list__teaser {
  padding-right: var(--s5);
}

.teaser-list--default .teaser-list__list {
  border-left: 1px dotted var(--accent-color);
}

.teaser-list__footer {
  font-size: var(--s-1);
}

/* stacked variant */

.teaser-list--stacked .ul {
  padding-left: var(--s0);
}