.teaser-list ul {
  list-style: none;
  margin: var(--s0) 0;
  padding-left: var(--s5);
}

.teaser-list li > * + * {
  margin-top: var(--s-2);
}

.teaser-list__teaser {
  padding-right: var(--s5);
}

.teaser-list__list {
  border-left: 1px dotted var(--accent-color);
}

.teaser-list__footer {
  font-size: var(--s-1);
}


