{# This is just a layout example for the styleguide.
  Do not use this template directly. #}

{# {% set styles = [] %}
{% set styles = styles|merge(['height: 50%; width: 80%; background: black;']) %} #}

{% set classes = [
  'center',
] %}

<div class="imposter-demo">
  <div class="grid">
    <div class="box">
      <div class="imposter imposter-demo__inner">
        <div class="box">
          <p>absolute</p>
        </div>
      </div>
    </div>
    <div class="box">
    </div>
  </div>
  <div class="grid">
    <div class="box">
    </div>
    <div class="box">
      <div class="imposter imposter-demo__inner" style="--positioning: {{ positioning }}">
        <div class="box">
          <p>{{ positioning }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
