.form-fields {}
.hero {
    --color: var(--color-white);
    --heading-color: var(--color);
    --accent-color: var(--color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hero";
    overflow: hidden;
}

.hero > * {
    grid-area: hero;
}

.hero__image {
    background-image: var(--background-image);
    background-position: center center;
    background-size: cover;
}

.hero__tint {
    mix-blend-mode: multiply;
    background-color: var(--bg);
    width: 100%;
    height: 100%;
}

.hero__content {
    /* Bring it above the tint mix-blend-mode. */
    z-index: 1;
}

.hero__content-inner {
    color: var(--color);
    max-width: 50%;
    width: 100%;
}

/* Alignment */
.hero--justify-left .hero__content > * {
    justify-content: flex-start;
}

.hero--justify-center .hero__content > * {
    justify-content: center;
}

.hero--justify-right .hero__content > * {
    justify-content: flex-end;
}

.hero--align-top .hero__content > * {
    align-items: flex-start;
}

.hero--align-center .hero__content > * {
    align-items: center;
}

.hero--align-bottom .hero__content > * {
    align-items: flex-end;
}

.hero--content-bg {
    --color: var(--color-black);
    --button-color: var(--color-black);
}

.hero--content-bg .hero__content-inner {
    padding: var(--s4);
    background: var(--color-white);
    max-width: 60ch;
    color: var(--color);
}

