/* START styles for ALL */
.sidebar-list {
  background: var(--color-base-light-xxx);
  padding-inline: var(--s4);
  padding-block: var(--s5);
  max-width: calc(var(--sidebarnav-width) + 7ch);
}

.sidebar-list__heading {
  font-size: 28px;
  color: var(--color-black);
  margin-block-end: var(--s4);
  font-weight: 400;
}

.sidebar-list__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-list__item {
  --gap: 1.65rem;
  font-weight: 300;
}
/* END styles for ALL */
/* -------------------------------------------------------------------------- */
/* START Default styles */
.sidebar-list--default {
  background: var(--color-base-light-xxx);
}

.sidebar-list--default .sidebar-list__heading {
  color: var(--color-black);
}

.sidebar-list--default .sidebar-list__item__brow {
  font-size: var(--s0);
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: 800;
  color: var(--color-primary);
  letter-spacing: 0.35px;
}

.sidebar-list--default .sidebar-list__item__heading {
  color: var( --color-black);
  font-size: 24px;
  line-height: 1.3;
  margin-block-start: 0.4rem;
}

.sidebar-list--default .sidebar-list__item__text {
  margin-block-start: 0.75rem;
  font-style: italic;
  font-size: var(--s0);
  font-weight: 400;
  word-break: break-word;
}

.sidebar-list--default .sidebar-list__item__links {
  margin-block-start: 0.75rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
/* END Default styles */
/* -------------------------------------------------------------------------- */
/* START Primary styles */
.sidebar-list--primary {
  background: var(--background-striped-primary);
}

.sidebar-list--primary .sidebar-list__heading {
  display: none;
}

.sidebar-list--primary *:is(.sidebar-list__item__heading, .sidebar-list__item__date-info, .sidebar-list__item__text),
.sidebar-list--primary *:is(.sidebar-list__item__heading, .sidebar-list__item__date-info, .sidebar-list__item__text) *:is(p,h2,h3,h4,h5,h6,a) {
  color: var(--color-white);
  font-weight: 300;
}

.sidebar-list--primary .sidebar-list__item__link {
  --button-fg: var(--color-white);
}

.sidebar-list--primary .sidebar-list__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: var(--align-items, flex-start);
}

.sidebar-list--primary .sidebar-list__item > * + * {
  margin-block-start: var(--gap, 1.5rem);
}
/* END Primary styles */
/* -------------------------------------------------------------------------- */
/* START Secondary styles */
.sidebar-list--secondary {
  background: var(--background-striped-primary-dark-x);
}

.sidebar-list--secondary .sidebar-list__heading {
  display: none;
}

.sidebar-list--secondary *:is(.sidebar-list__item__heading, .sidebar-list__item__date-info, .sidebar-list__item__text),
.sidebar-list--secondary *:is(.sidebar-list__item__heading, .sidebar-list__item__date-info, .sidebar-list__item__text) *:is(p,h2,h3,h4,h5,h6,a) {
  color: var(--color-white);
  font-weight: 300;
}

.sidebar-list--secondary .sidebar-list__item__brow {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-accent-warm-light-x);
}

.sidebar-list--secondary .sidebar-list__item__heading {
  font-size: var(--s2);
  line-height: normal;
  font-weight: 300;
}

.sidebar-list--secondary .sidebar-list__item__text {
  font-style: italic;
}

.sidebar-list--secondary .sidebar-list__item > * + * {
  margin-block-start: .5rem;
}

.sidebar-list--secondary .sidebar-list__item__link {
  --button-fg: var(--color-white);
  margin-block-start: .75rem;
}
/* END Secondary styles */
