.section {
  --color: var(--color-black);
  --heading-color: var(--color-primary-dark-x);
  color: var(--color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "section";
}

.section > * {
  grid-area: section;
}

.section__image {
  background-image: var(--background-image);
  background-position: center center;
  background-size: cover;
}

.section .brow + h1,
.section .brow + h2,
.section .brow + h3 {
  margin-block-start: 0;
}

.section__tint {
  mix-blend-mode: multiply;
  background-color: var(--bg);
  width: 100%;
  height: 100%;
}

.section__content {
  box-sizing: border-box;
  padding-block: var(--s5);
  /* Brings content above tint due to grid. */
  z-index: 1;
}

.section > * > .center {
  --align-items: center;
}

.section .section__main {
  width: 100%;
}

.section .section__header,
.section .section__button {
  --align-items: center;
}

.section .section__header h1,
.section .section__header h2 {
  color: var(--heading-color);
}

.section .section__header h1.brow,
.section .section__header h2.brow {
  color: var(--accent-color);
  border-color: var(--color);
}

.section__main.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);
}

.section__main.flex > * {
  flex: 1 1 auto;
  min-inline-size: 20ch;
}

.section__main.flex--75-25 > *:nth-child(1) {
  flex-basis: calc(75% - var(--gap));
}

.section__main.flex--75-25 > *:nth-child(2) {
  flex-basis: calc(25% - var(--gap));
}

.section__main.flex--70-30 > *:nth-child(1) {
  flex-basis: calc(70% - var(--gap));
}

.section__main.flex--70-30 > *:nth-child(2) {
  flex-basis: calc(30% - var(--gap));
}

.section__main.flex--60-40 > *:nth-child(1) {
  flex-basis: calc(60% - var(--gap));
}

.section__main.flex--60-40 > *:nth-child(2) {
  flex-basis: calc(40% - var(--gap));
}


/* Variants */
.section--color-primary-dark-xx {
  --color: var(--color-white);
  --accent-color: var(--color-accent-warm-light-x);
  --heading-color: var(--color-white);
  --button-fg: var(--accent-color);

  background: var(--color-primary-dark-xx);
}

.section--color-primary-dark-xx-stripe {
  --color: var(--color-white);
  --accent-color: var(--color-accent-warm-light-x);
  --heading-color: var(--color-white);
  --button-fg: var(--accent-color);

  background: repeating-linear-gradient(
    125deg,
    #2F505E,
    #2F404E 1px,
    var(--color-primary-dark-xx) 2px,
    var(--color-primary-dark-xx) 8px
  )
}

.section--color-warm-dark-xx {
  --color: var(--color-white);
  --accent-color: var(--color-white);
  background: var(--color-accent-warm-dark-xx);
}

.section--color-warm-dark-x {
  --color: var(--color-black);
  --accent-color: var(--color-accent-warm-dark-x);
  background: var(--color-accent-warm-light-xxxx);
}

.section--with-bg-image {
  --color: var(--color-white);
  --heading-color: var(--color-white);
  --accent-color: var(--color-white);
}

/* Drop padding when two sections of the same background are touching. */
.section--color-default + .section--color-default .box,
.section--color-white + .section--color-white .section__content,
.section--color-warm-dark-x + .section--color-warm-dark-x,
.section--color-warm-dark-xx + .section--color-warm-dark-xx,
.section--color-primary-dark-xx-stripe + .section--color-primary-dark-xx-stripe,
.section--color-primary-dark-xx + .section--color-primary-dark-xx {
  padding-top: 0;
}
