.section {
  --color: var(--color-black);
  color: var(--color);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bg);
  border-block-end: var(--border) solid var(--s0);
  padding-block: var(--s0);
}

.section .section {
  padding: 0;
}

.section .section .section__content.box {
  padding: 0;
}

.section > * {
  width: 100%;
}

.section__header h1 + *,
.section__header h2 + *,
.section__header h3 + * {
  margin-block-start: var(--gap);
}

.section__header.center {
  text-align: center;
  text-wrap: normal;
}

.section__content {
  box-sizing: border-box;
  /* padding-block: var(--s3); */
  /* Brings content above tint due to grid. */
  justify-content: center;
  z-index: 1;
}

.section > * > .center {
  --align-items: center;
  --measere: var(--max-width);
}

.section .section__main {
  width: 100%;
}

.section .section__header {
  --max-width: 103ch;
  max-inline-size: var(--max-width);
}

.section .section__header {
  --align-items: center;
}

.section .section__button {
  text-align: right;
}

.section .section__header h1.brow,
.section .section__header h2.brow {
  color: var(--accent-color);
  border-color: var(--color);
}

.section__main div + .accordion,
.section__main div + div .accordion,
.section__main div + .action-list,
.section__main div + div .action-list,
.section__main div + .body,
.section__main div + div .body,
.section__main div + .list,
.section__main div + div .list,
.section__main div + .steps,
.section__main div + div .steps,
.section__main div + .teaser-list,
.section__main div + div .teaser-list {
  margin-block-start: var(--s5);
}

.section__main.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);
}

.section__main.flex > * {
  flex: 1 1 auto;
  min-inline-size: 20ch;
}

.section__main.flex--75-25 > *:nth-child(1) {
  flex-basis: calc(75% - var(--gap));
}

.section__main.flex--75-25 > *:nth-child(2) {
  flex-basis: calc(25% - var(--gap));
  margin-block-start: 0;
  margin-block-end: var(--s5);
}

.section__main.flex--70-30 > *:nth-child(1) {
  flex-basis: calc(70% - var(--gap));
}

.section__main.flex--70-30 > *:nth-child(2) {
  flex-basis: calc(30% - var(--gap));
  margin-block-start: 0;
  margin-block-end: var(--s5);
}

.section__main.flex--60-40 > *:nth-child(1) {
  flex-basis: calc(60% - var(--gap));
}

.section__main.flex--60-40 > *:nth-child(2) {
  flex-basis: calc(40% - var(--gap));
  margin-block-start: 0;
  margin-block-end: var(--s5);
}

.section__main.flex--70-30 > *:nth-child(2) .container .body,
.section__main.flex--60-40 > *:nth-child(2) .container .body,
.section__main.flex--75-25 > *:nth-child(2) .container .body {
  margin-block-start: 0;
}

.section__main.grid > .body {
  margin-block-start: 0;
  margin-block-end: var(--s5);
}

.section__main .main-sidebar{
  word-break: break-word;
}

/* BEGIN Background colors  */

/* Reverse element colors for darker backgrounds */
.section.bg-adjust:not(
  [style*="--bg: var(--color-none);"],
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__header *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-none);"],
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-none);"],
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__button *  {
  --color: var(--color-white);
  --hover-color: var(--color-white);
  --color-base: var(--color);
  --heading-color: var(--color);
  --accent-color: var(--color);
  --button-border: var(--color);
  --border-color: var(--color);
  color: var(--color);
}

/* Adjust default card with no background */
.section.bg-adjust.cards:not(
  [style*="--bg: var(--color-none);"],
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .card:not(.bg-adjust) .card__inner *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-none);"],
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .cards .card:not(.bg-adjust) .card__inner * {
  --color: var(--color-white) !important;
}

/* Adjust accordion hover if darker background */
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .accordion details > summary:hover *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .accordion details > summary:hover:after {
  --accent-color: var(--button-fg);
  color: var(--accent-color);
}

.section.bg-adjust .section__button {
  margin-block-start: 0;
}

.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__button .button:hover {
  color: var(--color-white) !important;
}

/* DEPRECATED */

.section--color-primary-dark-xx {
  --bg: var(--color-primary-dark-x) !important;
  --border: var(--border-primary-dark-x) !important;
}

.section--color-primary-dark-xx-stripe {
  --bg: var(--color-primary-dark-x) !important;
  --border: var(--border-primary-dark-x) !important;
}

.section--color-warm-dark-xx {
  --bg: var(--color-red) !important;
  --border: var(--border-red) !important;
}

.section--color-warm-dark-x {
  --bg: var(--color-accent-warm-light-xxxx) !important;
  --border: var(--border-accent-warm-light-xxxx) !important;
}
/* END */

/* Variants */
.section--with-bg-image .section__content {
  position: relative;
}

.section--with-bg-image .section__content .container {
  position: relative;
  z-index: 1;
}

.section__image {
  background-image: var(--background-image);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
}

.section__tint {
  mix-blend-mode: multiply;
  background-color: var(--bg);
  width: 100%;
  height: 100%;
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
}

.section--with-bg-image,
.section--with-bg-image .section__header > * {
  --color: var(--color-white);
  --heading-color: var(--color);
  --accent-color: var(--color);
}

.section--with-bg-image .body__main.divider .body__content,
.section--color-warm-dark-xx .body__main.divider .body__content {
  border-inline-end-color: var(--color-white);
}

/* Drop padding when two sections of the same background are touching. */
.section--color-white + .section--color-white > .section__content,
.section--color-warm-dark-x + .section--color-warm-dark-x,
.section--color-warm-dark-xx + .section--color-warm-dark-xx,
.section--color-primary-dark-xx-stripe + .section--color-primary-dark-xx-stripe,
.section--color-primary-dark-xx + .section--color-primary-dark-xx {
  padding-top: 0;
}

.section__header .brow {
  margin-block-end: var(--s-3);
}

.section > .section__content.box .section__main > .section__content.box {
  padding-inline: 0;
}

/* Add missing bottom spacing when centered within section */
.section__main.center .card--default.bg-adjust:not(:first-child) {
  margin-block-start: var(--gap);
}

.section .component_group > .container > div > div {
  margin-block-end: var(--s5);
}
.section .component_group > .container > div > div:nth-last-child(1) {
  margin-block-end: 0;
}
