.section {
  --color: var(--color-black);
  color: var(--color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "section";
  background-color: var(--bg);
  border-block-end: var(--border) solid var(--s0);
}

.section > * {
  grid-area: section;
}

.section__image {
  background-image: var(--background-image);
  background-position: center center;
  background-size: cover;
}

.section__header h1 + *,
.section__header h2 + *,
.section__header h3 + * {
  margin-block-start: var(--gap);
}

.section__header.center {
  text-align: center;
  text-wrap: normal;
}

.section__tint {
  mix-blend-mode: multiply;
  background-color: var(--bg);
  width: 100%;
  height: 100%;
}

.section__content {
  box-sizing: border-box;
  /* padding-block: var(--s3); */
  /* Brings content above tint due to grid. */
  z-index: 1;
}

.section__content.box {
  padding-block: var(--s3);
}

.section > * > .center {
  --align-items: center;
  --measere: var(--max-width);
}

.section .section__main {
  width: 100%;
}

.section .section__main.multiple:not(.stack) .card__inner {
  display: block;
}

.section .section__header {
  --max-width: 103ch;
  max-inline-size: var(--max-width);
}

.section .section__header,
.section .section__button {
  --align-items: center;
}

.section .section__header h1.brow,
.section .section__header h2.brow {
  color: var(--accent-color);
  border-color: var(--color);
}

.section__main.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);
}

.section__main.flex > * {
  flex: 1 1 auto;
  min-inline-size: 20ch;
}

.section__main.flex--75-25 > *:nth-child(1) {
  flex-basis: calc(75% - var(--gap));
}

.section__main.flex--75-25 > *:nth-child(2) {
  flex-basis: calc(25% - var(--gap));
}

.section__main.flex--70-30 > *:nth-child(1) {
  flex-basis: calc(70% - var(--gap));
}

.section__main.flex--70-30 > *:nth-child(2) {
  flex-basis: calc(30% - var(--gap));
}

.section__main.flex--60-40 > *:nth-child(1) {
  flex-basis: calc(60% - var(--gap));
}

.section__main.flex--60-40 > *:nth-child(2) {
  flex-basis: calc(40% - var(--gap));
}

.section__main .main-sidebar{
  word-break: break-word;
}

/* BEGIN Background colors with backwards compatibility */
.section.bg-adjust .section__content {
  padding-block-start: var(--s5);
}

/* Reverse element colors for darker backgrounds */
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__header *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__button *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .accordion *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .action-list > *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .body *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .steps *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .teaser-list *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .view-results *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .card:not(.bg-adjust) .card__main * {
  --color: var(--color-white);
  --color-base: var(--color);
  --heading-color: var(--color);
  --accent-color: var(--color);
  --button-border: var(--color);
  color: var(--color);
}

/* Adjust accordion hover if darker background */
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .accordion details > summary:hover *,
.section.bg-adjust:not(
  [style*="--bg: var(--color-default);"],
  [style*="--bg: var(--color-white);"],
  [style*="--bg: var(--color-warm-dark-x);"],
  [style*="--bg: var(--color-base-light-xxx);"],
  [style*="--bg: var(--color-primary-light-xxx);"],
  [style*="--bg: var(--color-accent-warm-light-xxxx);"]
) .section__main .accordion details > summary:hover:after {
  --accent-color: var(--button-fg);
  color: var(--accent-color);
}

.section--color-primary-dark-xx {
  --bg: var(--color-primary-dark-x) !important;
  --border: var(--border-primary-dark-x) !important;
}

.section--color-primary-dark-xx-stripe {
  --bg: var(--color-primary-dark-x) !important;
  --border: var(--border-primary-dark-x) !important;
}

.section--color-warm-dark-xx {
  --bg: var(--color-red) !important;
  --border: var(--border-red) !important;
}

.section--color-warm-dark-x {
  --bg: var(--color-accent-warm-light-xxxx) !important;
  --border: var(--border-accent-warm-light-xxxx) !important;
}
/* END */

/* Preview swatch for editor */
.section.swatch {
  border-radius: var(--corner-radius);
}

/* Base preview for editor */
.section.swatch--color-base-light-xxx {
  background: var(--background-solid-base-light-xxx);
}

.section.swatch--color-base-dark-x {
  background: var(--background-solid-base-dark-x);
}

.section.swatch--color-base-dark-xxx {
  background: var(--background-solid-base-dark-xxx);
}

/* Accent preview for editor */
.section.swatch--color-accent-warm-light-xxxx {
  background: var(--background-solid-accent-warm-light-xxxx);
}

.section.swatch--color-accent-warm-dark-x {
  background: var(--background-solid-accent-warm-dark-x);
}

.section.swatch--color-red {
  background: var(--background-solid-red);
}

.section.swatch--color-brown {
  background: var(--background-solid-brown);
}

/* Primary preview for editor */
.section.swatch--color-primary-light-xxx {
  background: var(--background-solid-primary-light-xxx);
}

.section.swatch--color-primary-light-x {
  background: var(--background-solid-primary-light-x);
}

.section.swatch--color-primary-dark-x {
  background: var(--background-solid-primary-dark-x);
}

/* Secondary preview for editor */
.section.swatch--color-secondary {
  background: var(--background-solid-secondary);
}

.section.swatch--color-secondary-dark-xx {
  background: var(--background-solid-secondary-dark-xx);
}
/* END */

/* Variants */

.section--with-bg-image,
.section--with-bg-image .section,
.section--with-bg-image h2 {
  --color: var(--color-white);
  --heading-color: var(--color);
  --accent-color: var(--color);
}

.section--with-bg-image .body__main.divider .body__content,
.section--color-warm-dark-xx .body__main.divider .body__content {
  border-inline-end-color: var(--color-white);
}

/* Drop padding when two sections of the same background are touching. */
.section--color-white + .section--color-white > .section__content,
.section--color-warm-dark-x + .section--color-warm-dark-x,
.section--color-warm-dark-xx + .section--color-warm-dark-xx,
.section--color-primary-dark-xx-stripe + .section--color-primary-dark-xx-stripe,
.section--color-primary-dark-xx + .section--color-primary-dark-xx {
  padding-top: 0;
}

.section__header .brow {
  margin-block-end: var(--s-3);
}

.section > .section__content.box .section__main > .section__content.box {
  padding-inline: 0;
}

/* Remove extra top spacing for cards subsection when 1st or 2nd element */
.section .section__main .section.cards:nth-child(1) .section__content,
.section .section__main .section.cards:nth-child(2) .section__content {
  padding-block-start: unset;
}

/* Adds spacing between elements in the main content section */
.section__content .section__main:not(.grid) > * + *:not(.card):not(.profile-card) {
  padding-block-start: var(--s4);
}
.section__content .section__main.grid>*+:nth-child(2):not(.card):not(.cards):not(.profile-cards) {
  padding-block-start: 0;
}
.section__content .section__header + .section__main {
  padding-block-start: var(--s4);
  margin-block-start: 0
}

/* Add missing text block spacing for default cards without backgrounds */
.section__main .card--default:not(.bg-adjust) .card__main {
  padding-block: var(--gap);
}

/* Add missing bottom spacing when centered within section */
.section__main.center .card--default.bg-adjust:not(:first-child) {
  margin-block-start: var(--gap);
}
