{# This is just a layout example for the styleguide.
  Do not use this template directly. #}

<div class="box">
  <p>See the &#9757; 'Docs' tab.</p>
  <p>This is not a real component we're just using a Storybook component to make documentation easily accessible.<br />The 'Docs' tab of a component will show the content of its readme.md file as well as the component Playground.</p>
</div>
