@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:wght@400;500;600;700&display=swap');

/* Variables. */
:root {
  /* Scale */
  --ratio: 1.26;
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));

  /* Content spacing. */
  --measure: 60ch;
  --max-width: 126ch;
  --min-width: 40ch;

  /* Fonts */
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Lato', sans-serif;
  --font-global-brand: 'Lora' ,'Georgia' ,'Cambria' ,'Times New Roman','Times' ,serif;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #1B1B1B;

  --color-base-dark-xxx: #2E2E2E;
  --color-base-dark-xx: #454545;
  --color-base-dark-x: #5C5C5C;
  --color-base: #919191;
  --color-base-light-x: #C9C9C9;
  --color-base-light-xx: #F3F3F3;
  --color-base-light-xxx: #F9F9F9;

  --color-accent-warm-dark-xxx: #775540;
  --color-accent-warm-dark-xx: #655A3DB2;
  --color-accent-warm-dark-x: #C05600;
  --color-accent-warm: #d57513;
  --color-accent-warm-light-x: #FF8B2D;
  --color-accent-warm-light-xx: #FFBE2E;
  --color-accent-warm-light-xxx: #FCE2C5;
  --color-accent-warm-light-xxxx: #FEF2E4;

  --color-primary-dark-xx: #1F303E;
  --color-primary-dark-x: #0B4778;
  --color-primary: #005EA2;
  --color-primary-light-x: #2378C3;
  --color-primary-light-xx: #25B6E2;
  --color-primary-light-xxx: #EFF6FB;

  --color-secondary-dark-xx: #204E34;
  --color-secondary-dark-x: #286846;
  --color-secondary: #34A37E;
  --color-secondary-light-x: #3db37e;
  --color-secondary-light-xx: #4BD6A7;

  /* Striped Backgrounds */

  --background-striped-primary-dark-xx: repeating-linear-gradient(
    125deg,
    var(--color-primary-dark-x),
    var(--color-primary-dark-x) 1px,
    var(--color-primary-dark-xx) 2px,
    var(--color-primary-dark-xx) 8px
  );

  --background-striped-primary-dark-x: repeating-linear-gradient(
    125deg,
    var(--color-primary),
    var(--color-primary) 1px,
    var(--color-primary-dark-x) 2px,
    var(--color-primary-dark-x) 8px
  );

  --background-striped-secondary: repeating-linear-gradient(
    125deg,
    var(--color-secondary-light-x),
    var(--color-secondary-light-x) 1px,
    var(--color-secondary) 2px,
    var(--color-secondary) 8px
  );

  --background-striped-accent-warm-dark-x: repeating-linear-gradient(
    125deg,
    var(--color-accent-warm),
    var(--color-accent-warm) 1px,
    var(--color-accent-warm-dark-x) 1px,
    var(--color-accent-warm-dark-x) 8px
  );

  --background-striped-secondary-dark-xx: repeating-linear-gradient(
    125deg,
    var(--color-secondary-dark-x),
    var(--color-secondary-dark-x) 1px,
    var(--color-secondary-dark-xx) 1px,
    var(--color-secondary-dark-xx) 8px
  );

  --background-striped-primary-light-xx: repeating-linear-gradient(
    125deg,
    #2fBfEf,
    #2fBfEf 1px,
    var(--color-primary-light-xx) 1px,
    var(--color-primary-light-xx) 8px
  );

  --background-striped-base-dark-x: repeating-linear-gradient(
    125deg,
    #707070,
    #666666 1px,
    var(--color-base-dark-x) 2px,
    var(--color-base-dark-x) 8px
  );

  /* Contextual variable: can be overridden at the component level to affect accent elements within. */
  --bg: transparent;
  --heading-color: var(--color-primary-dark-xx);
  --accent-color: var(--color-accent-warm-dark-x);
  --color: var(--color-black);
  --button-fg: var(--accent-color);
  --border-thin: 1px;
  --border-normal: 2px;
  --gap: var(--s1);
  --anim: 0.2s ease-out 0.2s;
}

/* The only media query used simply bumps the base size of our modular scale for larger screens. */
@media screen and (max-width: 430px) {
  :root {
    --s0: 0.84rem;
  }
}

