/* Card styles are dictated by the parent Cards component. */
.card .switcher {
  --measure: 100rem;
}

.card__media .frame iframe {
  width: 100%;
  height: 100%;
}

/* Variants */

.card--clickable {
  display: block;
  text-decoration: none;
}

/* Card modifier class can be used on cards wrapper element or on the card. */
/* So we use both types of selector orders for each variant. */

/* Bordered Center */
.card--bordered-center .card,
.card.card--bordered-center {
  border: var(--s-2) solid var(--color-accent-warm-light-xxxx);
  background: var(--color-accent-warm-light-xxxx);
}

.card--bordered-center .card > div,
.card.card--bordered-center > div {
  height: 100%;
  width: 100%;
  border: 1px dashed var(--color-base);
}

.card--bordered-center .card .card__main,
.card.card--bordered-center .card__main {
  /* Because this is also wrapped in '.center' we can cause intrinsic center. */
  --align-items: center;
  --color: var(--color-black);
  --heading-color: var(--color-primary-dark-x);
  --button-fg: var(--color-accent-warm-dark-x);
  text-align: center;
  padding: var(--s1);
  background-color: var(--color-white);
}

.card--bordered-center .card .switcher,
.card.card--bordered-center .switcher {
  gap: 0;
}

/* Media Left */
.card--media-left .card .switcher,
.card.card--media-left .switcher {
  --measure: 40rem;
  align-items: center;
}

/* Media Right */
.card--media-right .card .switcher,
.card.card--media-right .switcher {
  --measure: 40rem;
  align-items: center;
  flex-direction: row-reverse;
}

/* Overlay */
.card--overlay .card > *,
.card.card--overlay > * {
  --color: var(--color-white);
  --heading-color: var(--color);
  --button-fg: var(--color);
  --button-border: var(--color);
  display: grid;
  grid-template-areas: "card";
  place-items: center;
  overflow: hidden;
  background-color: var(--color-black);
  mix-blend-mode: multiply;
  position: relative;
}

.card--overlay .card > * > *,
.card.card--overlay > * > * {
  grid-area: card;
}

.card--overlay .card .card__media,
.card.card--overlay .card__media {
  opacity: .5;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card--overlay .card .frame,
.card.card--overlay .frame {
  --frame-h: 1;
  --frame-v: 2.6;
}

.card--overlay .card .card__media img,
.card.card--overlay .card__media img {
  display: block;
  object-fit: cover;
  height: 100%;
  mix-blend-mode: multiply;
}

.card--overlay .card .card__main,
.card.card--overlay .card__main {
  padding: var(--s4);
  z-index: 1;
}

/* Striped */
.card--striped .card,
.card.card--striped {
  --heading-color: var(--color-white);
  --color: var(--heading-color);
  --align-items: center;
  color: var(--color);
  display: block;
  padding: var(--s1);
  font-size: var(--s1);
  line-height: var(--s4);
  text-align: center;
  background: var(--background-striped-primary-dark-xx);
}

.card--striped.card--background-striped-base-dark-x {
  background: var(--background-striped-base-dark-x);
}

.card--striped.card--background-striped-primary-dark-xx {
  background: var(--background-striped-primary-dark-xx);
}

.card--striped.card--background-striped-primary-dark-x {
  background: var(--background-striped-primary-dark-x);
}

.card--striped.card--background-striped-primary-light-xx {
  background: var(--background-striped-primary-light-xx);
}

.card--striped.card--background-striped-secondary-dark-xx {
  background: var(--background-striped-secondary-dark-xx);
}

.card--striped.card--background-striped-secondary {
  background: var(--background-striped-secondary);
}

.card--striped.card--background-striped-accent-warm-dark-x {
  background: var(--background-striped-accent-warm-dark-x);
}
