/* Card styles are dictated by the parent Cards component. */
.card .switcher {
  --measure: 100rem;
  gap: 0;
}

.card__media .frame {
  --n: 16;
  --d: 9;
}

.card__media .frame iframe {
  width: 100%;
  height: 100%;
}

/* Variants */

/* Card modifier class can be used on the .cards wrapper or on the card. */
/* So we use both types of selector orders for each variant. */
/* @todo: determine if we can omit the .card level and always expect the card modifier class on the .cards component. */

/* Bordered Center */
.card--bordered-center .card,
.card.card--bordered-center {
  border: var(--s-2) solid var(--color-accent-warm-light-xx);
}

.card--bordered-center > div {
  height: 100%;
  width: 100%;
  border: 1px dashed var(--color-base);
}

.card--bordered-center .card__main {
  text-align: center;
  /* Because this is also wrapped in '.center' we can cause intrinsic center. */
  --align-items: center;
}

/* Media Left */
.card--media-left .switcher {
  --measure: 40rem;
  align-items: center;
}

/* Media Right */
.card--media-right .switcher {
  --measure: 40rem;
  align-items: center;
  flex-direction: row-reverse;
}

/* Overlay */
.card--overlay .card > *,
.card.card--overlay > * {
  --color: var(--color-white);
  --heading-color: var(--color);
  --button-fg: var(--color);
  --button-border: var(--color);
  display: grid;
  grid-template-areas: "card";
  place-items: center;
  overflow: hidden;
  max-width: 60ch;
  background-color: var(--color-black);
  mix-blend-mode: multiply;
}

.card--overlay .card > * > *,
.card.card--overlay > * > * {
  grid-area: card;
}

.card--overlay .card__media {
  opacity: .5;
  overflow: hidden;
  max-height: 50ch;
}

.card--overlay .frame {
  --n: 1;
  --d: 2;
}

.card--overlay .card__media img {
  display: block;
  object-fit: cover;
  height: 100%;
  mix-blend-mode: multiply;
}

.card--overlay .card__main {
  padding: var(--s4);
  z-index: 1;
}

/* Striped */
.card--striped .card,
.card.card--striped {
  --color: var(--color-white);
  --heading-color: var(--color-white);
  --align-items: center;

  gap: var(--s0);
  color: var(--color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background: gray;
  padding: var(--s2) var(--s5);
  font-size: var(--s3);
  line-height: var(--s4);
  text-align: center;
  text-decoration: none;

  background: repeating-linear-gradient(
    125deg,
    var(--color-primary-dark-x),
    var(--color-primary-dark-x) 1px,
    var(--color-primary-dark-xx) 2px,
    var(--color-primary-dark-xx) 8px
  );
}

.card--striped .card .box,
.card.card--striped .box {
  padding: 0;
}
