{# Set up variant classes. #}
{% set color_class = color ? 'steps--color-' ~ color : 'steps--color-default' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'steps',
  color_class,
] %}

<div class="{{ classes|join(' ') }}">
  {# Use composable layout classes as needed. (stack, grid, center, etc.) #}
  {# Use BEM syntax for styling classes on sub-components. #}
  {% for step in steps %}
  <div class="steps__step step">
    <h3 class="step__label">
      <span class="sr-only">Step: {{ loop.index }}</span>
      {{ step.label }}
    </h3>
    {{ step.content }}
  </div>
  {% endfor %}
</div>
