.steps {
  --max-width: 102ch;
}

.step__lead {
  max-inline-size: var(--max-width);
}

.steps__steps {
  margin-inline-start: var(--s2);
}

.steps__step {
  position: relative;
  margin-block-start: 0;
  padding-inline-start: var(--s4);
  padding-block-start: var(--s-4);
  padding-block-end: var(--s4);
  border-inline-start: 2px solid var(--color-accent-warm-light-x);
}

.steps {
  counter-reset: step_number;
}

.steps .step::before,
.steps--custom-index .step span {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc(var(--s1) * -1.1);

  width: var(--s4);
  height: var(--s4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--s1);
  border-radius: 50%;
  background-color: var(--color-accent-warm-dark-x);
  border: 2px solid var(--color-accent-warm-light-x);
  color: var(--color-white);
}

.step span.steps__index--small {
  font-size: var(--s-2);
}

.steps--custom-index .step span {
  width: var(--s5);
  height: var(--s5);
}

.steps .step::before {
  counter-increment: step_number;
  content: counter(step_number);
}

.steps--custom-index .step::before {
  content: unset;
}

.steps__step .center {
  margin-inline: initial;
}

/* Label headings must always appear as H3 visually. */
.step__label {
  margin-block-end: var(--s0);
  font-size: var(--s2);
  line-height: var(--s3);
}

.steps--color-white .step::before,
.steps--color-white.steps--custom-index .step span {
  background-color: var(--color-white);
  border: 2px solid var(--color-base);
  color: var(--color-base-dark-x);
}

.steps--color-white .steps__step {
  border-inline-start: 2px solid var(--color-base);
}

.steps--color-dark .step::before,
.steps--color-dark.steps--custom-index .step span {
  background-color: var(--color-base-dark-x);
  border: 2px solid var(--color-base-dark-x);
  color: var(--color-white);
}

.steps--color-dark .steps__step {
  border-inline-start: 2px solid var(--color-base-dark-x);
}

.steps--color-primary .step::before,
.steps--color-primary.steps--custom-index .step span {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--color-white);
}

.steps--color-primary .steps__step {
  border-inline-start: 2px solid var(--color-primary);
}

.steps--color-secondary .step::before,
.steps--color-secondary.steps--custom-index .step span {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  color: var(--color-white);
}

.steps--color-secondary .steps__step {
  border-inline-start: 2px solid var(--color-secondary);
}

.steps__step:last-child {
  border-inline-start: 2px solid transparent;
}
