
div:is(.body, .jcc-rulesformatting) hr {
  margin-block: 2rem;
}

div:is(.body, .jcc-rulesformatting) p:is(.ruleheading, .subdivheading, .subdivtext, .subdhist, .paragraphlist, .subparagraphlist, .subparagraphnolist, .rulehist, .advcommheader, .advcommtext) + 
p:is(.ruleheading, .subdivheading, .subdivtext, .subdhist, .paragraphlist, .subparagraphlist, .subparagraphnolist, .rulehist, .advcommheader, .advcommtext) {
  margin-block-start: var(--s0);
}

div:is(.body, .jcc-rulesformatting) p.normal {
  font-weight: normal;
}

div:is(.body, .jcc-rulesformatting) p.ruleheading {
  margin-block-start: var(--s0);
  font-weight: bold;
}

div:is(.body, .jcc-rulesformatting) p.subdivheading {
  margin-inline-start: 1rem;
}

div:is(.body, .jcc-rulesformatting) p.subdivtext {
  margin-inline-start:2.25rem;
}

div:is(.body, .jcc-rulesformatting) p.subdhist {
  margin-inline-start: 2.25rem;
  font-size: var(--s-1);
  font-style: italic;
  line-height: 1.5;
}

div:is(.body, .jcc-rulesformatting) p.paragraphlist {
  margin-inline-start: 3rem;
}

div:is(.body, .jcc-rulesformatting) p.paragraphnolist {
  margin-inline-start: 4.5rem;
  text-indent: none; 
}

div:is(.body, .jcc-rulesformatting) p.subparagraphlist {
  margin-inline-start: 5rem;  
}

div:is(.body, .jcc-rulesformatting) p.subparagraphnolist {
  margin-inline-start: 6.5rem;
  text-indent: none; 
}

div:is(.body, .jcc-rulesformatting) p.rulehist {
  font-size: var(--s-1);
  font-style: italic;
  line-height: 1.5;
}

div:is(.body, .jcc-rulesformatting) p.advcommheader {
  font-size: var(--s-2);
  font-weight: bold;
  text-align: center;
}

div:is(.body, .jcc-rulesformatting) p.advcommtext {
  font-size: var(--s-2);
  line-height: 1.5;
}

div:is(.body, .jcc-rulesformatting) table {
  border-collapse: collapse;
  width: 100%;
  margin-block: var(--s3);
  table-layout: fixed;
  border: 1px solid var(--color-base-light-x);
}

div:is(.body, .jcc-rulesformatting) table th,
div:is(.body, .jcc-rulesformatting) table td {
  border: 0;
}

div:is(.body, .jcc-rulesformatting) table.add-borders th,
div:is(.body, .jcc-rulesformatting) table.add-borders td {
  border: 1px solid var(--color-base-light-x);
}

div:is(.body, .jcc-rulesformatting) li:is(.TOClevel1, .TOClevel2, .TOClevel3, .TOClevel4) {
  list-style-type: none;
  margin-block-start: var(--s-1);
  margin-inline-start: 0;
}

div:is(.body, .jcc-rulesformatting) li.TOClevel1 {
  font-weight: bold;
  margin-block-start: var(--s2);
  margin-block-end: var(--s-1);
  padding-block-end: var(--s-1);
  border-block-end: 1px solid var(--border-color-gray);
}

div:is(.body, .jcc-rulesformatting) li.TOClevel3 {
  margin-inline-start: 2rem;
}

div:is(.body, .jcc-rulesformatting) li.TOClevel4 {
  margin-inline-start: 4rem;
}

/* Local rule styles */

div:is(.body, .jcc-rulesformatting) blockquote {
  margin: 0 0 1rem;
  padding: 1rem 0 0 2rem;
}

div:is(.body, .jcc-rulesformatting) p[style*="TEXT-INDENT: 40px"] {
  text-indent: 2.25rem; 
}
