<div class="body jcc-rulesformatting" id="rulewrapper">

  <h1>Example Court Rule and Table of contents</h1>
  
  <p>This is to show how copy and pasting in Rule and Table of Content data from the Califonia Courts Rules system will look.</p>

  <hr/>

  <h2>Example Court Rule</h2>

  <p class="ruleheading">RuleHeading Phasellus pharetra sagittis sem gravida suscipit. Praesent non porttitor mi. Phasellus elementum accumsan lectus, nec tristique magna elementum eget.</p>
  
  <p>Normal paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ipsa incidunt praesentium, nisi modi totam reiciendis. Voluptas molestias suscipit harum eligendi dolorem eum minus, culpa itaque ratione tempore natus numquam.</p>

  <p class="subdivheading"><strong>(a) SubDivHeading Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></p>
  <p class="subdivtext">SubDivText Vestibulum ut diam rutrum magna malesuada eleifend. Integer sagittis sapien mi, sed commodo quam commodo id. In varius ac neque id consequat. Praesent vel scelerisque ligula. Nullam mollis, elit quis sodales accumsan, ligula justo sollicitudin odio, et porta sem est feugiat purus. Pellentesque sollicitudin vestibulum quam. Mauris quis augue eget odio varius elementum id vitae mi. Nam sed urna diam. Donec pellentesque vehicula mauris.</p>
  <p class="subdhist">(SubDivHist (b) amended effective January 1, 2006.)</p>
  <p class="paragraphlist">(1) Paragraphlist Quisque dignissim lectus in quam aliquam, vitae ullamcorper sapien pellentesque.</p>
  <p class="paragraphlist">(2) Aliquam non massa fermentum, eleifend ex sit amet, accumsan turpis.</p>
  <p class="paragraphlist">(3) Mauris volutpat nisi sit amet lacus rhoncus aliquet.</p>
  <p class="subparagraphlist">(A) SubParagraphlist Etiam convallis enim vel sapien auctor, id lobortis elit iaculis.</p>
  <p class="subparagraphlist">(B) Nullam a lectus ultrices, scelerisque tellus eu, tincidunt augue.</p>
  <p class="subparagraphlist">(C) Aliquam eget felis posuere, facilisis ex at, hendrerit felis.</p>
  <p class="paragraphlist">(4) Paragraphlist Proin elementum odio id enim laoreet, sit amet lobortis nunc convallis.</p>
  <p class="subparagraphlist">(A) SubParagraphlist Donec placerat ipsum eu congue facilisis.</p>
  <p class="subparagraphlist">(B) Sed sollicitudin urna non feugiat luctus.</p>
  <p class="subparagraphnolist">SubParagraphNolist AdvCommText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet enim tortor. Aliquam efficitur eleifend justo, id vestibulum arcu gravida vel.</p>
  <p class="subparagraphlist">(C) Morbi faucibus dui id sollicitudin fringilla.</p>
  <p class="subparagraphlist">(D) Fusce in elit et nisi volutpat imperdiet at eget risus.</p>
  <p class="subparagraphlist">(E) Nam ac nulla pharetra, imperdiet mi sit amet, faucibus orci.</p>
  
  <p>Normal paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ipsa incidunt praesentium, nisi modi totam reiciendis. Voluptas molestias suscipit harum eligendi dolorem eum minus, culpa itaque ratione tempore natus numquam.</p>

  <table class="">
    <tbody>
      <tr>
        <th>Header row/cell Lorem ipsum dolor sit amet consectetur:</th>
        <th>Header row/cell Lorem ipsum dolor:</th>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, illum atque. Vitae porro enim excepturi reiciendis, ducimus, dolore voluptates veritatis eaque deserunt accusamus doloremque? Molestias praesentium ratione dignissimos dolorem quibusdam.</td>
        <td></td>
      </tr>
      <tr>
        <td>Rem, illum atque.</td>
        <td></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nesciunt laborum totam, optio libero perferendis omnis voluptates odit dolorem.</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <p>Normal paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ipsa incidunt praesentium, nisi modi totam reiciendis. Voluptas molestias suscipit harum eligendi dolorem eum minus, culpa itaque ratione tempore natus numquam.</p>

  <table class="add-borders">
    <tbody>
      <tr>
        <th>Header row/cell Lorem ipsum dolor sit amet consectetur:</th>
        <th>Header row/cell Lorem ipsum dolor:</th>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, illum atque. Vitae porro enim excepturi reiciendis, ducimus, dolore voluptates veritatis eaque deserunt accusamus doloremque? Molestias praesentium ratione dignissimos dolorem quibusdam.</td>
        <td></td>
      </tr>
      <tr>
        <td>Rem, illum atque.</td>
        <td></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nesciunt laborum totam, optio libero perferendis omnis voluptates odit dolorem.</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <p class="subdivheading"><strong>(b) SubDivHeading Confidentiality</strong></p>
  <p class="paragraphlist">(1) Paragraphlist Quisque dignissim lectus in quam aliquam, vitae ullamcorper sapien pellentesque.</p>
  <p class="paragraphlist">(2) Proin elementum odio id enim laoreet, sit amet lobortis nunc convallis.</p>
  
  <p class="subdivheading"><strong>(c) SubDivHeading Initial court review and orders</strong></p>
  <p class="subdivtext">SubDivText Vestibulum ut diam rutrum magna malesuada eleifend. Integer sagittis sapien mi, sed commodo quam commodo id.</p>
  <p class="paragraphlist">(1) Paragraphlist Mauris volutpat nisi sit amet lacus rhoncus aliquet.</p>
  <p class="subparagraphlist">(A) SubParagraphlist Nam ac nulla pharetra, imperdiet mi sit amet, faucibus orci.</p>
  <p class="subparagraphlist">(B) Set a hearing date if an opposition is filed or a hearing is otherwise warranted; or</p>
  <p class="subparagraphlist">(C) Sed sollicitudin urna non feugiat luctus.</p>
  
  <p class="subdivheading"><strong>(d) SubDivHeading Notification</strong></p>
  <p class="paragraphlist">(1) Paragraphlist Aliquam non massa fermentum, eleifend ex sit amet, accumsan turpis.</p>
  <p class="paragraphnolist">ParagraphNolist AdvCommText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet enim tortor. Aliquam efficitur eleifend justo, id vestibulum arcu gravida vel.</p>
  <p class="paragraphlist">(2) In eu justo in nisl tincidunt consectetur.</p>
  
  <p class="subdivheading"><strong>(e) SubDivHeading Additional relief</strong></p>
  <p class="subdivtext">SubDivText Vestibulum ut diam rutrum magna malesuada eleifend. Integer sagittis sapien mi, sed commodo quam commodo id. In varius ac neque id consequat. Praesent vel scelerisque ligula. Nullam mollis, elit quis sodales accumsan, ligula justo sollicitudin odio, et porta sem est feugiat purus. Pellentesque sollicitudin vestibulum quam. Mauris quis augue eget odio varius elementum id vitae mi. Nam sed urna diam. Donec pellentesque vehicula mauris.</p>
  <p class="subdhist">(SubDivHist (b) amended effective January 1, 2006.)</p>
  <p class="paragraphlist">(1) Paragraphlist Fusce in elit et nisi volutpat imperdiet at eget risus.</p>
  <p class="paragraphlist">(2) Nulla fringilla sapien non neque ultricies ornare.</p>
  <p class="paragraphlist">(3) Aliquam eget felis posuere, facilisis ex at, hendrerit felis.</p>
  <p class="paragraphlist">(4) Quisque in lectus interdum, lobortis risus sed, commodo sapien.</p>
  <p class="paragraphlist">(5) Suspendisse vitae neque lobortis, volutpat purus non, maximus dolor.</p>
  
  <p>Normal paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ipsa incidunt praesentium, nisi modi totam reiciendis. Voluptas molestias suscipit harum eligendi dolorem eum minus, culpa itaque ratione tempore natus numquam.</p>

  <p class="rulehist">RuleHist Standard 4.15 adopted effective January 1, 2020.</p>

  <p class="advcommheader">AdvCommHeader Advisory Committee Comment</p>
  <p class="advcommtext">AdvCommText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet enim tortor. Aliquam efficitur eleifend justo, id vestibulum arcu gravida vel. Nullam erat orci, consectetur in elit sed, semper lobortis ipsum. Aliquam blandit, mauris eget porttitor malesuada, augue justo lacinia diam, ac eleifend velit lacus at elit. Fusce sapien nibh, lacinia quis mauris sed, laoreet viverra diam. Integer tincidunt libero in orci scelerisque, id finibus dolor blandit. In id consequat neque. Praesent bibendum pulvinar tellus in scelerisque.</p>
  <p class="advcommtext">Curabitur sollicitudin lacus in ligula accumsan pretium. Maecenas ac tortor tempus, rhoncus nisl ac, malesuada augue. Duis facilisis justo nec ante congue faucibus. Phasellus ut orci sed orci volutpat congue. Donec pretium, augue a semper sollicitudin, sapien enim finibus augue, vel lacinia erat lorem vel dui. Nullam suscipit, massa nec varius ornare, dolor ipsum volutpat odio, rhoncus imperdiet tellus ante id orci. Vestibulum blandit, eros in tempor gravida, arcu felis vulputate neque, et vulputate est mi nec urna. Curabitur sit amet ante enim. Nunc id nibh congue, aliquet eros vitae, gravida ex. Nulla dignissim sapien vel elit bibendum, ac condimentum nulla molestie. Sed sagittis arcu ac lorem bibendum feugiat. Aenean at iaculis odio, ac ultricies justo. Curabitur mattis nisl non urna aliquam, vitae semper urna mattis. Nunc vulputate orci at viverra lacinia. Duis a varius ligula, nec vulputate nisi.</p>

  <hr/>

  <h2>Table of Content example</h2>

  <p>This is an example of the current table of content output. This may or may not be manually entered. If manually, these styles will be ready based on copy and pasting from the source.</p>

  <ul>
    <li class="TOClevel1">Level 1. Trial Court Rules</li>
    
    <li class="TOClevel2">Level 2. General Provisions</li>
    
    <li class="TOClevel2">Level 2. Title and Application</li>
    <li class="TOClevel3"><a href="#">Level 3. Title2.251</a></li>
    <li class="TOClevel3"><a href="#">Level 3. Application</a></li>
    
    <li class="TOClevel2">Level 2. Definitions and Scope of Rules</li>
    <li class="TOClevel3"><a href="#">Level 3. Definitions</a></li>
    <li class="TOClevel3"><a href="#">Level 3. Scope of rules </a></li>
    
    <li class="TOClevel2">Level 2. Timing</li>
    <li class="TOClevel3"><a href="#">Level 3. Application for an order extending time</a></li>
    
    <li class="TOClevel2">Level 2. Sanctions</li>
    <li class="TOClevel3"><a href="#">Level 3. Sanctions for rules violations in civil cases</a></li>
    
    <li class="TOClevel2">Level 2. Papers and Forms to Be Filed</li>
    
    <li class="TOClevel2">Level 2. Papers</li>
    <li class="TOClevel3"><a href="#">Level 3. Form and format of papers presented for filing in the trial courts</a></li>
    <li class="TOClevel3"><a href="#">Level 3. One-sided paper</a></li>
    <li class="TOClevel4"><a href="#">Level 4. Lorem ipsum</a></li>
    <li class="TOClevel3"><a href="#">Level 3. Size, quality, and color of papers</a></li>
    
    <li class="TOClevel2">Level 2. General Rules on Forms</li>
    <li class="TOClevel3"><a href="#">Level 3. Application</a></li>
    <li class="TOClevel3"><a href="#">Level 3. Recycled paper [Repealed]</a></li>
    <li class="TOClevel4"><a href="#">Level 4. Lorem ipsum</a></li>
    <li class="TOClevel4"><a href="#">Level 4. Lorem ipsum</a></li>
    <li class="TOClevel3"><a href="#">Level 3. True copy certified</a></li>
    
    <li class="TOClevel2">Level 2. Other Forms</li>
    <li class="TOClevel3"><a href="#">Level 3. Authorization for computer-generated or typewritten forms for proof of service of summons and complaint</a></li> 
  
  </ul>

    <hr/>

    <h2>Local rule example</h2>

    <p style="TEXT-INDENT: 40px"><strong>(a)&nbsp; [General Principles]</strong>&nbsp; Parties shall limit their augmentation requests to material that was filed or lodged in the trial court.&nbsp; Augmentation cannot be used to add material to the record on appeal that is outside of the superior court’s record.&nbsp; (See, e.g., <em>Vons Companies, Inc. v. Seabest Foods, Inc. </em>(1996) 14 Cal.4th 434, 444, fn. 3.)</p>
    <p style="TEXT-INDENT: 40px"><strong>(b)&nbsp; [Items Inadvertently Omitted]</strong>&nbsp; If a party realizes that a required or designated item has been omitted from the record, the party shall, in accordance with California Rules of Court, rules 8.155(b), 8.340(c), or 8.410(b)(1), file a notice in the superior court requesting that the item be prepared, certified, and sent to this court.&nbsp; Such a notice should not be filed in this court in the first instance.&nbsp; In criminal and juvenile cases, if a superior court clerk or reporter realizes after a record has been certified that a required or designated item was omitted, the clerk or reporter shall, without the need for a court order, promptly prepare, certify, and send the item to this court in accordance with California Rules of Court, rules 8.340(b) and 8.410(a).</p>
    <p style="TEXT-INDENT: 40px"><strong>(c)&nbsp; [Time for Seeking Augmentation in this Court]</strong>&nbsp; Any motion filed in this court to augment a record shall be submitted on the earliest date practicable.&nbsp; Appellant should file any such request in one motion filed no later than 30 days after the record has been filed in this court, except in certain juvenile dependency appeals or writs that have a shorter deadline.&nbsp; (See Cal. Rules of Court, rules 8.416(d)(2), 8.452(e)(2), 8.456(e)(2).)&nbsp; Respondent should file any such request in one motion made within 30&nbsp;days of the filing of appellant’s opening brief. &nbsp;Thereafter, motions to augment will be considered only upon a showing of good cause.</p>
    <blockquote>
      <p style="TEXT-INDENT: 40px">(1)&nbsp; In cases in which the appellant or petitioner is represented by the First District Appellate Project, any request for an augmentation of the record shall be made within 30 days after the expiration of the 10-day administrative-review period.</p>
    </blockquote>
    <p style="TEXT-INDENT: 40px"><strong>(d)&nbsp; [Clerk’s Transcript]</strong>&nbsp; A motion to augment the clerk’s transcript must be accompanied by the proposed augmented document or identify the proposed document with specificity.&nbsp; The record can be augmented only with documents that were filed or lodged in the superior court.&nbsp; A motion to augment shall be accompanied by a declaration stating that the document was so filed or lodged.</p>
    <p style="TEXT-INDENT: 40px"><strong>(e)&nbsp; [Reporter’s Transcript]</strong>&nbsp; A motion to augment the reporter’s transcript shall identify with specificity the portion of the proceeding sought to be included in the appellate record, the name of the reporter and his or her CSR number if available, and the date or dates of the proceeding.&nbsp; Any such motion shall explain why the transcript may be useful for the appeal.&nbsp; Requests for transcripts of a jury voir dire must be specific and be limited to only the portion of the proceeding that may be useful for the appeal.</p>
    <p style="TEXT-INDENT: 40px"><strong>(f)&nbsp; [Good Faith Required]</strong> &nbsp;Repeated motions to augment are strongly disfavored.&nbsp; A motion to augment shall be made in good faith and shall not be made for the purpose of delay.&nbsp; A motion filed on or close to the date a brief is due may raise an inference that it was filed for the purpose of delay.</p>
    <p><em>(Adopted, eff. August 23, 2019.)</em></p>

</div>