<div class="jcc-rulesformatting" id="rulewrapper">

  <h1>Example Court Rule and Table of contents</h1>
  <p>This is to show how copy and pasting in Rule and Table of Content data from the Califonia Courts Rules system will look.</p>
  <hr/>
  <h2>Example Court Rule</h2>
  <p class="ruleheading">RuleHeading Phasellus pharetra sagittis sem gravida suscipit. Praesent non porttitor mi. Phasellus elementum accumsan lectus, nec tristique magna elementum eget.</p>
  <p>Normal paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ipsa incidunt praesentium, nisi modi totam reiciendis. Voluptas molestias suscipit harum eligendi dolorem eum minus, culpa itaque ratione tempore natus numquam.</p>
  <p class="subdivheading"><strong>(a) SubDivHeading Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></p>
  <p class="subdivtext">SubDivText Vestibulum ut diam rutrum magna malesuada eleifend. Integer sagittis sapien mi, sed commodo quam commodo id. In varius ac neque id consequat. Praesent vel scelerisque ligula. Nullam mollis, elit quis sodales accumsan, ligula justo sollicitudin odio, et porta sem est feugiat purus. Pellentesque sollicitudin vestibulum quam. Mauris quis augue eget odio varius elementum id vitae mi. Nam sed urna diam. Donec pellentesque vehicula mauris.</p>
  <p class="subdhist">(SubDivHist (b) amended effective January 1, 2006.)</p>
  <p class="paragraphlist">(1) Paragraphlist Quisque dignissim lectus in quam aliquam, vitae ullamcorper sapien pellentesque.</p>
  <p class="paragraphlist">(2) Aliquam non massa fermentum, eleifend ex sit amet, accumsan turpis.</p>
  <p class="paragraphlist">(3) Mauris volutpat nisi sit amet lacus rhoncus aliquet.</p>
  <p class="subparagraphlist">(A) SubParagraphlist Etiam convallis enim vel sapien auctor, id lobortis elit iaculis.</p>
  <p class="subparagraphlist">(B) Nullam a lectus ultrices, scelerisque tellus eu, tincidunt augue.</p>
  <p class="subparagraphlist">(C) Aliquam eget felis posuere, facilisis ex at, hendrerit felis.</p>
  <p class="paragraphlist">(4) Paragraphlist Proin elementum odio id enim laoreet, sit amet lobortis nunc convallis.</p>
  <p class="subparagraphlist">(A) SubParagraphlist Donec placerat ipsum eu congue facilisis.</p>
  <p class="subparagraphlist">(B) Sed sollicitudin urna non feugiat luctus.</p>
  <p class="subparagraphnolist">SubParagraphNolist AdvCommText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet enim tortor. Aliquam efficitur eleifend justo, id vestibulum arcu gravida vel.</p>
  <p class="subparagraphlist">(C) Morbi faucibus dui id sollicitudin fringilla.</p>
  <p class="subparagraphlist">(D) Fusce in elit et nisi volutpat imperdiet at eget risus.</p>
  <p class="subparagraphlist">(E) Nam ac nulla pharetra, imperdiet mi sit amet, faucibus orci.</p>
  <p>Normal paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ipsa incidunt praesentium, nisi modi totam reiciendis. Voluptas molestias suscipit harum eligendi dolorem eum minus, culpa itaque ratione tempore natus numquam.</p>
  <table class="">
    <tbody>
      <tr>
        <th>Header row/cell Lorem ipsum dolor sit amet consectetur:</th>
        <th>Header row/cell Lorem ipsum dolor:</th>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, illum atque. Vitae porro enim excepturi reiciendis, ducimus, dolore voluptates veritatis eaque deserunt accusamus doloremque? Molestias praesentium ratione dignissimos dolorem quibusdam.</td>
        <td></td>
      </tr>
      <tr>
        <td>Rem, illum atque.</td>
        <td></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nesciunt laborum totam, optio libero perferendis omnis voluptates odit dolorem.</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <p>Normal paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ipsa incidunt praesentium, nisi modi totam reiciendis. Voluptas molestias suscipit harum eligendi dolorem eum minus, culpa itaque ratione tempore natus numquam.</p>
  <table class="add-borders">
    <tbody>
      <tr>
        <th>Header row/cell Lorem ipsum dolor sit amet consectetur:</th>
        <th>Header row/cell Lorem ipsum dolor:</th>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, illum atque. Vitae porro enim excepturi reiciendis, ducimus, dolore voluptates veritatis eaque deserunt accusamus doloremque? Molestias praesentium ratione dignissimos dolorem quibusdam.</td>
        <td></td>
      </tr>
      <tr>
        <td>Rem, illum atque.</td>
        <td></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nesciunt laborum totam, optio libero perferendis omnis voluptates odit dolorem.</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <p class="subdivheading"><strong>(b) SubDivHeading Confidentiality</strong></p>
  <p class="paragraphlist">(1) Paragraphlist Quisque dignissim lectus in quam aliquam, vitae ullamcorper sapien pellentesque.</p>
  <p class="paragraphlist">(2) Proin elementum odio id enim laoreet, sit amet lobortis nunc convallis.</p>
  <p class="subdivheading"><strong>(c) SubDivHeading Initial court review and orders</strong></p>
  <p class="subdivtext">SubDivText Vestibulum ut diam rutrum magna malesuada eleifend. Integer sagittis sapien mi, sed commodo quam commodo id.</p>
  <p class="paragraphlist">(1) Paragraphlist Mauris volutpat nisi sit amet lacus rhoncus aliquet.</p>
  <p class="subparagraphlist">(A) SubParagraphlist Nam ac nulla pharetra, imperdiet mi sit amet, faucibus orci.</p>
  <p class="subparagraphlist">(B) Set a hearing date if an opposition is filed or a hearing is otherwise warranted; or</p>
  <p class="subparagraphlist">(C) Sed sollicitudin urna non feugiat luctus.</p>
  <p class="subdivheading"><strong>(d) SubDivHeading Notification</strong></p>
  <p class="paragraphlist">(1) This rule applies to all civil cases subject to Code of Civil Procedure section 367.75. Provisions that apply specifically to juvenile dependency proceedings are set out in (i). This rule does not apply to proceedings in matters subject to Code of Civil Procedure section 367.76 or Welfare and Institutions Code section 679.5.</p>
  <p class="paragraphnolist">ParagraphNolist AdvCommText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet enim tortor. Aliquam efficitur eleifend justo, id vestibulum arcu gravida vel.</p>
  <p class="paragraphlist">(2) Nothing in this rule limits a requirement or right established by statute or case law to an appearance in one manner, either remote or in person, to the exclusion of the other.</p>
  <p class="paragraphlist">(3) Nothing in this rule modifies current rules, statutes, or case law regarding confidentiality or access to confidential proceedings.</p>
  <p class="subdivheading"><strong>(e) SubDivHeading Additional relief</strong></p>
  <p class="subdivtext">SubDivText Vestibulum ut diam rutrum magna malesuada eleifend. Integer sagittis sapien mi, sed commodo quam commodo id. In varius ac neque id consequat. Praesent vel scelerisque ligula. Nullam mollis, elit quis sodales accumsan, ligula justo sollicitudin odio, et porta sem est feugiat purus. Pellentesque sollicitudin vestibulum quam. Mauris quis augue eget odio varius elementum id vitae mi. Nam sed urna diam. Donec pellentesque vehicula mauris.</p>
  <p class="subdhist">(SubDivHist (b) amended effective January 1, 2006.)</p>
  <p class="paragraphlist">(1) Paragraphlist Fusce in elit et nisi volutpat imperdiet at eget risus.</p>
  <p class="paragraphlist">(2) Nulla fringilla sapien non neque ultricies ornare.</p>
  <p class="paragraphlist">(3) Aliquam eget felis posuere, facilisis ex at, hendrerit felis.</p>
  <p class="paragraphlist">(4) Quisque in lectus interdum, lobortis risus sed, commodo sapien.</p>
  <p class="paragraphlist">(5) Suspendisse vitae neque lobortis, volutpat purus non, maximus dolor.</p>
  <p>Normal paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ipsa incidunt praesentium, nisi modi totam reiciendis. Voluptas molestias suscipit harum eligendi dolorem eum minus, culpa itaque ratione tempore natus numquam.</p>
  <p class="rulehist">RuleHist Standard 4.15 adopted effective January 1, 2020.</p>
  <p class="advcommheader">AdvCommHeader Advisory Committee Comment</p>
  <p class="advcommtext">AdvCommText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet enim tortor. Aliquam efficitur eleifend justo, id vestibulum arcu gravida vel. Nullam erat orci, consectetur in elit sed, semper lobortis ipsum. Aliquam blandit, mauris eget porttitor malesuada, augue justo lacinia diam, ac eleifend velit lacus at elit. Fusce sapien nibh, lacinia quis mauris sed, laoreet viverra diam. Integer tincidunt libero in orci scelerisque, id finibus dolor blandit. In id consequat neque. Praesent bibendum pulvinar tellus in scelerisque.</p>
  <p class="advcommtext">Curabitur sollicitudin lacus in ligula accumsan pretium. Maecenas ac tortor tempus, rhoncus nisl ac, malesuada augue. Duis facilisis justo nec ante congue faucibus. Phasellus ut orci sed orci volutpat congue. Donec pretium, augue a semper sollicitudin, sapien enim finibus augue, vel lacinia erat lorem vel dui. Nullam suscipit, massa nec varius ornare, dolor ipsum volutpat odio, rhoncus imperdiet tellus ante id orci. Vestibulum blandit, eros in tempor gravida, arcu felis vulputate neque, et vulputate est mi nec urna. Curabitur sit amet ante enim. Nunc id nibh congue, aliquet eros vitae, gravida ex. Nulla dignissim sapien vel elit bibendum, ac condimentum nulla molestie. Sed sagittis arcu ac lorem bibendum feugiat. Aenean at iaculis odio, ac ultricies justo. Curabitur mattis nisl non urna aliquam, vitae semper urna mattis. Nunc vulputate orci at viverra lacinia. Duis a varius ligula, nec vulputate nisi.</p>
  <hr/>

  <h2>Table of Content example</h2>
  <p>This is an example of the current table of content output. This may or may not be manually entered. If manually, these styles will be ready based on copy and pasting from the source.</p>
  <ul>
    <li class="TOClevel1">Level 1. Trial Court Rules</li>
    <li class="TOClevel2">Level 2. General Provisions</li>
    <li class="TOClevel2">Level 2. Title and Application</li>
    <li class="TOClevel3"><a href="#">Level 3. Title2.251</a></li>
    <li class="TOClevel3"><a href="#">Level 3. Application</a></li>
    <li class="TOClevel2">Level 2. Definitions and Scope of Rules</li>
    <li class="TOClevel3"><a href="#">Level 3. Definitions</a></li>
    <li class="TOClevel3"><a href="#">Level 3. Scope of rules </a></li>
    <li class="TOClevel2">Level 2. Timing</li>
    <li class="TOClevel3"><a href="#">Level 3. Application for an order extending time</a></li>
    <li class="TOClevel2">Level 2. Sanctions</li>
    <li class="TOClevel3"><a href="#">Level 3. Sanctions for rules violations in civil cases</a></li>
    <li class="TOClevel2">Level 2. Papers and Forms to Be Filed</li>
    <li class="TOClevel2">Level 2. Papers</li>
    <li class="TOClevel3"><a href="#">Level 3. Form and format of papers presented for filing in the trial courts</a></li>
    <li class="TOClevel3"><a href="#">Level 3. One-sided paper</a></li>
    <li class="TOClevel4"><a href="#">Level 4. Lorem ipsum</a></li>
    <li class="TOClevel3"><a href="#">Level 3. Size, quality, and color of papers</a></li>
    <li class="TOClevel2">Level 2. General Rules on Forms</li>
    <li class="TOClevel3"><a href="#">Level 3. Application</a></li>
    <li class="TOClevel3"><a href="#">Level 3. Recycled paper [Repealed]</a></li>
    <li class="TOClevel4"><a href="#">Level 4. Lorem ipsum</a></li>
    <li class="TOClevel4"><a href="#">Level 4. Lorem ipsum</a></li>
    <li class="TOClevel3"><a href="#">Level 3. True copy certified</a></li>
    <li class="TOClevel2">Level 2. Other Forms</li>
    <li class="TOClevel3"><a href="#">Level 3. Authorization for computer-generated or typewritten forms for proof of service of summons and complaint</a></li> 
  </ul>

  <hr/>

  <h2>Existing Rule Example</h2>
  <p class="subdivheading"><strong>(a) Purpose </strong></p>
  <p class="subdivtext">The intent of this rule is to promote greater consistency in the practices and procedures relating to remote appearances and proceedings in civil cases subject to Code of Civil Procedure section 367.75. To improve access to the courts and reduce litigation costs, to the extent feasible courts should permit parties to appear remotely at conferences, hearings, and proceedings in civil cases consistent with Code of Civil Procedure section 367.75. </p>
  <p class="subdhist">(Subd (a) amended effective August 4, 2023.)</p>
  <p class="subdivheading"><strong>(b) Application </strong></p>
  <p class="paragraphlist">(1) This rule applies to all civil cases subject to Code of Civil Procedure section 367.75. Provisions that apply specifically to juvenile dependency proceedings are set out in (i). This rule does not apply to proceedings in matters subject to Code of Civil Procedure section 367.76 or Welfare and Institutions Code section 679.5. </p>
  <p class="paragraphlist">(2) Nothing in this rule limits a requirement or right established by statute or case law to an appearance in one manner, either remote or in person, to the exclusion of the other. </p>
  <p class="paragraphlist">(3) Nothing in this rule modifies current rules, statutes, or case law regarding confidentiality or access to confidential proceedings. </p>
  <p class="subdhist">(Subd (b) amended effective August 4, 2023.)</p>
  <p class="subdivheading"><strong>(c) Definitions </strong></p>
  <p class="subdivtext">As used in this rule: </p>
  <p class="paragraphlist">(1) "Civil case" any case subject to Code of Civil Procedure section 367.75. </p>
  <p class="paragraphlist">(2) "Evidentiary hearing or trial" is any proceeding at which oral testimony may be provided. </p>
  <p class="paragraphlist">(3) "Oral testimony" is a spoken statement provided under oath and subject to examination. </p>
  <p class="paragraphlist">(4) "Party" is, except in (i), as defined in rule 1.6(15), meaning any person appearing in an action and that person's counsel, as well as any nonparty who is subject to discovery in the action. </p>
  <p class="paragraphlist">(5) "Proceeding" means a conference, hearing, or any other matter before the court, including an evidentiary hearing or trial. </p>
  <p class="paragraphlist">(6) "Remote appearance" or "appear remotely" means the appearance of a party at a proceeding through the use of remote technology. </p>
  <p class="paragraphlist">(7) "Remote proceeding" means a proceeding conducted in whole or in part through the use of remote technology. </p>
  <p class="paragraphlist">(8) "Remote technology" means technology that provides for the transmission of video and audio signals or audio signals alone. This phrase is meant to be interpreted broadly and includes a computer, tablet, telephone, cellphone, or other electronic or communications device. </p>
  <p class="subdhist">(Subd (c) amended effective August 4, 2023.)</p>
  <p class="subdivheading"><strong>(d) Court discretion to require in-person appearance </strong></p>
  <p class="subdivtext">Notwithstanding the other provisions of this rule and except as otherwise required by law, the court may require a party to appear in person at a proceeding subject to this rule in any of the following circumstances: </p>
  <p class="paragraphlist">(1) If the court determines on a hearing-by-hearing basis that an in-person appearance would materially assist in the determination of the proceeding or in the effective management or resolution of the case. </p>
  <p class="paragraphlist">(2) If the court does not have the technology to conduct the proceeding remotely, or if the quality of the technology prevents the effective management or resolution of the proceeding. </p>
  <p class="paragraphlist">(3) If, at any time during a remote proceeding, the court determines that an in-person appearance is necessary, the court may continue the matter and require such an appearance. Such determination may be based on the factors listed in Code of Civil Procedure section 367.75(b). </p>
  <p class="subdhist">(Subd (d) amended effective August 4, 2023.)</p>
  <p class="subdivheading"><strong>(e) Local court rules for remote proceedings </strong></p>
  <p class="paragraphlist">(1) Except for juvenile dependency cases, a court may by local rule prescribe procedures for remote proceedings subject to this rule, so long as the procedures are consistent with the requirements of Code of Civil Procedure section 367.75, posted on the court's website, and include the following provisions: </p>
  <p class="subparagraphlist">(A) A requirement that notice of intent to appear remotely be given to the court and to all parties or persons entitled to receive notice of the proceedings; </p>
  <p class="subparagraphlist">(B) A clear description of the amount of notice required; and </p>
  <p class="subparagraphlist">(C) For evidentiary hearing and trials, an opportunity for parties to oppose the remote proceedings. </p>
  <p class="paragraphlist">(2) If local procedures include written notice, any mandatory Judicial Council forms must be used. </p>
  <p class="paragraphlist">(3) For juvenile dependency cases, a court may by local rule prescribe procedures for remote proceedings as long as the procedures are posted on the court's website and consistent with Code of Civil Procedure section 367.75 and subdivision (i). </p>
  <p class="paragraphlist">(4) Notwithstanding the requirements of rule 10.613, courts may adopt or amend a local rule under this subdivision for an effective date other than January 1 or July 1 and without a 45-day comment period if the court: </p>
  <p class="subparagraphlist">(A) Posts notice of the adoption of the new or amended rule prominently on the court's website, along with a copy of the rule and the effective date of the new or amended rule; </p>
  <p class="subparagraphlist">(B) Distributes the rule to the organizations identified in rule 10.613(g)(2) on or before the effective date of the new rule or amendment; and </p>
  <p class="subparagraphlist">(C) Provides a copy of the rule to the Judicial Council. </p>
  <p class="paragraphnolist">No litigant's substantive rights may be prejudiced for failing to comply with a rule adopted or amended under this paragraph until at least 20 days after the rule change has been posted and distributed. </p>
  <p class="paragraphlist">(5) Notwithstanding (1) and rule 10.613, any local court procedures consistent with Code of Civil Procedure section 367.75 and posted on the court's website may continue in effect until March 31, 2022, or until such earlier date by which a court has adopted a local rule under (1)-(3). </p>
  <p class="subdhist">(Subd (e) amended effective August 4, 2023.)</p>
  <p class="subdivheading">(<strong>f) Notice and waiver for duration of case</strong> </p>
  <p class="paragraphlist">(1) <em>Notice for remote appearances for duration of case </em></p>
  <p class="paragraphnolist">At any time during a case subject to this rule, a party may provide notice to the court and all other parties or persons who are entitled to receive notice of the proceedings that the party intends to appear remotely for the duration of a case. Such notice must be provided with at least as much advance notice as required in (g), (h), or (i), or by local court rules or procedures. </p>
  <p class="subparagraphlist">(A) <em>Notice process </em></p>
  <p class="subparagraphnolist"> Notice must be given either orally during a court proceeding or by service on all other parties or persons who are entitled to receive notice of the proceedings and filing with the court <em>a Notice of Remote Appearance </em>(form RA-010). If any party appears in the case after this notice has been given, form RA-010 must be served on that party. Service may be by any means authorized by law. </p>
  <p class="subparagraphlist">(B) <em>Court's local procedures </em> </p>
  <p class="subparagraphnolist"> This notice does not exempt a party from following a court's local procedures, as posted on its website, for providing notice of intent to appear remotely at a particular proceeding, if the court has such a procedure. </p>
  <p class="paragraphlist">(2) <em>Waiver of Notice </em></p>
  <p class="paragraphnolist">At any time during a case, all parties to an action may stipulate to waive notice of any other participants' remote appearance. This stipulation may be made orally during a court proceeding or in writing filed with the court. </p>
  <p class="subdhist">(Subd (f) amended effective August 4, 2023.)</p>
  <p class="subdivheading"><strong>(g) Remote proceedings other than an evidentiary hearing or trial </strong></p>
  <p class="paragraphlist">(1) <em>Applicable rules </em></p>
  <p class="paragraphnolist">This subdivision applies to any proceeding subject to this rule other than an evidentiary hearing or trial, unless one of the following applies: </p>
  <p class="subparagraphlist">(A) The court has applicable local procedures or local rules under (e); </p>
  <p class="subparagraphlist">(B) The proceeding is a juvenile dependency proceeding governed by (i); </p>
  <p class="subparagraphlist">(C) The person intending to appear remotely has provided a notice for remote appearances for the duration of the case or all parties have stipulated to a waiver of notice under (f); </p>
  <p class="subparagraphlist">(D) The court permits a party to appear remotely under (j)(2). </p>
  <p class="paragraphlist">(2) <em>Required notice</em> </p>
  <p class="subparagraphlist">(A) <em>Hearing with at least three court days' notice </em></p>
  <p class="itemlist">(i) <em>Notice to appear remotely</em> </p>
  <p class="itemlist">A party choosing to appear remotely in a proceeding under this subdivision for which a party gives or receives notice of the proceeding at least three court days before the hearing date, must provide notice of the party's intent to appear remotely at least two court days before the proceeding. </p>
  <p class="itemlist">(ii) <em>Notice process </em></p>
  <p class="itemlist">Notice to the court must be given by filing a <em>Notice of Remote Appearance </em>(form RA-010). Notice to the other parties may be provided in writing, electronically, or orally in a way reasonably calculated to ensure notice is received no later than two court days before the proceeding. </p>
  <p class="subparagraphlist">(B) <em>Hearing with less than three court days' notice </em></p>
  <p class="itemlist">(i) <em>Notice by moving party</em> </p>
  <p class="itemsublist">a. <em>Notice to appear remotely </em></p>
  <p class="itemsublist">A moving party or applicant choosing to appear remotely in a proceeding under this subdivision for which a party gives or receives notice of less than three court days must provide notice of the party's intent to appear remotely at the same time as providing notice of the application or other moving papers. </p>
  <p class="itemsublist">b. <em>Notice process </em></p>
  <p class="itemsublist">Notice to the court must be given by filing a Notice of Remote Appearance (form RA-010). Notice to the other parties may be provided in writing, electronically, or orally in a way reasonably calculated to ensure notice is received with notice of the moving papers. </p>
  <p class="itemlist">(ii) <em>Notice by other parties</em> </p>
  <p class="itemsublist">a. <em>Notice to appear remotely</em> </p>
  <p class="itemsublist">Any party choosing to appear remotely at a hearing governed by (B), other than an applicant or moving party, must provide notice of their intent to appear remotely to the court and all other parties that have appeared in the action, no later than 2:00 p.m. on the court day before the proceeding. </p>
  <p class="itemsublist">b. <em>Notice process</em> </p>
  <p class="itemsublist">The notice to the court may be given orally or in writing by filing Notice of Remote Appearance (form RA-010). Notice to the other parties may be in writing, electronically, or orally in a way reasonably calculated to ensure notice is received no later than 2:00 p.m. on the court day before the proceeding. </p>
  <p class="subparagraphlist">(C) <em>Proof of notice</em> </p>
  <p class="subparagraphnolist">A party may use <em>Notice of Remote Appearance </em>(form RA-010) to provide proof to the court that notice to other parties was given. </p>
  <p class="subparagraphlist">(D) <em>Delivery to courtroom</em> </p>
  <p class="subparagraphnolist">If required by local rule, a party must ensure a copy of any written notice filed under (A) or (B) is received in the department in which the proceeding is to be held. </p>
  <p class="subdhist">(Subd (g) amended effective August 4, 2023.)</p>
  <p class="subdivheading"><strong>(h) Remote proceedings for an evidentiary hearing or trial </strong></p>
  <p class="paragraphlist">(1) <em>Court notice of remote proceeding </em></p>
  <p class="paragraphnolist">A court intending to conduct an evidentiary hearing or trial remotely in a case subject to this rule must provide notice by one of the following means: </p>
  <p class="subparagraphlist">(A) By providing notice to all parties who have appeared in the action or who are entitled to receive notice of the proceedings, at least 10 court days before the hearing or trial date, unless the hearing or trial is on less than 10 court days' notice, in which case at least two court days' notice of remote proceedings is required; or </p>
  <p class="subparagraphlist">(B) By local rule providing that certain evidentiary hearings or trials are to be held remotely, so long as the court procedure includes a process for self-represented parties to agree to their remote appearance and for parties to show why remote appearances or testimony should not be allowed. </p>
  <p class="paragraphlist">(2) <em>Party notice of remote proceeding</em> </p>
  <p class="subparagraphlist">(A) <em>Applicable rules </em></p>
  <p class="subparagraphnolist">This subdivision applies to all evidentiary hearings and trials in a case subject to this rule unless one of the following applies: </p>
  <p class="itemlist">(i) The court has applicable local procedures or local rules under (e); </p>
  <p class="itemlist">(ii) The proceeding is a juvenile dependency proceeding governed by (i); </p>
  <p class="itemlist">(iii) The person intending to appear remotely has provided a notice for remote appearances for the duration of the case or all parties have stipulated to a waiver of notice under (f); </p>
  <p class="itemlist">(iv) The court permits a party to appear remotely under (j)(2). </p>
  <p class="subparagraphlist">(B) <em>Motion</em> </p>
  <p class="subparagraphnolist">The notice described in this subdivision serves as the motion by a party under Code of Civil Procedure section 367.75(d). </p>
  <p class="subparagraphlist">(C) <em>Hearings or trials with at least 15 court days' notice and small claims trials</em> </p>
  <p class="itemlist">(i) <em>Time of notice</em> </p>
  <p class="itemlist">A party choosing to appear remotely at a small claims trial or an evidentiary hearing or trial for which a party gives or receives notice of the proceeding at least 15 court days before the hearing or trial date must provide notice of the party's intent to appear remotely at least 10 court days before the hearing or trial. </p>
  <p class="itemlist">(ii) <em>Notice process</em> </p>
  <p class="itemlist">Notice to the court must be given by filing a <em>Notice of Remote Appearance </em>(form RA-010). Notice to the other parties may be in writing, electronically, or orally in a way reasonably calculated to ensure notice is received at least 10 court days before the proceeding. A party may use <em>Notice of Remote Appearance </em>(form RA-010) to provide proof to the court that notice to other parties was given. </p>
  <p class="subparagraphlist">(D) <em>Hearings or trials held on less than 15 court days' notice</em> </p>
  <p class="subparagraphnolist">A party choosing to appear remotely in an evidentiary hearing or trial for which a party gives or receives notice of the proceeding less than 15 court days before the hearing or trial date, including hearings on restraining orders or protective orders, must provide notice of the party's intent to appear remotely in one of the following ways: </p>
  <p class="itemlist">(i) As provided in (g)(2)(B); or </p>
  <p class="itemlist">(ii) By filing a <em>Notice of Remote Appearance </em>(form RA-010) and providing notice to the other parties in writing, electronically, or orally in a way reasonably calculated to ensure notice is received at least five court days before the proceeding. </p>
  <p class="paragraphlist">(3) <em>Opposition to remote proceedings </em></p>
  <p class="subparagraphlist">(A) <em>Filing and serving opposition </em></p>
  <p class="subparagraphnolist">In response to notice of a remote proceeding for an evidentiary hearing or trial in a case subject to this rule, whether set by local rule or otherwise noticed under (h)(1) or (2), or to obtain a court order for in-person appearance, a party may make a showing to the court as to why a remote appearance or remote testimony should not be allowed, by serving and filing an <em>Opposition to Remote Proceedings at Evidentiary Hearing or Trial </em>(form RA-015) by: </p>
  <p class="itemlist">(i) At least five court days before the proceeding if for an evidentiary hearing or trial for which a party gives or receives at least 15 court days' notice; or </p>
  <p class="itemlist">(ii) At least noon the court day before the proceeding if for an evidentiary hearing or trial for which a party gives or receives less than 15 court days' notice. </p>
  <p class="itemlist">(iii) If required by local rule, a party must ensure a copy of any opposition is received in the department in which the proceeding is to be held. </p>
  <p class="subparagraphlist">(B) <em>Court determination on opposition </em></p>
  <p class="subparagraphnolist">In determining whether to conduct an evidentiary hearing or trial in whole or in part through the use of remote technology over opposition, the court must consider the factors in section 367.75(b) and (f), and any limited access to technology or transportation asserted by a party. The court may not require a party to appear through remote technology. </p>
  <p class="subdhist">(Subd (h) was amended effective August 4, 2023.)</p>
  <p class="subdivheading"><strong>(i) Remote proceedings in juvenile dependency </strong></p>
  <p class="paragraphlist">(1) <em>General provisions </em></p>
  <p class="subparagraphlist">(A) This subdivision applies to any juvenile dependency proceeding. A court may adopt local rules as provided in (e) to prescribe procedures for remote juvenile dependency proceedings. </p>
  <p class="subparagraphlist">(B) The definitions in (c) apply, except that, for purposes of this subdivision, a "party" is any of the following persons and that person's counsel: </p>
  <p class="itemlist">(i) A child or nonminor dependent subject to the proceeding; </p>
  <p class="itemlist">(ii) Any parent, Indian custodian, or guardian of a child subject to the proceeding; </p>
  <p class="itemlist">(iii) The social worker who filed the petition to commence the juvenile dependency proceedings on behalf of the county child welfare department; </p>
  <p class="itemlist">(iv) The tribe of an Indian child subject to the proceeding if the tribe has intervened; and </p>
  <p class="itemlist">(v) A de facto parent of a child subject to the proceeding to whom the court has granted party status. </p>
  <p class="subparagraphlist">(C) This subdivision does not apply to a juvenile justice proceeding. The provisions in Welfare and Institutions Code section 679.5 and any rules implementing that statute govern a remote appearance in a juvenile justice proceeding. </p>
  <p class="paragraphlist">(2) <em>Conducting a remote proceeding </em></p>
  <p class="paragraphnolist">Any juvenile dependency proceeding may be conducted as a remote proceeding, as long as the following conditions are met: </p>
  <p class="subparagraphlist">(A) The court provides an opportunity for any person authorized to be present to request to appear remotely; </p>
  <p class="subparagraphlist">(B) All statutory confidentiality requirements applicable to a juvenile dependency proceeding held in person apply equally to a remote proceeding. </p>
  <p class="subparagraphlist">(C) The court does not require any party to appear remotely. </p>
  <p class="paragraphlist">(3) <em>Option to appear remotely </em></p>
  <p class="subparagraphlist">(A) If a proceeding is conducted as a remote proceeding, any person entitled to be present under rule 5.530(b) may appear remotely without submitting a request. </p>
  <p class="subparagraphlist">(B) Except as provided in (ii), any person entitled under rule 5.530(b) or authorized by court order to be present at a proceeding may request to appear remotely using any means, oral or written, that is reasonably calculated to ensure receipt by the court no later than the time the case is called for hearing. </p>
  <p class="itemlist">(i) If the request is in writing, <em>Request to Appear Remotely-Juvenile Dependency </em>(form RA-025) may be used. </p>
  <p class="itemlist">(ii) A request for a remote appearance by a witness must be made in writing by counsel for the party calling the witness or, if the party does not have counsel, by the party, by filing the request with the court and serving a copy of the request on counsel for all other parties or, if a party does not have counsel, on the party, by any means authorized by law reasonably calculated to ensure receipt no later than close of business three court days before the proceeding. </p>
  <p class="paragraphlist">(4) <em>Request to compel physical presence </em></p>
  <p class="paragraphnolist">Any party may ask the court to compel the physical presence of a witness or a party by filing the request in writing with the court and serving a copy of the request on counsel for each party by any means authorized by law reasonably calculated to ensure receipt no later than close of business two court days before the proceeding. <em>Request to Compel Physical Presence-Juvenile Dependency </em>(form RA-030) may be used for this purpose. </p>
  <p class="paragraphlist">(5) <em>Determination of request</em> </p>
  <p class="subparagraphlist">(A) The court must require a witness to appear in person unless all parties to the proceeding have consented to the witness's remote appearance. </p>
  <p class="subparagraphlist">(B) The court may require any person to appear in person if the court determines that: </p>
  <p class="itemlist">(i) One or more of the factors listed in Code of Civil Procedure section 367.75(b) or (f) or in this rule, including the person's limited access to technology, requires the person's physical presence; </p>
  <p class="itemlist">(ii) The court cannot ensure that the person's remote appearance will have the privacy and security necessary to preserve the confidentiality of the proceeding; or </p>
  <p class="itemlist">(iii) A remote appearance by the person is likely to cause undue prejudice to a party. </p>
  <p class="subparagraphlist">(C) The court must consider a person's ability to appear in person at a proceeding, including any limits to the person's access to transportation, before ordering the person to appear in person. </p>
  <p class="subdhist">(Subd (i) amended effective August 4, 2023.)</p>
  <p class="subdivheading"><strong>(j) Other rules regarding notice </strong></p>
  <p class="paragraphlist">(1) Any party, including a party that has given notice that it intends to appear remotely under (f)-(h) or a person authorized to appear remotely under (i), may choose to appear in person. </p>
  <p class="paragraphlist">(2) Notwithstanding the other provisions of this rule, a party may ask the court for leave to appear remotely without the notice provided for under (f)-(h). The court may permit the party to appear remotely upon a finding of good cause, unforeseen circumstances, or that the remote appearance would promote access to justice. </p>
  <p class="subdivheading"><strong>(k) Remote appearance fees </strong></p>
  <p class="paragraphlist">(1) <em>Parties not charged fees</em> </p>
  <p class="paragraphnolist">Parties who, by statute, are not charged filing fees or fees for court services may not be charged a videoconference fee under Government Code section 70630. </p>
  <p class="paragraphlist">(2) <em>Parties with fee waiver</em> </p>
  <p class="subparagraphlist">(A) When a party has received a fee waiver, that party may not be charged fees for remote appearances. </p>
  <p class="subparagraphlist">(B) To obtain remote appearance services without payment of a fee from a vendor or a court that provides such services, a party must advise the vendor or the court that they have received a fee waiver from the court. If a vendor requests, the party must transmit a copy of the order granting the fee waiver to the vendor. </p>
  <p class="subparagraphlist">(C) If a party, based on a fee waiver, receives remote appearance services under this rule without payment of a fee, the vendor or court that provides the remote appearance services has a lien on any judgment, including a judgment for costs, that the party may receive, in the amount of the fee that the party would have paid for the remote appearance. There is no charge for filing the lien. </p>
  <p class="subdivheading"><strong>(<em>l</em>) Vendor or platform<em> </em></strong></p>
  <p class="subdivtext">A court, by local rule, may designate the vendors or platforms that must be used for remote appearances or the location on its website where such information may be found. </p>
  <p class="subdivheading"><strong>(m) Court information on remote appearances </strong></p>
  <p class="subdivtext">The court must publish notice online providing parties with the information necessary to appear remotely at proceedings in that court under this rule. The notice should include information regarding in which departments, types of proceedings, or types of cases the court has the technological capability to allow remote appearances, and the vendors or platforms that must be used, including whether there are limitations to using them concurrently. </p>
  <p class="rulehist">Rule 3.672 amended effective August 4, 2023; adopted effective January 1, 2022.</p>
  <p class="advcommheader">Advisory Committee Comment</p>
  <p class="advcommtext"><strong>Subdivision (h). </strong>Nothing in this rule, including time frames provided in subdivision (h), is intended to preclude a court or party from discussing the use of remote appearances and testimony at any time during an action, including at case management conferences and status conferences. </p>
  <p class="advcommtext"><strong>Subdivision (k). </strong>Statutes currently provide that courts are not to charge fees to certain types of parties, such as governmental entities; representatives of tribes in cases covered by the Indian Child Welfare Act; and parties in certain types of cases, such as juvenile cases or actions to prevent domestic violence. This rule would preclude courts from charging videoconference fees to such parties as well. </p>
</div>