.view-results {
  --gap: var(--s5);
  --sidebar-width:30ch;
  --sidebar-direction:row-reverse;
}

.view-results.view-results--search_results {
  --sidebar-width:20ch;
}

.view-results > * + * {
  border-block-start: 2px dotted var(--color-base-light-x);
}

.view-results__header {
  padding-block-start: var(--s1);
}

.view-results__results {
  padding-block-start: var(--s3);
}

.view-results__results ul,
.view-results__results ol {
  list-style-type: none;
  padding-inline: 0;
}

/* .view-results__results ul li,
.view-results__results ol li {
  margin-block-end: var(--s3);
  padding-block-start: var(--s3);
} */

.view-results__results ul > li + li,
.view-results__results ol > li + li {
  margin-block-start: var(--s3);
  padding-block-start: var(--s3);
  border-block-start: 1px solid var(--color-base-light-x);
}

.view-results__results.no-divider ul > li + li,
.view-results__results.no-divider ol > li + li {
  border-block-start: 0px;
}

.view-results .media-excerpt__content {
  margin-block-start: var(--s-3);
}

.view-results__footer {
  --sidebar-direction: row-reverse;
}

.view-results__footer :first-child .form-item {
  margin-block: auto;
}

.view-results__footer .alt-select-style select {
  border: 0;
  padding: var(--s-5) 0;
  color: var(--accent-color);
  width: auto;
}

.view-results .sidebar-row {
  flex-direction: row;
}

.view-results .sidebar-row-reverse {
  flex-direction: row-reverse;
}

.view-results .view-results__results.with-sidebar > :first-child {
  background-color: var(--color-base-light-xxx);
}

.view-results.view-results--search_results .view-results__results.with-sidebar > :first-child {
  background-color: transparent;
}

.view-results.view-results--search_results > * + * {
  border-block-start: 2px dotted var(--color-base-light-x);
}

