.sidebar-nav {
  --icon-size: var(--s2);
  --sidebarnav-width: 30ch;
  --sidebar-width: var(--sidebarnav-width);
  --gap: 5ch;
  align-items: center;
  position: sticky; 
  inset-block-start: 0; 
  inset-inline-start: 0; 
  z-index: 100; 
  padding-block: 0;
}

.sidebar-nav > .with-sidebar {
  --icon-size: var(--s2);
  --sidebarnav-width: 30ch;
  --sidebar-width: var(var(--sidebarnav-width));
  position: relative;
}

.sidebar-nav > .with-sidebar > :first-child {
  flex-basis: var(--sidebarnav-width, 30ch);
}

.sidebar-nav__block {
  justify-content: flex-start;
  background-color: var(--color-base-light-xx);
  z-index: 10;
  flex-direction: column;
  inline-size: var(--sidebarnav-width);
}

.sidebar-nav__position {
  position: absolute;
  background-color: var(--color-base-light-xx);
  width: var(--sidebarnav-width);
  margin-block-start: 2ch;
  inset-inline-start: 2ch;
}

.mobile-sidebar-nav .sidebar-nav__position {
  position: relative;
  margin-block-start: 0;
  inset-inline-start: 0;
  width: auto;
}

.sidebar-nav__parent-label {
  font-size: calc(var(--s0) + 1px);
  font-weight: 400;
  line-height: var(--s2);
  color: var(--color);
  padding-inline: var(--s1);
  padding-block-start: var(--s1);
  padding-block-end: var(--s-1);
  border-block-end: 1px solid var(--color-base-light-x);
  inline-size: 100%;
}

.sidebar-nav__parent-label a {
  color: var(--color);
  text-decoration: none;
}

.sidebar-nav__parent-label a:hover {
  color: var(--accent-color);
}

.sidebar-nav > .box {
  padding-inline: var(--s2);
  padding-block: var(--s0);
}

.sidebar-nav > .with-parent-label {
  padding-block-start: var(--s-6);
}

.sidebar-nav ul {
  list-style-type: none;
  padding-inline: 0;
}

.sidebar-nav ul ul {
  list-style-type: none;
  padding-inline-start: var(--s1);
  border-inline-start: 2px solid var(--accent-color);
  margin-block-start: var(--s1);
  margin-block-end: var(--s-1);
  margin-inline-start: 3px;
}

.sidebar-nav ul ul > li:last-child > a,
.sidebar-nav ul ul > li:last-child > button {
  padding-block-end: 0;
}

.sidebar-nav ul ul > li:first-child > a,
.sidebar-nav ul ul > li:first-child > button {
  padding-block-start: 0;
}

.sidebar-nav__default {
  align-items: center;
}

.sidebar-nav .reel + * {
  display: none;
}

a.sidebar-nav__button,
button.sidebar-nav__button {
  --button-border: transparent;
  --button-fg: var(--color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 0;
  border-radius: 0;
  padding-inline: 0;
  padding-block: var(--s-2);
  font-size: calc(var(--s0) - 1px);
  font-weight: 600;
  line-height: var(--s1);
  color: var(--color);
  text-decoration: none;
  letter-spacing: 0.25px;
  background-color: transparent;
  text-align: inherit;
}

.sidebar-nav button::after {
  align-self: center;
  content: "\25BE";
  color: var(--color-base-light-x);
}

a.sidebar-nav__button:hover,
button.sidebar-nav__button:hover {
  color: var(--accent-color);
}

a.sidebar-nav__button.is-active,
button.sidebar-nav__button.is-active {
  color: var(--accent-color);
  border-block-end: 0px solid var(--accent-color);
}

.sidebar-nav .header-search__icon::after,
.sidebar-nav .header-search__search-toggle::after {
  content: none;
}

.sidebar-nav button + * {
  display: none;
}

.sidebar-nav.switcher > * {
  flex-grow: 0;
  flex-basis: calc((var(--measure) - 100%) * 999);
}

.sidebar-nav button.open {
  border-color: var(--color-accent-warm);
  width: 100%;
  padding-block-end: 0;
}

.sidebar-nav button.open + .sidebar-nav__item {
  display: block;
}

/* Prevent menu from opening wider than the nav. */
/* Issue with right: 0; with position: relative; parent. */
/* @todo: resolve positioning issue to avoid forced width. */
.sidebar-nav__default .sidebar-nav__group:nth-last-child(1) > .sidebar-nav__item:not(.sidebar-nav__item--mega) {
  width: 25ch;
  margin-inline-start: -12ch;
}

.sidebar-nav__item a {
  display: block;
  color: var(--color);
  /* font-size: var(--s0); */
  text-decoration: none;
  line-height: var(--s1);
}

.sidebar-nav__item a:hover {
  opacity: 0.5;
}

.sidebar-nav__item a + a {
  border-block-start: 1px dashed var(--color-base);
  padding-block-start: var(--s0);
}

.sidebar-nav button + .sidebar-nav__item--mega {
  --gap: var(--s0);
  left: 0;
  max-width: none;
  width: 100%;
}

.sidebar-nav__default button + .sidebar-nav__item--mega a {
  border: 0;
  padding: var(--s-5) var(--s-3);
  background-color: var(--color-base-light-xx);
}

/* Hide the reel when overflowing. */
.sidebar-nav .reel.overflowing {
  height: 0;
  padding: 0;
}

.sidebar-nav .reel.overflowing button.open + .sidebar-nav__item {
  position: relative;
}

/* It's Burger Time when reel is overflowing/hidden. */
.sidebar-nav .reel.overflowing + * {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* Hamburger */
.sidebar-nav__hamburger-toggle {
  width: var(--icon-size);
  height: var(--icon-size);
  position: relative;
  transform: rotate(0deg);
  transition: all var(--anim);
  cursor: pointer;
}

.sidebar-nav__hamburger-toggle span {
  display: block;
  position: absolute;
  height: calc(var(--icon-size) / 7);
  width: 100%;
  background: var(--color);
  opacity: 1;
  transform: rotate(0deg);
  transition: all var(--anim);
  pointer-events: none;
}

.sidebar-nav__hamburger-toggle span:nth-child(1) {
  transform-origin: left center;
}

.sidebar-nav__hamburger-toggle span:nth-child(2) {
  top: calc(var(--icon-size) / 3);
  transform-origin: left center;
}

.sidebar-nav__hamburger-toggle span:nth-child(3) {
  top: calc((var(--icon-size) / 3) * 2);
  transform-origin: left center;
}

.sidebar-nav__hamburger-toggle + * {
  display: none;
}

/* Open */
.sidebar-nav__hamburger-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
}

.sidebar-nav__hamburger-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.sidebar-nav__hamburger-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.sidebar-nav__hamburger-toggle.open + * {
  display: block;
}

/* Hamburger Styles */
.sidebar-nav__hamburger > .stack {
  --gap: 0;
  flex: 1 0 100%;
}

.sidebar-nav__hamburger .grid {
  --gap: var(--s0);
}

.sidebar-nav__hamburger .sidebar-nav__group + .primary-nav__group {
  border-block-start: 1px dashed var(--color-base);
}

.sidebar-nav__hamburger a.sidebar-nav__button,
.sidebar-nav__hamburger button.sidebar-nav__button {
  max-inline-size: none;
}

.sidebar-nav__hamburger .sidebar-nav__item a + a {
  border-block-start: 1px solid var(--color-base-light-xx);
}

.sidebar-nav__hamburger button + * {
  --grid-min-width: 100%;
  max-width: none;
  width: 100%;
  background: var(--color-white);
  box-shadow: none;;
}

.has-sidebar-navigation .section .container.stack > *, 
.has-sidebar-navigation .section .container.stack > .section__header,
.has-sidebar-navigation .section .container.stack > .section__main,
.has-sidebar-navigation .section .container.stack > .section__button {
  padding-inline-start: calc(var(--sidebarnav-width) + 5ch);
}

.mobile-sidebar-nav .has-sidebar-navigation .section .container.stack > *, 
.mobile-sidebar-nav .has-sidebar-navigation .section .container.stack > .section__header,
.mobile-sidebar-nav .has-sidebar-navigation .section .container.stack > .section__main,
.mobile-sidebar-nav .has-sidebar-navigation .section .container.stack > .section__button {
  padding-inline-start: unset;
}

/* Hamburger */
.sidebar-nav__hamburger-toggle {
  width: var(--icon-size);
  height: var(--icon-size);
  position: relative;
  transform: rotate(0deg);
  transition: all var(--anim);
  cursor: pointer;
  display: none;
}

.mobile-sidebar-nav .sidebar-nav__hamburger-toggle {
  display: block;
  margin: 2ch;
  width: auto;
}

.sidebar-nav__hamburger-toggle span {
  display: block;
  position: absolute;
  height: calc(var(--icon-size) / 7);
  width: 2.25rem;
  background: var(--color-base-dark-x);
  opacity: 1;
  transform: rotate(0deg);
  transition: all var(--anim);
  pointer-events: none;
}

.sidebar-nav__hamburger-toggle span:nth-child(1) {
  transform-origin: left center;
}

.sidebar-nav__hamburger-toggle span:nth-child(2) {
  top: calc(var(--icon-size) / 3);
  transform-origin: left center;
}

.sidebar-nav__hamburger-toggle span:nth-child(3) {
  top: calc((var(--icon-size) / 3) * 2);
  transform-origin: left center;
}

.sidebar-nav__hamburger-toggle + * {
  display: block;
}

.mobile-sidebar-nav .sidebar-nav__hamburger-toggle + * {
  display: none;
}

.mobile-sidebar-nav .sidebar-nav__hamburger-toggle.open + * {
  display: block;
}

/* Open */
.sidebar-nav__hamburger-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
}

.primary-nav__hamburger-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.sidebar-nav__hamburger-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.sidebar-nav__hamburger-toggle.open + * {
  display: block;
}

.sidebar-nav__hamburger-toggle.open span {
  width: 1.5rem;
  background: var(--accent-color);
}

/* Hamburger Styles */
.sidebar-nav__hamburger > .stack {
  --gap: 0;
  flex: 1 0 100%;
}

.sidebar-nav__hamburger .grid {
  --gap: var(--s0);
}

.sidebar-nav__hamburger .sidebar-nav__group + .sidebar-nav__group {
  border-block-start: 1px dashed var(--color-base);
}

body.sb-main-padded #root {
  height: 1000px;
}