.button {
  --button-border: var(--button-fg);
  display: inline-block;
  width: auto;
  background-color: var(--button-bg);
  padding: var(--s-1) var(--s1);
  border: 2px solid var(--button-border);
  border-radius: var(--s-5);
  color: var(--button-fg);
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: var(--s0);
  line-height: var(--s1);
  font-weight: 300;
  letter-spacing: 0.01rem;
  position: relative;
}

.button:hover {
  background-color: var(--color-accent-warm-light-xxxx); 
  color: var(--color-red);
  border: 2px solid var(--color-red);
}

.button:active {
  border: 2px solid var(--color-brown);
  color: var(--color-brown);
  background: var(--color-accent-warm-light-xxxx);
}

.button:visited {
  color: var(--button-fg);
}

.button:visited:hover {
  color: var(--color-red);
}

.button:focus {
  outline: 2px solid var(--color-accent-warm-light-x);
  outline-offset: 2px;
  border: 2px solid var(--color-accent-warm-dark-x);  
}

.button.button--text:active::before,
.button.button--text:focus::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor; 
}

.button::after {
  margin-inline-start: var(--s-5);
  content: ''; 
  align-self: flex-end;
  display: inline-block; 
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat; 
  vertical-align: -2px;
  background-color: currentColor;
}

.button.button--primary::after,
.button.button--primary:focus::after,
.button.button--text::after,
.button.button--text:focus::after {
  background-color: currentColor;
}
.button.button--primary:hover::after,
.button.button--text:hover::after {  
  background-color: var(--dynamic-color, var(--color-red));
}
.button.button--primary:active::after,
.button.button--text:active::after {
  background-color: var(--color-brown);
}

.button.button--secondary::after,
.button.button--secondary:hover::after,
.button.button--secondary:active::after,
.button.button--secondary:focus::after {
  background-color: var(--color-white);  
}

.button--primary::after,
.button--primary:focus::after,
.button--primary:hover::after,
.button--primary:active::after,
.button--secondary::after,
.button--secondary:focus::after,
.button--secondary:hover::after,
.button--secondary:active::after,
.button--text::after,
.button--text:focus::after,
.button--text:hover::after,
.button--text:active::after {
  -webkit-mask: var(--arrow-svg) no-repeat;
  mask: var(--arrow-svg) no-repeat;
}

.button.button--text:focus::after{
  background-color: currentColor; 
}

.button.button--no-icon::after {
  -webkit-mask: none !important;
  mask: none !important;
  display: none !important;
}

[dir='rtl'] .button:after {
  /* content: "\2190"; */
  transform: rotate(180deg);
}

/* Button Variants */
/* Size */
.button.button--small {
  font-size: var(--s-1);
  padding: var(--s-3) var(--s0);
}

.button.button--large {
  font-size: var(--s2);
  padding: var(--s0) var(--s2);
}

/* Type */
.button.button--secondary {
  --button-bg: var(--color-accent-warm-dark-x);
  --button-fg: var(--color-white);
  --button-border: var(--color-white);
}

.button.button--secondary:hover {
  background-color: var(--color-red); 
  color: var(--color-white);
  border: 2px solid var(--color-red);
}

.button.button--secondary:active {
  border: 2px solid var(--color-brown);
  color: var(--color-white);
  background: var(--color-brown);
}

.button.button--secondary:focus {
  outline: 2px solid var(--color-accent-warm-light-x);
  outline-offset: 2px;  
  background: var(--color-accent-warm-dark-x); 
}

.button.button--text {
  padding: 0;
  border: 0;
  background: transparent;
  font-weight: 600;
}

.button.button--text:hover,
.button.button--text:focus {
  color: var(--color-red);
  outline: none;
  text-decoration: underline;
}

.button.button--text:active {  
  color: var(--color-brown);    
}

/* .button.button--text:focus {
  padding: var(--s-1) var(--s1);
  color: var(--color-accent-warm-dark-x); 
  border-radius: var(--s-5);
  --button-border: 2px solid var(--color-accent-warm-light-xx);
} */

.button.collapsed::after {
  margin-inline-start: 0;
}

.button.collapsed:hover::after {
  margin-inline-start: var(--s-5);
}

.button.collapsed span {
  display: none;
}

.button.collapsed:hover span {
  display: inline-block;
}

.section--color-primary-dark-xx .button:not(.button--primary, .button--secondary),
.section--color-primary-dark-xx-stripe .button:not(.button--primary, .button--secondary):visited {
  color: var(--color-link-visited-light) !important;
}

.section--color-primary-dark-xx .button:not(.button--primary, .button--secondary):hover,
.section--color-primary-dark-xx-stripe .button:not(.button--primary, .button--secondary):hover {
  color: var(--color-white) !important;
}

.section--color-primary-dark-xx .button:not(.button--primary, .button--secondary):hover::after,
.section--color-primary-dark-xx-stripe .button:not(.button--primary, .button--secondary):hover::after {
  background-color: currentColor !important;
}