.secondary-nav {
  --gap: 0;
}

.secondary-nav ul {
  list-style: none;
  justify-content: flex-start;
}

.secondary-nav ul li {
  display: flex;
  padding-block: var(--s-6);
}

.secondary-nav ul li:first-of-type a {
  padding-inline-start: 0;
}

.secondary-nav ul li:last-of-type a {
  padding-inline-end: 0;
}

.secondary-nav > ul > li a {
  display: block;
  border-inline-start: 1px solid transparent;
  padding-inline: var(--s1);
  line-height: 1em;
  color: var(--color, var(--color-base-dark-x));
  text-decoration: none;
}

.secondary-nav > ul > li a:focus-visible {
  outline-offset: 3px;
}

.secondary-nav > ul > li a:hover {
  opacity: .5;
}

.secondary-nav .reel {
  background: none;
  align-items: baseline;
}

.secondary-nav .reel.overflowing {
  padding: 0;
}

/* Variants */

/* With Divider */
.secondary-nav--with-divider > ul > li + li a {
  border-inline-start: 1px solid var(--accent-color);
}

/* Stack Overflowing */
/* We're overriding Reel to behave like Stack when .overflowing is present. */
.secondary-nav--overflowing-stack .reel.overflowing {
  --measure: 90ch;
  gap: var(--gap, var(--s1));
  flex-wrap: wrap;
  background: none;
  scrollbar-width: none;
}

.secondary-nav--overflowing-stack .reel.overflowing > * {
  flex-grow: 1;
  flex-basis: calc((var(--measure) - 100%) * 999);
}

.secondary-nav--overflowing-stack .reel.overflowing a {
  padding-inline: 0;
  border: 0;
}

/* Hidden Overflowing */
/* Display: none; breaks the JS resize observer so it will not re-appear. */
/* Reduce the element dimensions to 0 instead. Width remains for observer. */
.secondary-nav--overflowing-hidden .reel.overflowing {
  --gap: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

/* Alternate style */
.secondary-nav--alternate {
  border-block: 1px solid var(--color-base-light-x);
}

.secondary-nav--alternate > ul > li {
  padding-block:0;
}

.secondary-nav--alternate > ul > li a {
  padding-block: var(--s1);
  padding-inline: var(--s0);
  font-size: calc(var(--s0) - 2px);
  font-weight: 600;
}

.secondary-nav--alternate ul li:first-of-type a {
  padding-inline-start: var(--s0);
}

.secondary-nav--alternate ul li:last-of-type a {
  padding-inline-end: var(--s0);
}

.secondary-nav--alternate > ul > li:hover a,
.secondary-nav--alternate > ul > li:focus-within a {
  color: var(--color-white);
  background-color: var(--color-primary-light-x);
  outline: 0;
}

.secondary-nav--alternate > ul > li a:hover {
  opacity: 1;
}

.secondary-nav--alternate ul li a.active, 
.secondary-nav--alternate ul li.active a {
  color: var(--color-white);
  background-color: var(--color-primary-dark-x);
}

.secondary-nav--alternate .reel.overflowing > li > a,
.secondary-nav--alternate .reel.overflowing > li:hover > a,
.secondary-nav--alternate .reel.overflowing > li:focus-within > a,
.secondary-nav--alternate .reel.overflowing > li > a:hover,
.secondary-nav--alternate .reel.overflowing > li > a:focus {
  width: 100%;
  padding-inline: var(--s0);
}

/* Alternate style - with divider*/
.secondary-nav--alternate-with-divider {
  border-block: 1px solid var(--color-base-light-x);
}

.secondary-nav--alternate-with-divider > ul > li {
  padding-block:0;
}

.secondary-nav--alternate-with-divider > ul > li a {
  padding-block: var(--s1);
  padding-inline: var(--s0);
  font-size: calc(var(--s0) - 2px);
  font-weight: 600;
}

.secondary-nav--alternate-with-divider ul li:first-of-type a {
  padding-inline-start: var(--s0);
}

.secondary-nav--alternate-with-divider ul li:last-of-type a {
  padding-inline-end: var(--s0);
}

.secondary-nav--alternate-with-divider > ul > li:hover a {
  color: var(--color-white);
  background-color: var(--color-primary-light-x);
  outline: 0;
}

.secondary-nav--alternate-with-divider ul li a.active, 
.secondary-nav--alternate-with-divider ul li.active a {
  color: var(--color-white);
  background-color: var(--color-primary-dark-x);
}

.secondary-nav--alternate-with-divider > ul > li a:hover {
  opacity: 1;
}

.secondary-nav--alternate-with-divider > ul > li + li a {
  border-inline-start: 1px solid var(--color-base-light-x);
}

.secondary-nav--alternate-with-divider .reel.overflowing > li > a,
.secondary-nav--alternate-with-divider .reel.overflowing > li:hover > a,
.secondary-nav--alternate-with-divider .reel.overflowing > li:focus-within > a,
.secondary-nav--alternate-with-divider .reel.overflowing > li > a:hover,
.secondary-nav--alternate-with-divider .reel.overflowing > li > a:focus {
  width: 100%;
  padding-inline: var(--s0);
}

.secondary-nav--alternate-with-divider > ul.reel.overflowing > li + li a {
  border-block-start: 1px solid var(--color-base-light-x);
}

.secondary-nav--alternate-with-divider > ul > li:focus-within a {
  box-shadow: inset 0px 0px 0px 3px var(--accent-color);
  outline: 0;
}