.offcanvas__container {
  display: none;
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.offcanvas__canvas {
  display: none;
  position: inherit;
  z-index: 99999;
  max-width: 30rem;
  height: inherit;
  background-color: #fff;
}

.offcanvas__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--s0);
}

.offcanvas__heading h2.cluster {
  gap: var(--s-2);
}

.offcanvas__heading .icon {
  width: 2rem;
  height: 2rem;
  fill: var(--heading-color);
}

.offcanvas__open-button,
.offcanvas__close-button {
  cursor: pointer;
}

.offcanvas__close-button.icon {
  position: relative;
  border: none;
  background: transparent;
  height: var(--s1);
  width: var(--s1);
}

.offcanvas__close-button.icon > * {
  width: var(--s1);
  height: 2px;
  background: var(--color);
  transform: rotate(45deg);
  position: absolute;
  left: 0;
  transition: all var(--anim);
}

.offcanvas__close-button.icon > * + * {
  transform: rotate(135deg);
}

.offcanvas__container[open] {
  display: block;
}

.offcanvas__container[open]::after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background-color: #000;
  opacity: .5;
}

.offcanvas__container[open] .offcanvas__canvas {
  display: block;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.offcanvas--left .offcanvas__container[open] .offcanvas__canvas {
  left: 0rem;
  animation-name: slidein-left;
}

.offcanvas--right .offcanvas__container[open] .offcanvas__canvas {
  right: 0rem;
  animation-name: slidein-right;
}

@keyframes slidein-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slidein-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
