.footer {
  --footer-background: var(--color-base-light-xx);
  --footer-link-color: var(--accent-color);
  --footer-link-color-hover: var(--color-red);
  --social-icon-color: var(--accent-color);
  --social-icon-color-hover: var(--color-red);
  --border-color: var(--color-base-light-x);
  background: var(--footer-background);
}

.footer.footer--alternate {
  --color: var(--color-white);
  --footer-background: var(--color-primary);
  --footer-link-color: var(--color-white);
  --footer-link-color-hover: var(--color-white);
  --social-icon-color: var(--color-white);
  --border-color: var(--color-white);
  --social-icon-color-hover: var(--footer-link-color-hover);
}

.footer .cluster {
  justify-content: space-between;
  align-items: stretch;
}

.footer .footer__upper .container {
  margin-block-start: var(--s-1);
  margin-block-end: var(--s-2);
}

.footer .site-branding.cluster {
  align-items: center;
}

.footer.footer--alternate .site-branding .site-branding__logo img {
  filter: invert(1);
}

.footer .secondary-nav {
  display: flex;
  align-items: stretch;
}

.footer .secondary-nav .reel {
  align-items: stretch;
}

.footer .secondary-nav li {
  align-items: center;
}

.footer .secondary-nav--overflowing-stack .reel.overflowing > * {
  flex-grow: 0;
  flex-basis: auto;
  /* flex-direction: column; */
}

.footer .footer__upper:has( .cluster.wrapping) .secondary-nav--overflowing-stack .reel.overflowing > * {
  flex-grow: 1;
  flex-basis: calc((var(--measure) - 100%) * 999);
  /* flex-direction: column; */
}

.footer .footer__upper .secondary-nav.secondary-nav--with-divider .secondary-nav__list__item a {
  --color: var(--color-primary);
  font-weight: 700;
  color: var(--color);
}

.footer.footer--alternate .footer__upper .secondary-nav.secondary-nav--with-divider .secondary-nav__list__item a {
  --color: var(--color-white);
  border-inline-start-color: var(--color);
  font-weight: 400;
}

.footer.footer--alternate .footer__upper .secondary-nav.secondary-nav--with-divider .secondary-nav__list__item a:hover {
  opacity: .7;
}

.footer .footer__lower {
  padding-block-start: 0;
}

.footer .footer__lower .container {
  margin-block-start: var(--s-2);
  padding-block-start: var(--s6);
  border-block-start: 1px solid var(--border-color);
}

.footer .footer__lower .container > .with-sidebar {
  row-gap: var(--s0);
}

.footer .footer__lower__side > *:last-child {
  margin-block-end: var(--s6);
}

.footer .footer__label {
  font-size: var(--s0);
  color: var(--color);
  font-weight: 700;
}

.footer .footer__content {
  font-size: var(--s-1);
  color: var(--color);
}

.footer .footer__link .button {
  font-size: var(--s-1);
  color: var(--footer-link-color);
}

.footer .footer__link .button:hover {
  color: var(--footer-link-color-hover);
}

.footer .footer__social {
  --gap: var(--s-1);
  justify-content: flex-start;
  align-items: stretch;
  margin-block-start: var(--s2);
}

.footer .footer__social .link {
  color: var(--social-icon-color);
}

.footer .footer__social .link .icon-wrapper {
  --icon-size: var(--s0);
  height: var(--icon-size);
  width: var(--icon-size);
  color: var(--social-icon-color);
}

.footer.footer--alternate .footer__social .link {
  color: var(--color-white);
}

.footer.footer--alternate .footer__social .link:hover {
  color: var(--color-white);
  opacity: .7;
}

.footer .footer__social .link:hover .icon-wrapper {
  color: var(--social-icon-color-hover);
}

.footer.footer--alternate .flat-nav > ul.flat-nav__group__list > li.flat-nav__group__item > a.flat-nav__link:hover,
.footer.footer--alternate .flat-nav a.flat-nav__link:hover {
  color: var(--color-white);
  opacity: .7;
}

.footer.footer--alternate .flat-nav .flat-nav__link:focus {
  color: var(--color-white);
  outline: 3px solid var(--color-white);
  outline-offset: 2px;
  border-radius: 1px;
}

.footer.footer--alternate .flat-nav > ul.flat-nav__group__list > li.flat-nav__group__item > span.flat-nav__link:hover,
.footer.footer--alternate .flat-nav span.flat-nav__link:hover {
  color: var(--color-white);
  opacity: 1;
  text-decoration: none;
}

.footer.footer--alternate .flat-nav > ul.flat-nav__group__list > li.flat-nav__group__item > span.flat-nav__link:focus,
.footer.footer--alternate .flat-nav > ul.flat-nav__group__list > li.flat-nav__group__item > a.flat-nav__link:focus,
.footer.footer--alternate .flat-nav a.flat-nav__link:focus,
.footer.footer--alternate .flat-nav span.flat-nav__link:focus {
  color: var(--color-white);
  opacity: 1;
  text-decoration: none;
}

.footer.footer--alternate .button.button--text:hover {
  opacity: .7;
}

.footer.footer--alternate .button.button--text:hover::after {
  background-color: var(--social-icon-color-hover);
  opacity: .7;
}
