{# This is just a layout example for the styleguide.
  Do not use this template directly. #}

<div class='stack'>
  <div class="center stack">
    <h1>Center</h1>
    <code>class=".center"</code>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, architecto neque. Quos explicabo nobis iste excepturi, earum repellat deserunt sit quae fugit quia perferendis iure modi exercitationem totam asperiores itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores laborum repellendus esse sit perferendis mollitia et, dolorum fugiat doloribus tempora? Quos natus necessitatibus debitis ea laboriosam rem iure assumenda voluptatum!</p>
    <a class="button">Button</a>
  </div>

  <div class="center stack" style="--align-items: center;">
    <h1>Center</h1>
    <code>class=".center" style="--align-items: center"</code>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, architecto neque. Quos explicabo nobis iste excepturi, earum repellat deserunt sit quae fugit quia perferendis iure modi exercitationem totam asperiores itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores laborum repellendus esse sit perferendis mollitia et, dolorum fugiat doloribus tempora? Quos natus necessitatibus debitis ea laboriosam rem iure assumenda voluptatum!</p>
    <a class="button">Button</a>
  </div>
</div>
