.background__group + .background__group {
  margin-top: var(--s5);
}

.background__group h2 {
  text-transform: capitalize;
}

.background__swatch {
  width: 100%;
  height: 10ch;
  border: 1px solid #000;
}

.background__label {
  border: 1px solid #000;
  border-top: 0;
  background-color: #fff;
  padding-inline: var(--s-4);
}
