.view-results {
  --gap: var(--s6);
  --sidebar-width:30ch;
  --sidebar-direction:row-reverse;
}

li.group-li + li.group-li > h2.list-label {  
  border-block-start: 1px solid var(--color-base-light-x);  
  padding-block-start: var(--s6);
}

.view-results.view-results--search_results {
  --gap: var(--s2);
  --sidebar-width: 20ch;
}

.view-results__results {
  margin-block-start: var(--s2);
}

.views-results_content-header {
  font-size: var(--s-1);
  margin-block-end: var(--s-2);
}

.items-per-page {
  margin-block-end: var(--s-2);
}

.alt-select-style.items-per-page > div::after {
  mask-size: var(--s-2);
  top: var(--s-3) !important;
}

.items-per-page select {
  font-size: var(--s-1);
}

.items-per-page .form-item-select-label{
  position: relative;
  padding-right: var(--s-2);
}

.view-results.no-pager {
  padding-block-end: var(--s6);
}

.view-results.no-top-margin .view-results__results{
  margin-block-start: 0;
  padding-block-start: 0;
}
.view-results.no-top-margin > * + * {
  border-block-start: none;
}

.view-results__results .view-results_header_wrapper{
  justify-content: space-between;
}

.view-results__results .content li.group-li {
  border-block-start: none;
}

.view-results__results .content.grouped-view > ul > li,
.view-results__results .content.grouped-view > ol > li {
  padding-block-start: 0;
}


.view-results__results .content.grouped-view > ul,
.view-results__results .content.grouped-view > ol {
  margin-block-start: 0;
}

.view-results__results .content > ul,
.view-results__results .content > ol,
.view-results__results .content > ul > li > ul,
.view-results__results .content > ol > li > ol {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline: 0;
}

.view-results__results .content > ul > li + li,
.view-results__results .content > ol > li + li,
.view-results__results .content > ul > li > ul > li + li,
.view-results__results .content > ol > li > ol > li + li {
  margin-block-start: var(--s2);
  padding-block-start: var(--s2);  
  border-block-start: 1px solid var(--color-base-light-x);  
}

.view-results.list-divider-skip-first .view-results__results .content > ul > li:first-child,
.view-results.list-divider-skip-first .view-results__results .content > ol > li:first-child{
  border-block-start: none;
}

.view-results__results .content > ul > li,
.view-results__results .content > ol > li,
.view-results__results .content > ul > li > ul > li,
.view-results__results .content > ol > li > ol > li {
  padding-block-start: var(--s2);  
  border-block-start: 1px solid var(--color-base-light-x);
}

.view-results.view-results--search_results  .content > ul > li,
.view-results.view-results--search_results  .content > ol > li,
.view-results.view-results--search_results  .content > ul > li > ul > li,
.view-results.view-results--search_results  .content > ol > li > ol > li {
  padding-block-start: var(--s4);
  border-block-start: none;
}

.view-results.view-results--search_results .content > ul > li + li,
.view-results.view-results--search_results .content > ol > li + li,
.view-results.view-results--search_results .content > ul > li > ul > li + li,
.view-results.view-results--search_results .content > ol > li > ol > li + li {
  margin-block-start: var(--s4);
  padding-block-start: var(--s4);    
  border-block-start: 1px solid var(--color-base-light-x);  
}

.view-results__results.no-divider > ul > li + li,
.view-results__results.no-divider > ol > li + li,
.view-results__results.no-divider > ul > li > ul > li + li,
.view-results__results.no-divider > ol > li > ol > li + li {
  margin-block-start: var(--s3);
  padding-block-start: var(--s3);
  border-block-start: 0px;
}

.view-results__footer {
  --sidebar-direction: row-reverse;
  padding-block: var(--s0);
}

.view-results__footer:first-child .form-item {
  margin-block: auto;
}

.view-results__footer .alt-select-style select {
  border: 0;
  padding: var(--s-5) 0;
  color: var(--accent-color);
  width: auto;
}

.view-results .sidebar-row {
  flex-direction: row;
}

.view-results .sidebar-row-reverse {
  flex-direction: row-reverse;
}

/* Sidebar form and sidebar content specific styling */
.view-results__results.sidebar-row .stack.sidebar > * + * {
  margin-block-start: var(--s4);
  padding-block-start: var(--s4);
  border-block-start: 2px dotted var(--color-base-light-x);
}

.view-results__results .sidebar .form-item + .form-item {
  margin-block-start: var(--s0);
}

.view-results__results .sidebar .fieldset-wrapper .placeholder-container.form-item + .placeholder-container.form-item {
  margin-block-start: 0;
}

.view-results__results .sidebar .form-item + .form-actions {
  margin-block-start: var(--s2);
}

.view-results__results .sidebar select {
  background-color: unset;
}

.view-results .form-actions {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.view-results .form-actions .button {
  --accent-color: var(--button-fg) !important;
  font-size: var(--s0);
}

.view-results .form-actions .button .inline-form__submit-circle {
  --accent-color: var(--button-fg) !important;
}

.view-results__results.sidebar-row .stack.sidebar h2,
.view-results__results.sidebar-row .stack.sidebar h3,
.view-results__results.sidebar-row .stack.sidebar h4 {
  font-size: var(--s1);
  font-style: italic;
  line-height: normal;
  margin-block-end: var(--s0);
}

.views-view--news--news-list {
  margin-block-end: var(--s3);
}

.views-view--news--news-list .views-row + .views-row {
  margin-block-start: var(--s5);
}

.views-view--news--news-list article .brow.brow--default {
  margin-block-end: var(--s-1);
}

.views-view--news--news-list article .result-excerpt__content {
  margin-block-start: var(--s0);
}

.view-results.list-divider-skip-first .view-results__results .content > ol > li:first-child,
.view-results.list-divider-skip-first .view-results__results .content > ul > li:first-child {
  padding-block-start: 0 !important;
}

.view-results.no-top-margin .view-results__results .content > ol,
.view-results.no-top-margin .view-results__results .content > ol > li > ol,
.view-results.no-top-margin .view-results__results .content > ul,
.view-results.no-top-margin .view-results__results .content > ul > li > ul {
  margin-block-start: 0 !important;
}

.views-exposed-form > .placeholder-container.form-item > label,
.views-exposed-form > fieldset.form-item legend,
.views-exposed-form > details summary {
  padding-block-end: var(--s1);
}

.views-exposed-form > .placeholder-container.form-item > input:focus ~ label,
.views-exposed-form > .placeholder-container.form-item > textarea:focus ~ label,
.views-exposed-form > .placeholder-container.js-form-type-textfield input:not(:placeholder-shown) ~ label {
  transform: none;
}

.views-exposed-form .placeholder-container.form-item input:not(.button):not([type="checkbox"]),
.views-exposed-form .placeholder-container.form-item textarea,
.views-exposed-form .placeholder-container.form-item select {
  border-width: 2px;
}

.views-exposed-form .placeholder-container.form-item select,
.views-exposed-form .placeholder-container.form-item input {
  border-color: var(--color-black);
}

.views-exposed-form .placeholder-container.form-item select {
  margin-block-start: 0;
}

.views-exposed-form details > .form-checkboxes {
  margin-block-start: 0;
}

.views-exposed-form details > .form-checkboxes .form-checkboxes {
  margin-block-start: var(--s0);
}

/* Override default field+label order for elevated Drupal theme.  */
.views-exposed-form .placeholder-container.form-item select,
.views-exposed-form .placeholder-container.form-item input:not(.form-checkbox):not(.form-radio) {
  order: 2;
}

.views-exposed-form details summary,
.views-exposed-form fieldset.collapsible legend {
  display: flex ;
  justify-content: space-between;
  gap: var(--s-2);
  cursor: pointer;
  align-items: center;
  width: 100%;
}

.views-exposed-form details summary:hover,
.views-exposed-form fieldset.collapsible legend:hover {
  background-color: var(--color-base-light-xxx);
  color: var(--accent-color);
}

.views-exposed-form details summary::after,
.views-exposed-form fieldset.collapsible legend::after {
  height: var(--s1);
  width: var(--s1);
  font-size: var(--s3);
  font-weight: bold;
  line-height: 0;
  color: var(--accent-color);
  content: '\231F';
  transform: rotate(45deg);
  transition: all var(--anim-speed) ease;
}

@media (prefers-reduced-motion: reduce) {
  .views-exposed-form details[open] summary::after,
  .views-exposed-form fieldset.collapsible legend::after {
    transition: all 0 ease;
    animation: none;
  }
}

.views-exposed-form details[open] summary::after,
.views-exposed-form fieldset.collapsible[open] > legend::after {
  transform: rotate(225deg);
  transform-origin: 80% 40%;
}
/* Expanded arrow positioning for Firefox. */
@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) {
  .views-exposed-form details[open] summary::after,
  .views-exposed-form fieldset.collapsible[open] > legend::after {
    transform-origin: 60% 40%;
  }
}

.views-exposed-form fieldset.collapsible > .fieldset-wrapper {
  display: none;
}

.views-exposed-form fieldset.collapsible[open] > .fieldset-wrapper {
  display: block;
}

.views-exposed-form fieldset.collapsible > legend:hover {
  background-color: var(--color-base-light-xxx);
  color: var(--accent-color);
}

/**
 * collapsible fieldsets animation:
 * Fade in content on open, Fade out content on close.
 */
.views-exposed-form fieldset.collapsible[open] > legend ~ * {
  animation: open var(--anim-speed);
}

.views-exposed-form fieldset.collapsible.closing > legend ~ * {
  animation: close var(--anim-speed);
}
.views-exposed-form fieldset.collapsible > legend ~ * {
  animation: close var(--anim-speed);
}

@keyframes open {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@media (prefers-reduced-motion: reduce) {
  .views-exposed-form fieldset.collapsible[open] > legend ~ * {
    animation: none;
  }

  .views-exposed-form fieldset.collapsible.closing > legend ~ * {
    animation: none;
  }
}

/* BEGIN - exposed filters in header */
.view-results__header .views-exposed-form {
  display: flex;
  align-items: end;
  inline-size: auto;
}

.view-results__header .views-exposed-form .form-item {
  margin-block-start: 0;
  margin-inline-end: var(--s1);
}
/* END - exposed filters in header */


/* BEGIN - exposed filters in sidebar */
.sidebar .views-exposed-form > .placeholder-container.form-item:not(.form-item-search),
.sidebar .views-exposed-form > .form-wrapper fieldset.form-item,
.sidebar .views-exposed-form > fieldset.form-item,
.sidebar .views-exposed-form > details {
  border: none;
  padding: 0;
  padding-block-end: var(--s3);
  border-block-end: 1px solid var(--color-base-light-x);
}

/* Override FormField CSS for specific filter headings */
.sidebar .views-exposed-form > .form-wrapper .form-wrapper .fieldset-wrapper .placeholder-container label,
.sidebar .views-exposed-form > .js-form-type-textfield > label {
  position: relative !important;
  left: unset !important;
  padding: 0 !important;
  padding-block-end: var(--s1) !important;
  background: none !important;
  color: unset !important;
  transform: unset !important;
}

/* Filter heading styling */
.sidebar .views-exposed-form > .placeholder-container.form-item > label,
.sidebar .views-exposed-form > .form-wrapper fieldset.form-item legend,
.sidebar .views-exposed-form > fieldset.form-item legend,
.sidebar .views-exposed-form > details summary {
  padding-inline: 0;
  font-weight: 600;
}

/* Filter subheading styling */
.sidebar .views-exposed-form > .form-wrapper .form-wrapper .fieldset-wrapper .placeholder-container label {
  margin-block-start: var(--s0);
  margin-block-end: 0;
}

.sidebar .views-exposed-form > .form-wrapper fieldset.form-item legend span,
.sidebar .views-exposed-form > fieldset.form-item legend span {
  padding-inline: 0;
  padding-block-end: 0;
  margin-block-end: 0;
  border-block-end: none;
}

.sidebar .views-exposed-form fieldset.form-item .fieldset-wrapper {
  margin-block-start: 0;
}

.sidebar .views-exposed-form > div.form-item:last-child,
.sidebar .views-exposed-form > fieldset.form-item:last-child,
.sidebar .views-exposed-form > details:last-child {
  border-block-end: none;
}

.sidebar .views-exposed-form fieldset .fieldset-wrapper .form-item label {
  margin-block: 0 var(--s-3);
}
/* END - exposed filters in sidebar */

/* ===== One offs for specific views ====== */
/* BEGIN - Search page specific styling */
.view-results .view-results__results.with-sidebar > .sidebar {
  background-color: var(--color-base-light-xxx);
  padding-block: var(--s3);
  padding-inline: var(--s1);
}

.view-results.view-results--search_results .view-results__header {
  padding-block-start: var(--s4);
}


.view-results.view-results--search_results .view-results__results.with-sidebar > .sidebar {
  background-color: transparent;
  padding: 0;
}

.view-results.view-results--search_results > * + * {
  border-block-start: 2px dotted var(--color-base-light-x);
  margin-block-start: var(--s5);
  padding-block-start: var(--s4);
}
/* END - Search page specific styling */

/* BEGIN - advisory bodies */
.view-results.advisory_body_events .view-results__results .content > ol > li:first-child,
.view-results.advisory_body_events .view-results__results .content > ul > li:first-child {
  padding-block-start: 0 !important;
}

.view-results.advisory_body_events .view-results__results .content > ol,
.view-results.advisory_body_events .view-results__results .content > ol > li:first-child > ol,
.view-results.advisory_body_events .view-results__results .content > ul,
.view-results.advisory_body_events .view-results__results .content > ul > li:first-child > ul {
  margin-block-start: 0 !important;
}
/* BEGIN - advisory bodies */

/* BEGIN - facilities, ITC listing */
.view-results.facilities_listing.block_1, .view-results.past_proposals.block_1 {
  --sidebar-width: 46ch;
}
.view-results.facilities_listing.block_1 .view-results__results, .view-results.past_proposals.block_1 .view-results__results {
  --gap: 0;
}
/* END - facilities, ITC listing */
