.shoe {
  --color: var(--color-white);
  background: var(--color-primary-dark-xx);
}

.shoe .box {
  padding-block: var(--s-6);
}

.shoe .cluster {
  justify-content: space-between;
}

.shoe .box > .container > .cluster {
  align-content: flex-start;
  align-items: stretch;
}

.shoe .box > .cluster > .cluster {
  --gap: var(--s3);
}

.shoe p,
.shoe .secondary-nav > ul > li > a {
  --gap: var(--s0);
  font-size: calc(var(--s-2) + 1.5px);
}

.shoe > .box > .container > .wrapping {
  flex-direction: column;
  align-items: flex-start
}

.shoe > .box > .container > .wrapping .secondary-nav .secondary-nav__list__item a {
  padding-inline-start: 0;
}

.shoe > .box > .container > .wrapping .secondary-nav .secondary-nav__list {
  flex-direction: column;
}