.shoe {
    --color: var(--color-white);
    background: var(--color-black);
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.shoe .box {
    padding-block: var(--s-5);
}

.shoe .box > .cluster {
    row-gap: 0;
    justify-content: space-between;
}