{# Set up variant classes. #}
{% set variant_class = variant ? 'shoe--' ~ variant : 'shoe--default' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'shoe',
  variant_class,
] %}

<div {{ attributes.addClass(classes) }}>
  <div class="box">
    <div class="container">
      <div class="cluster">
        {% if global_branding_data is not empty %}
          {% include "@atoms/GlobalBranding/GlobalBranding.twig" with global_branding_data %}
        {% endif %}
        <div class="cluster">
          {% if secondary_nav_data is not empty %}
            {% include "@molecules/SecondaryNav/SecondaryNav.twig" with secondary_nav_data %}
          {% endif %}
          <p>&copy; {{ "now"|date("Y") }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
