{# This is just a layout example for the styleguide.
  Do not use this template directly. #}

<div class="cover cover-demo">
  {% if top %}
    {{ top }}
  {% endif %}
  {% if principal %}
    <div class="principal">
      {{ principal }}
    </div>
  {% endif %}
  {% if bottom %}
    {{ bottom }}
  {% endif %}
</div>
