<div class="cover cover-demo">
  {% if first %}
    {{ first }}
  {% endif %}
  {% if principal %}
    <div class="principal">
      {{ principal }}
    </div>
  {% endif %}
  {% if third %}
    {{ third }}
  {% endif %}
</div>
