{# Set up variant classes. #}
{% set variant_class = variant ? 'header--' ~ variant : 'header--default' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'header',
  variant_class,
] %}

<div class="{{ classes|join(' ') }}">
  <div class="box">
    <div class="container">
      <div class="header__secondary cluster">
        {% include "@atoms/SiteBranding/SiteBranding.twig" with site_branding_data %}
        {% if secondary_nav_data is not empty or translate %}
          <div class="header__secondary-nav cluster detect-wrap detect-wrap--observed">
            {% if translate %}
              <div class="header__secondary__translate">
                {% for feature in translate %}
                  {{ feature }}
                {% endfor %}
              </div>
            {% endif %}
            {% if secondary_nav_data is not empty %}
              {% include "@molecules/SecondaryNav/SecondaryNav.twig" with secondary_nav_data %}
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% include "@molecules/PrimaryNav/PrimaryNav.twig" with primary_nav_data %}
    </div>
  </div>
</div>
