{# Set up variant classes. #}
{% set variant_class = variant ? 'header--' ~ variant : 'header--default' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'header',
  variant_class,
] %}

<div class="{{ classes|join(' ') }}">
  
  <div class="header__upper box">
    <div class="container">
      <div class="cluster detect-wrap detect-wrap--observed">
        {% include "@atoms/SiteBranding/SiteBranding.twig" with site_branding_data %}
        {% if secondary_nav_data is not empty or translate or header_search_data %}
          <div class="header__secondary cluster detect-wrap detect-wrap--observed">
            {% if header_search_data %}
              {% include "@molecules/HeaderSearch/HeaderSearch.twig" with header_search_data %}
            {% endif %}
            {% if translate %}
              <div class="header__secondary__translate">
              {% for feature in translate %}
                {{ feature }}
              {% endfor %}
              </div>
            {% endif %}
            {% if secondary_nav_data is not empty %}
              <div class="header__secondary-nav">
                {% include "@molecules/SecondaryNav/SecondaryNav.twig" with secondary_nav_data %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if primary_nav_data is not empty %}
  <div class="header__lower box">
    <div class="container">
      {% include "@molecules/PrimaryNav/PrimaryNav.twig" with primary_nav_data %}
    </div>
  </div>
  {% endif %}

  {% if mobile_nav_data is not empty %}
  <div class="header__mobile">
    {% include "@atoms/NavTrigger/NavTrigger.twig" with nav_trigger_data %}
    {% include "@organisms/MobileNav/MobileNav.twig" with mobile_nav_data %}
  </div>
  {% endif %}
</div>
