.header {
  /* box-shadow: 4px 4px 10px 2px #aaa3; */
  position: relative;
  z-index: 3;
}

.header .box .container > * + * {
  margin-block-start: var(--s0);
}

.header__secondary {
  display: flex;
  justify-content: right;
  align-items: center;
}

.header__secondary-nav {
  gap: 0;
}

.header .secondary-nav .reel {
  padding-inline: 0;
}

.header .secondary-nav a {
  --color: var(--color-base-dark-x);
  --accent-color: var(--color-base);
  font-size: var(--s-1);
}

.header .cluster {
  justify-content: space-between;
}

.header .primary-nav__hamburger {
  margin-block-start: -3rem;
}

.header .header__translate-extra {
  margin-inline-start: var(--s0);
}

.header #google_translate_element > div {
  line-height: 0;
}

.header #google_translate_element > div > div {
  margin-block-end: 0.3rem;
}

.header .header__translate-extra select {
  margin: 0;
  padding-block: var(--s-6);
  appearance: auto;
  font-size: 12px;
}
